.advantages {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: linear-gradient(222.31deg, #F9556B 3.76%, #DA3831 82.36%);
  color: #FFFFFF;
  padding: 32px;
  border-radius: 10px;

  &_img {
    display: none;
  }

  .btn {
    background: #FFFFFF;
    color: #DA3831;
  }

  div {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
  }

  &>div, &>p, &>button {
    z-index: 5;
  }
}

@media (min-width: 1024px) {
  .advantages {
    background-size: cover;
    overflow: hidden;
    display: grid;
    gap: 28px;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "info btn"
      "text btn";

    &_img {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    div {
      grid-area: info;
    }

    .btn {
      grid-area: btn;
    }

    p {
      grid-area: text;
    }
  }
}