.advantages {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &_img {
    display: none;
  }

  &>div, &>p, &>button {
    z-index: 5;
  }
}

@media (min-width: 1024px) {
  .advantages {
    background: linear-gradient(222.31deg, #F9556B 3.76%, #DA3831 82.36%);
    background-size: cover;
    color: #FFFFFF;
    padding: 32px;
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    gap: 28px;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "info btn"
      "text btn";

    &_img {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    div {
      grid-area: info;
      font-size: 24px;
      line-height: 30px;
    }

    .btn {
      grid-area: btn;
      background: #FFFFFF;
      color: #DA3831;
    }

    p {
      grid-area: text;
    }
  }
}