.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    height: 68px;
    width: 100vw;
    z-index: 10;
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;

    &_container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1960px;
      margin: 0 auto;
    }

    &_logo {
      max-height: 52px;
      min-width: 52px
    }

    &_btns {
      display: none;
    }

    &_info {
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      padding-bottom: 4px;
  }
}

@media (min-width: 480px) {
  .header {
    padding: 12px 54px;
  }
}

@media (min-width: 1024px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 12px 80px;
    height: 90px;

    &_btns {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 0 30px;

      & h4 {
        margin-bottom: 0;
        font-size: 16px;
      }
    }
  }
}


