div.ceramic_title {
  height: 40vh;

  > img {
    height: 105%;
    max-width: fit-content;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  background-image: url("../../assets/img/index/logo_red.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;
}