.carousel {
  overflow: scroll;
  overflow-scrolling: touch;

  &_box {
    display: flex;
    align-items: center;
    width: max-content;
    flex-wrap: nowrap;
    gap: 8px;
    margin: 0 auto;
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 35vw;
    min-height: 25vh;
    color: #FFFFFF;
    padding: 12px;
    text-align: center;
    background-size: 105%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;

    * {
      color: #FFFFFF;
    }
  }
}

@media (min-width: 600px) {
  .carousel {

    &_item {
      width: 25vw;
    }
  }
}

@media (min-width: 768px) {
  .carousel {

    &_item {
      width: 20vw;
      max-width: 320px;
      height: 30vw;
      max-height: 350px;
    }
  }
}

@media (min-width: 1024px) {
  .carousel {

    &_item {
      padding: 25px;
    }
  }
}