.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &_item {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    max-width: 100%;
  }

  &_input {
    display: none;
  }

  &_controls {
    display: flex;
    position: absolute;
    bottom: 3%;

    &_item {
      display: inline-block;
      position: relative;
      border: 2px solid #FFFFFF;
      height: 12px;
      width: 12px;
      margin: 12px;
      border-radius: 50%;
      cursor: pointer;
      transition: ease-in-out .5s;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &.checked {
        background: #FFFFFF;
      }
    }
  }
}

input[type=radio]:checked + .slider_item {
  display: flex;
}
