.slipper {
  width: 100%;
  margin: 0 auto;
  height: 350px;
  position: relative;
  overflow: hidden;

  &_item {
    width: 100%;
    max-width: min(800px, 100vw);
    height: 350px;
    position: absolute;
    transition: all 0.5s;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.focused {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 30;
        max-width: 100%;
        max-height: 100%;
        outline: none;
        pointer-events: none;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -moz-user-select: none; user-select: none;

        //.slipper_blur {
        //  position: fixed;
        //  top: 0;
        //  left: 0;
        //  right: 0;
        //  bottom: 0;
        //  z-index: 30;
        //  background: rgba(240,240,240,.9);
        //  cursor: zoom-out;
        //}
      }
    }
  }

  &_input {
    display: none;
  }

  &_arrow {
    display: none;
  }

  &_controls {
    display: flex;
    position: absolute;
    bottom: -5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    &_item {
      display: inline-block;
      position: relative;
      border: 2px solid #FFFFFF;
      height: 12px;
      width: 12px;
      margin: 12px;
      border-radius: 50%;
      cursor: pointer;
      transition: ease-in-out .5s;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &.checked {
        background: #FFFFFF;
      }
    }
  }

  //&_blur {
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  z-index: 30;
  //  background: rgba(240,240,240,.9);
  //  cursor: zoom-out;
  //}
}

@media (min-width: 1024px) {
  .slipper {

    &_arrow {
      display: block;
      position: absolute;
      top: 50%;
      cursor: pointer;

      &.left {
        left: 8px;
      }

      &.right {
        right: 8px;
      }

      img {
        min-height: 32px;
      }
    }
  }
}