.spoiler {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &_item {
    display: flex;
    flex-direction: column;
    //gap: 10px;
    padding: 12px;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    & h3 {
      margin: 0;
      font-size: 16px;
      line-height: 19px;
      font-weight: 700;
    }
  }

  &_icon {
    margin-left: 5px;

    &.hidden {
      display: none;
    }
  }

  &_body {
    max-height: 300px;
    opacity: 1;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-transition: all .5s;
    transition: all .5s;

    &.hidden {
      max-height: 0;
      opacity: 0;
      padding-top: 0;
    }
  }
}

@media (min-width: 768px) {
  .spoiler {
    &_item {
      padding: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .spoiler {
    &_item {
      padding: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .spoiler {
    &_item {
      padding: 24px;
    }
  }
}