.video.slipper {

  &_arrow {
    //display: block;
    position: absolute;
    top: 50%;
    cursor: pointer;

    &.left {
      left: 8px;
    }

    &.right {
      right: 8px;
    }

    img {
      min-height: 32px;
    }
  }
}

iframe {
  height: 350px;
  border-radius: 10px;
}