include ../blocks/cards

-
  const cards = [
    {
      'text': `Более 20.000 довольных клиентов за 8 лет работы`,
      'icon': './assets/img/cards/smile.png'
    },
    {
      'text': 'Территория охраняется 24/7, вход в боксы по специальным ключам',
      'icon': './assets/img/cards/shield.png'
    },
    {
      'text': 'Официальная гарантия 1 год на все работы',
      'icon': './assets/img/cards/like.png'
    },
    {
      'text': 'Чистые и отапливаемые боксы с оборудованием',
      'icon': './assets/img/cards/hand.png'
    },
    {
      'text': 'Проверенные временем и климатом материалы',
      'icon': './assets/img/cards/clock.png'
    },
    {
      'text': 'Сервис в самом центре Петербурга',
      'icon': './assets/img/cards/location.png'
    }
  ]

section
  h2 Наши преимущества
  +cards(cards)

  p Оставьте заявку на бесплатную консультацию, и мы перезвоним вам в течение
    b  2х минут

  +btn('Оставить заявку *')

  p * Если заявка пришла после 9 вечера — перезвоним в 10 утра на следующий день

