include ../blocks/cards

-
  const cards = [
    {
      'text': `Более <b>20.000</b> довольных клиентов за 8 лет работы`,
      'icon': './assets/img/cards/smile.png'
    },
    {
      'text': '<b>Территория охраняется 24/7</b>, вход в боксы по специальным ключам',
      'icon': './assets/img/cards/shield.png'
    },
    {
      'text': 'Официальная <b>гарантия 1 год</b> на все работы',
      'icon': './assets/img/cards/like.png'
    },
    {
      'text': '<b>Чистые и отапливаемые боксы</b> с оборудованием',
      'icon': './assets/img/cards/hand.png'
    },
    {
      'text': '<b>Проверенные</b> временем и климатом материалы',
      'icon': './assets/img/cards/clock.png'
    },
    {
      'text': 'Сервис в самом <b>центре Петербурга</b>',
      'icon': './assets/img/cards/location.png'
    }
  ]

section
  h2 Наши преимущества
  +cards(cards)

  div.advantages
    div Оставьте заявку на
      b  бесплатную консультацию
      span , и мы перезвоним вам в течение
      b  2х минут

    +modalBtn('Оставить заявку *', 'min')

    p * Если заявка пришла после 9 вечера — перезвоним в 10 утра на следующий день
    img.advantages_img(src='./assets/img/index/phone.png')

