include ../blocks/cards

-
  const cards = [
    {
      'text': `Более <b>20.000</b> довольных клиентов за 9 лет работы`,
      'icon': './assets/img/cards/smile.webp'
    },
    {
      'text': '<b>Территория охраняется 24/7</b>, вход в боксы по специальным ключам',
      'icon': './assets/img/cards/shield.webp'
    },
    {
      'text': 'Официальная <b>гарантия 1 год</b> на все работы',
      'icon': './assets/img/cards/like.webp'
    },
    {
      'text': '<b>Чистые и отапливаемые боксы</b> с оборудованием',
      'icon': './assets/img/cards/hand.webp'
    },
    {
      'text': '<b>Проверенные</b> временем и климатом материалы',
      'icon': './assets/img/cards/clock.webp'
    },
    {
      'text': 'Сервис в самом <b>центре Петербурга</b>',
      'icon': './assets/img/cards/location.webp'
    }
  ];

section
  h2 Наши преимущества
  +cards(cards)

section
  +reviews()

section
  div.advantages
    div Оставьте заявку на бесплатную консультацию, и получите купон на
      b  2.000 ₽
      span  на бронирование фар

    +modalBtn('Оставить заявку *', 'consultation')

    p * Перезвоним в течение 10 минут. Если заявка пришла после 20:00 – перезвоним не позднее 11.00 на следующий день
    img.advantages_img(src='./assets/img/index/phone.webp', alt='phone')
