doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        meta(name="yandex-verification" content="9b63ad40fe1000ae")
        meta(name="description" content="Детейлинг автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование в СПб, выполнение задач любой сложности, гарантия на все виды услуг для авто, доступные цены и скидки")
        title Детейлинг автомобиля в Санкт-Петербурге — цена профессиональных услуг полного детейлинга авто в СПб
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
        link(rel="stylesheet" type='text/css' href="./css/style.min.css")
        link(rel="icon" href="./assets/icons/favicon.ico")
        //- SEO 
        link(rel="canonical" href="https://acpolimer.ru/")
        script(type="application/ld+json")
            include ../js/organizationSchema.json
        block variables

        script.
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                for (var j = 0; j < document.scripts.length; j++) {
                    if (document.scripts[j].src === r) {
                        return;
                    }
                }
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
            ym(91958676, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true,
                ecommerce: "dataLayer"
            });

            var _emv = _emv || [];
            _emv['campaign'] = 'e758533feded973ba4b0c779';

            (function () {
                var em = document.createElement('script');
                em.type = 'text/javascript';
                em.async = true;
                em.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'leadback.ru/js/leadback.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(em, s);
            })();

            var _tmr = window._tmr || (window._tmr = []);
            _tmr.push({id: "3350159", type: "pageView", start: (new Date()).getTime()});
            (function (d, w, id) {
                if (d.getElementById(id)) return;
                var ts = d.createElement("script");
                ts.type = "text/javascript";
                ts.async = true;
                ts.id = id;
                ts.src = "https://top-fwz1.mail.ru/js/code.js";
                var f = function () {
                    var s = d.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(ts, s);
                };
                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else {
                    f();
                }
            })(document, window, "tmr-code");

            !function () {
                var t = document.createElement("script");
                t.type = "text/javascript", t.async = !0, t.src = 'https://vk.com/js/api/openapi.js?169', t.onload = function () {
                    VK.Retargeting.Init("VK-RTRG-1792262-4hboc"), VK.Retargeting.Hit()
                }, document.head.appendChild(t)
            }();


    body(itemscope, itemtype="https://schema.org/WebSite")
        meta(itemprop="url", content="https://acpolimer.ru/")

        block content

        script(async src='./js/app.min.js')
