include ../blocks/button

-
    const ceramicExSlider = [{ className:"ceramica_ex_item", id: 1, img: './assets/img/index/ceramica_1.webp'},
                { className: "ceramica_ex_item", id: 2, img: './assets/img/index/ceramica_2.webp'},
                { className: "ceramica_ex_item", id: 3, img: './assets/img/ceramic/CeramicResults/1.webp'},
                { className: "ceramica_ex_item", id: 4, img: './assets/img/ceramic/CeramicResults/2.webp'},
                { className: "ceramica_ex_item", id: 5, img: './assets/img/ceramic/CeramicResults/3.webp'},
                { className: "ceramica_ex_item", id: 6, img: './assets/img/ceramic/CeramicResults/4.webp'}]

section.examples
    a.anchor(id='examples')
    h2 Наши работы
    div.examples_item
        +slipper(ceramicExSlider)
