footer.footer
  a.anchor(id='contacts')
  img(src='./assets/icons/logo-white.svg', alt="")

  div.footer_contacts
    h4
      b © «АЦ Полимер» 2021

    h5
      a(href="tel:+78122419767") +7 (812) 241-97-67
    h5
      a(target="_blank" href='https://yandex.com.ge/maps/-/CCUnEPT~gA') СПб, ул. Моховая 37 "Б"

  div.footer_links
    a(target='_blank' href="https://wa.me/79112543797?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%A5%D0%BE%D1%87%D1%83%20%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C%20%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%B5%D0%B5%20%D0%BE%20%D0%B2%D0%B0%D1%88%D0%B8%D1%85%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%D1%85.%20%D0%9C%D0%BE%D0%B6%D0%B5%D1%82%D0%B5%20%D0%BC%D0%BD%D0%B5%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%87%D1%8C?" )
      img(src="./assets/icons/whatsapp.svg" alt="")
