footer.footer
  img(src='./assets/icons/logo-white.svg', alt="")

  h4
    b © «АЦ Полимер» 2021
  h4
    a(href="tel:+78122419767") +7 (812) 241-97-67
  h4
    a(target="_blank" href='https://yandex.com.ge/maps/-/CCUnEPT~gA') СПб, ул. Моховая 37 "Б"

  div.footer_links
    a(href="/" )
      img(src="./assets/icons/mail.svg" alt="")
    a(href="/" )
      img(src="./assets/icons/insta.svg" alt="")
    a(href="/" )
      img(src="./assets/icons/telegram.svg" alt="")
    a(href="/" )
      img(src="./assets/icons/whatsapp.svg" alt="")
