//- SEO 
footer.footer(itemscope, itemtype="http://schema.org/WPFooter")
    img(src='./assets/icons/logo-white.svg', alt="")

    div.footer_menu
        div.footer_menu_block
            h4 Услуги

            a(href='/ceramic.html')
                p Керамическое покрытие
            a(href='/film.html')
                p Оклейка защитной пленкой
            a(href='/glass_repair.html')
                p Ремонт стекла
            a(href='/dry_cleaning.html')
                p Химчистка автомобиля
            a(href='/toning.html')
                p Тонировка
            a(href='/oklejka-interera-avto.html')
                p Оклейка интерьера
            a(href='/polishing.html')
                p Полировка автомобиля

        div.footer_menu_block
            h4 Информация

            a(href='/about.html')
                p О компании
            a(href='/prices.html')
                p Цены
            a(href='/materials.html')
                p Используемые средства
            a(href='/warranty.html')
                p Гарантии
            a(href='/reviews.html')
                p Отзывы
            a(href='/contacts.html')
                p Контакты
            a(href='/faq.html')
                p FAQ
            a(href='/site-map.html')
                p Карта сайта

    div.footer_contacts
        h4 Контакты

        a(href="tel:+79119239659")
            p
                img(src="./assets/icons/whatsapp.svg" alt="")
                b +7 (911) 923-96-59

        a(href="mailto:autocentrpolimer@mail.ru")
            p
                img(src="./assets/icons/mail.svg" alt="")
                b autocentrpolimer@mail.ru

        a(target="_blank"  href='https://yandex.com.ge/maps/-/CCUnEPT~gA')
            p
                img(src="./assets/icons/geo.svg" alt="")
                b СПб, ул. Моховая 37 "Б"

        p
            img(src="./assets/icons/visa.svg" alt="")
            img(src="./assets/icons/mastercard.svg" alt="")
            img(src="./assets/icons/mir.svg" alt="")

    div.footer_divider
        p © 2023 АЦ «Полимер». Все права защищены
        meta(itemprop="copyrightYear", content="2023")
        meta(itemprop="copyrightHolder", content="АЦ «Полимер»")
        p
            a(target="_blank"  href='/privacy_policy.html') Политика конфиденциальности и пользовательского соглашения
