header.header
    div.header_container
        a(href='/')
            div.header_logo
              img(src='./assets/icons/logo.svg', alt="")

        div.header_menu
            div.header_menu_block(itemscope, itemtype="http://schema.org/SiteNavigationElement")
                meta(itemprop="name", content="Навигационное Меню")
                a(href='/', itemprop="url")
                    h4(itemprop="name") Главная
                h4.header_menu_services Наши Услуги
                    svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                        g(id="Frame 103")
                            path(id="Polygon 3" d="M7.83342 12.5L1.48256 5.5L14.1843 5.5L7.83342 12.5Z" fill="currentColor")

                div.header_menu_services_list
                    p.header_menu_services_item Детейлинг
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                    div.header_menu_services_sublist
                        a(href='/detejling-kuzova.html', itemprop="url")
                            p(itemprop="name") Детейлинг кузова
                        a(href='/detejling-salona.html', itemprop="url")
                            p(itemprop="name") Детейлинг салона
                        a(href='/zhidkoe-steklo.html', itemprop="url")
                            p(itemprop="name") Детейлинг жидкое стекло
                        a(href='/premium_detailing.html', itemprop="url")
                            p(itemprop="name") Премиум детейлинг
                        a(href='/detejling-himchistka.html', itemprop="url")
                            p(itemprop="name") Детейлинг химчистка


                    p.header_menu_services_item Керамическое покрытие
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        p.header_menu_services_sublist_item Керамическое покрытие
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/ceramic.html', itemprop="url")
                                p(itemprop="name") Керамическое покрытие
                            a(href='/keramika-na-plenku.html', itemprop="url")
                                p(itemprop="name") Керамика на пленку
                            a(href='/keramika-dlya-far.html', itemprop="url")
                                p(itemprop="name") Керамическое покрытие для фар
                        a(href='/warranty.html', itemprop="url")
                            p(itemprop="name") Гарантия и уход за керамическим покрытием
                        //a(href='/ceramic-kuzova.html')
                        //    p Керамика кузова отзывы

                    p.header_menu_services_item Оклейка защитной пленкой
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        p.header_menu_services_sublist_item Защита авто пленкой
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/film.html', itemprop="url")
                                p(itemprop="name") Оклейка защитной пленкой
                            a(href='/zashita-kapota.html', itemprop="url")
                                p(itemprop="name") Защита капота
                            a(href='/zashita-kapota-plenkoj.html', itemprop="url")
                                p(itemprop="name") Защита капота пленкой
                        p.header_menu_services_sublist_item Бронирование авто
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/bronirovanie-kuzova-plenkoj.html', itemprop="url")
                                p(itemprop="name") Бронирование кузова
                            a(href='/bronirovanie-kapota-plenkoj.html', itemprop="url")
                                p(itemprop="name") Бронирование капота пленкой
                            a(href='/bronirovanie-stekol-plenkoj.html', itemprop="url")
                                p(itemprop="name") Бронирование лобового стекла
                            a(href='/bronirovanie-porogov-avto.html', itemprop="url")
                                p(itemprop="name") Бронирование порогов авто
                            a(href='/broneplenka-na-kryshu-avto.html', itemprop="url")
                                p(itemprop="name") Бронепленка на крышу авто
                        p.header_menu_services_sublist_item Антигравийная пленка
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/antigravijnaya-zashita-avto-plenkoj.html', itemprop="url")
                                p(itemprop="name") Антигравийная защита авто пленкой
                            a(href='/antigravijnaya-zashita-kuzova-avto.html', itemprop="url")
                                p(itemprop="name") Антигравийная защита кузова
                        p.header_menu_services_sublist_item Полиуретановая пленка
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/zashita-avtomobilya-poliuretanovoj-plenkoj.html', itemprop="url")
                                p(itemprop="name") Защита авто полиуретановой пленкой
                            a(href='/bronirovanie-far-poliuretanovoj-plenkoj.html', itemprop="url")
                                p(itemprop="name") Бронирование фар полиуретановой пленкой
                    
                    p.header_menu_services_item Установка доводчиков дверей
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/dovodchik-dveri-avtomobilya.html', itemprop="url")
                            p(itemprop="name") Установка доводчика двери автомобиля

                    p.header_menu_services_item Ремонт стекла
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/glass_repair.html', itemprop="url")
                            p(itemprop="name") Ремонт стекла
                        a(href='/remont-skolov-na-lobovom-stekle.html', itemprop="url")
                            p(itemprop="name") Ремонт сколов и трещин на лобовом стекле

                    p.header_menu_services_item Химчистка автомобиля
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        p.header_menu_services_sublist_item Химчистка салона
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/dry_cleaning.html', itemprop="url")
                                p(itemprop="name") Химчистка автомобиля
                            a(href='/himchistka-kozhanogo-salona.html', itemprop="url")
                                p(itemprop="name") Химчистка кожаного салона
                            a(href='/himchistka-potolka-salona.html', itemprop="url")
                                p(itemprop="name") Химчистка потолка салона
                            a(href='/himchistka-salona-so-snyatiem-sidenij.html', itemprop="url")
                                p(itemprop="name") Химчистка салона со снятием сидений
                            a(href='/himchistka-pola-avto.html', itemprop="url")
                                p(itemprop="name") Химчистка пола авто
                            a(href='/himchistka-rulya.html', itemprop="url")
                                p(itemprop="name") Химчистка руля
                            a(href='/himchistka-salona-i-vyvedenie-pyaten.html', itemprop="url")
                                p(itemprop="name") Химчистка салона авто с выведением пятен
                            a(href='/himchistka-bagazhnika.html', itemprop="url")
                                p(itemprop="name") Химчистка багажника
                            a(href='/polnaya-himchistka-avtomobilya.html', itemprop="url")
                                p(itemprop="name") Полная химчистка автомобиля
                        p.header_menu_services_sublist_item Химчистка сидений
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/himchistka-sidenij-avtomobilya.html', itemprop="url")
                                p(itemprop="name") Химчистка сидений автомобиля
                            a(href='/himchistka-voditelskogo-sideniya.html', itemprop="url")
                                p(itemprop="name") Химчистка водительского сидения
                            a(href='/himchistka-tkanevyh-sidenij-avtomobilya.html', itemprop="url")
                                p(itemprop="name") Химчистка тканевых сидений автомобиля
                            a(href='/himchistka-kozhanyh-sidenij-avtomobilya.html', itemprop="url")
                                p(itemprop="name") Химчистка кожаных сидений автомобиля
                            a(href='/himchistka-odnogo-sidenya.html', itemprop="url")
                                p(itemprop="name") Химчистка одного сиденья
                        a(href='/prices_dry_cleaning.html', itemprop="url")
                            p(itemprop="name") Цены химчистка авто

                    p.header_menu_services_item Антихром
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/toning-antihrom.html', itemprop="url")
                            p(itemprop="name") Антихром

                    p.header_menu_services_item Тонировка
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/toning.html', itemprop="url")
                            p(itemprop="name") Тонировка стёкол
                        p.header_menu_services_sublist_item Тонировка фар
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                                a(href='/tonirovka-far.html', itemprop="url")
                                    p(itemprop="name") Тонировка фар
                        p.header_menu_services_sublist_item Атермальная тонировка
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                                a(href='/atermalnaya-tonirovka.html', itemprop="url")
                                    p(itemprop="name") Атермальная тонировка
                                a(href='/atermalnaya-tonirovka-lobovogo-stekla.html', itemprop="url")
                                    p(itemprop="name") Атермальная тонировка лобового стекла
                                a(href='/atermalnaya-tonirovka-70-procentov.html', itemprop="url")
                                    p(itemprop="name") Атермальная тонировка 70 процентов
                        p.header_menu_services_sublist_item Тонировка стекол авто
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                                a(href='/tonirovka-lobovogo-stekla.html', itemprop="url")
                                    p(itemprop="name") Тонировка лобового стекла
                                a(href='/tonirovka-perednih-stekol.html', itemprop="url")
                                    p(itemprop="name") Тонировка передних стекол
                                a(href='/tonirovka-bokovyh-perednih-stekol.html', itemprop="url")
                                    p(itemprop="name") Тонировка боковых передних стекол
                        p.header_menu_services_sublist_item Растонировка авто
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                                a(href='/rastonirovka-stekol-avtomobilya.html', itemprop="url")
                                    p(itemprop="name") Растонировка стекол автомобиля
                                a(href='/rastonirovka-zadnih-stekol.html', itemprop="url")
                                    p(itemprop="name") Растонировка задних стекол
                        p.header_menu_services_sublist_item Процент затемнения
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/tonirovka-stekol-50-procentov.html', itemprop="url")
                                p(itemprop="name") 50 процентов
                            a(href='/tonirovka-stekol-15-procentov.html', itemprop="url")
                                p(itemprop="name") 15 процентов
                        a(href='/prices_toning.html', itemprop="url")
                            p(itemprop="name") Цены тонировка авто

                    p.header_menu_services_item Оклейка интерьера
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/oklejka-interera-avto.html', itemprop="url")
                            p(itemprop="name") Оклейка интерьера
                        a(href='/oklejka-monitora-avtomobilya-plenkoj.html', itemprop="url")
                            p(itemprop="name") Оклейка монитора автомобиля пленкой
                        a(href='/oklejka-plenkoj-pribornogo-shitka.html', itemprop="url")
                            p(itemprop="name") Оклейка пленкой приборного щитка

                    p.header_menu_services_item Полировка
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        p.header_menu_services_sublist_item Полировка авто
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/polishing.html', itemprop="url")
                                p(itemprop="name") Полировка автомобиля
                            a(href='/polirovka-hroma-na-avto.html', itemprop="url")
                                p(itemprop="name") Полировка хрома на авто
                            a(href='/glubokaya-polirovka-avto.html', itemprop="url")
                                p(itemprop="name") Глубокая полировка авто
                            a(href='/polirovka-kryshi-avtomobilya.html', itemprop="url")
                                p(itemprop="name") Полировка крыши
                            a(href='/polirovka-plenki-na-avto.html', itemprop="url")
                                p(itemprop="name") Полировка пленки на авто
                            a(href='/polirovka-dverej-avto.html', itemprop="url")
                                p(itemprop="name") Полировка дверей авто
                            a(href='/polirovka-far.html', itemprop="url")
                                p(itemprop="name") Полировка фар
                            a(href='/polirovka-kapota.html', itemprop="url")
                                p(itemprop="name") Полировка капота
                            a(href='/polirovka-bampera.html', itemprop="url")
                                p(itemprop="name") Полировка бампера
                        p.header_menu_services_sublist_item Полировка кузова
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/polirovka-kuzova.html', itemprop="url")
                                p(itemprop="name") Полировка кузова
                            a(href='/polirovka-belogo-kuzova.html', itemprop="url")
                                p(itemprop="name") Полировка белого кузова
                            a(href='/polirovka-chernogo-kuzova.html', itemprop="url")
                                p(itemprop="name") Полировка черного кузова
                            a(href='/myagkaya-polirovka-kuzova.html', itemprop="url")
                                p(itemprop="name") Мягкая полировка кузова
                            a(href='/glubokaya-polirovka-kuzova.html', itemprop="url")
                                p(itemprop="name") Глубокая полировка кузова
                            a(href='/polirovka-kuzova-avto-keramikoj.html', itemprop="url")
                                p(itemprop="name") Полировка кузова авто керамикой
                            a(href='/vosstanovitelnaya-polirovka.html', itemprop="url")
                                p(itemprop="name") Восстановительная полировка кузова
                            a(href='/polirovka-odnogo-elementa.html', itemprop="url")
                                p(itemprop="name") Полировка одного элемента кузова автомобиля
                        p.header_menu_services_sublist_item Полировка царапин на авто
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/polirovka-carapin.html', itemprop="url")
                                p(itemprop="name") Полировка царапин
                            a(href='/polirovka-stekla-avtomobilya-ot-carapin.html', itemprop="url")
                                p(itemprop="name") Полировка стекла автомобиля от царапин
                        p.header_menu_services_sublist_item Жидкое стекло
                            svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                                path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                        div.header_menu_services_sublist_sublist
                            a(href='/nanesenie-zhidkogo-stekla.html', itemprop="url")
                                p(itemprop="name") Нанесение жидкого стекла 
                            a(href='/polirovka-avto-zhidkim-steklom.html', itemprop="url")
                                p(itemprop="name") Полировка авто жидким стеклом
                            a(href='/polirovka-kuzova-zhidkim-steklom.html', itemprop="url")
                                p(itemprop="name") Полировка кузова жидким стеклом
                                    

                a(href='/#examples', itemprop="url")
                    h4(itemprop="name") Наши Работы
                a(href='/prices.html', itemprop="url")
                    h4(itemprop="name") Цены
                a(href='/contacts.html', itemprop="url")
                    h4(itemprop="name") Контакты

            div.mobile

            div(class='header_menu_block mobile')
                a(class="header_links_item" href="https://wa.me/79119239659?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%A5%D0%BE%D1%87%D1%83%20%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C%20%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%B5%D0%B5%20%D0%BE%20%D0%B2%D0%B0%D1%88%D0%B8%D1%85%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%D1%85.%20%D0%9C%D0%BE%D0%B6%D0%B5%D1%82%D0%B5%20%D0%BC%D0%BD%D0%B5%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%87%D1%8C?" )
                    img(src="./assets/icons/whatsapp.svg" alt="")
                div
                    a(target="_blank"  href='https://yandex.com.ge/maps/-/CCUnEPT~gA')
                        p
                            b СПб, ул. Моховая 37 "Б"
                    span с 9:00 до 21:00, без выходных

        div.header_links
            div.desk
                a(target="_blank"  href='https://yandex.com.ge/maps/-/CCUnEPT~gA')
                    p
                        b СПб, ул. Моховая 37 "Б"
                span с 9:00 до 21:00, без выходных

            div
                a(href="tel:+79119239659")
                    p
                        b +7 (911) 923-96-59

            a(class="header_links_item desk" href="mailto:autocentrpolimer@mail.ru")
                img(src="./assets/icons/mail.svg" alt="")

            a(class="header_links_item desk" href="https://wa.me/79119239659?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%A5%D0%BE%D1%87%D1%83%20%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C%20%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%B5%D0%B5%20%D0%BE%20%D0%B2%D0%B0%D1%88%D0%B8%D1%85%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%D1%85.%20%D0%9C%D0%BE%D0%B6%D0%B5%D1%82%D0%B5%20%D0%BC%D0%BD%D0%B5%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%87%D1%8C?" )
                img(src="./assets/icons/whatsapp.svg" alt="")

            div(class="header_links_item desk")
                img(src="./assets/icons/callme.svg" onclick=`modalOpen('consultation')` alt="")

            div.header_burger
                img(src="./assets/icons/burger.svg" alt="")
