header.header
    div.header_container
        a(href='/')
            div.header_logo
              img(src='./assets/icons/logo.svg', alt="")

        div.header_menu
            div.header_menu_block
                a(href='/')
                    h4 Главная
                h4.header_menu_services Наши Услуги
                    svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                        g(id="Frame 103")
                            path(id="Polygon 3" d="M7.83342 12.5L1.48256 5.5L14.1843 5.5L7.83342 12.5Z" fill="currentColor")

                div.header_menu_services_list
                    p.header_menu_services_item Детейлинг
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

                    div.header_menu_services_sublist
                        a(href='/detejling-kuzova.html')
                            p Детейлинг кузова
                        a(href='/detejling-himchistka.html')
                            p Детейлинг химчистка
                        a(href='/premium_detailing.html')
                            p Премиум детейлинг
                        a(href='/zhidkoe-steklo.html')
                            p Детейлинг жидкое стекло
                        a(href='/detejling-salona.html')
                            p Детейлинг салона

                    p.header_menu_services_item Керамическое покрытие
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/ceramic.html')
                            p Керамическое покрытие
                        a(href='/warranty.html')
                            p Гарантия и уход за керамическим покрытием
                        a(href='/keramika-na-plenku.html')
                            p Керамика на пленку
                        a(href='/keramika-dlya-far.html')
                            p Керамическое покрытие для фар
                        //a(href='/ceramic-kuzova.html')
                        //    p Керамика кузова отзывы

                    p.header_menu_services_item Оклейка защитной пленкой
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/film.html')
                            p Оклейка защитной пленкой
                        a(href='/bronirovanie-stekol-plenkoj.html')
                            p Бронирование лобового стекла
                        a(href='/bronirovanie-kuzova-plenkoj.html')
                            p Бронирование кузова
                        a(href='/bronirovanie-kapota-plenkoj.html')
                            p Бронирование капота пленкой
                        a(href='/bronirovanie-far-poliuretanovoj-plenkoj.html')
                            p Бронирование фар полиуретановой пленкой
                        a(href='/bronirovanie-porogov-avto.html')
                            p Бронирование порогов авто
                        a(href='/broneplenka-na-kryshu-avto.html')
                            p Бронепленка на крышу авто
                        a(href='/antigravijnaya-zashita-avto-plenkoj.html')
                            p Антигравийная защита авто пленкой
                        a(href='/antigravijnaya-zashita-kuzova-avto.html')
                            p Антигравийная защита кузова
                        a(href='/zashita-avtomobilya-poliuretanovoj-plenkoj.html')
                            p Защита авто полиуретановой пленкой

                    p.header_menu_services_item Ремонт стекла
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/glass_repair.html')
                            p Ремонт стекла
                        a(href='/remont-skolov-na-lobovom-stekle.html')
                            p Ремонт сколов и трещин на лобовом стекле

                    p.header_menu_services_item Химчистка автомобиля
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/dry_cleaning.html')
                            p Химчистка автомобиля
                        a(href='/prices_dry_cleaning.html')
                            p Цены химчистка авто
                        a(href='/himchistka-kozhanogo-salona.html')
                            p Химчистка кожаного салона
                        a(href='/himchistka-sidenij-avtomobilya.html')
                            p Химчистка сидений автомобиля
                        a(href='/himchistka-voditelskogo-sideniya.html')
                            p Химчистка водительского сидения
                        a(href='/himchistka-rulya.html')
                            p Химчистка руля

                    p.header_menu_services_item Тонировка
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/toning.html')
                            p Тонировка
                        a(href='/toning-antihrom.html')
                            p Антихром
                        a(href='/prices_toning.html')
                            p Цены тонировка авто

                    a(href='/oklejka-interera-avto.html')
                        p Оклейка интерьера

                    p.header_menu_services_item Полировка
                        svg(xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none")
                            path(d="M7.5 9L12.5 14L17.5 9" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                    div.header_menu_services_sublist
                        a(href='/polishing.html')
                            p Полировка автомобиля
                        a(href='/polirovka-kuzova.html')
                            p Полировка кузова
                        a(href='/polirovka-carapin.html')
                            p Полировка царапин
                        a(href='/polirovka-far.html')
                            p Полировка фар
                        a(href='/polirovka-kuzova-avto-keramikoj.html')
                            p Полировка кузова авто керамикой
                        a(href='/glubokaya-polirovka-avto.html')
                            p Глубокая полировка авто
                        a(href='/glubokaya-polirovka-kuzova.html')
                            p Глубокая полировка кузова
                        a(href='/myagkaya-polirovka-kuzova.html')
                            p Мягкая полировка кузова
                        a(href='/vosstanovitelnaya-polirovka.html')
                            p Восстановительная полировка кузова
                        a(href='/nanesenie-zhidkogo-stekla.html')
                            p Нанесение жидкого стекла 
                        a(href='/polirovka-avto-zhidkim-steklom.html')
                            p Полировка авто жидким стеклом
                        a(href='/polirovka-kuzova-zhidkim-steklom.html')
                            p Полировка кузова жидким стеклом
                        a(href='/polirovka-belogo-kuzova.html')
                            p Полировка белого кузова 
                        a(href='/polirovka-chernogo-kuzova.html')
                            p Полировка черного кузова
                                    

                a(href='/#examples')
                    h4 Наши Работы
                a(href='/prices.html')
                    h4 Цены
                a(href='/contacts.html')
                    h4 Контакты

            div.mobile

            div(class='header_menu_block mobile')
                a(class="header_links_item" href="https://wa.me/79119239659?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%A5%D0%BE%D1%87%D1%83%20%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C%20%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%B5%D0%B5%20%D0%BE%20%D0%B2%D0%B0%D1%88%D0%B8%D1%85%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%D1%85.%20%D0%9C%D0%BE%D0%B6%D0%B5%D1%82%D0%B5%20%D0%BC%D0%BD%D0%B5%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%87%D1%8C?" )
                    img(src="./assets/icons/whatsapp.svg" alt="")
                div
                    a(target="_blank"  href='https://yandex.com.ge/maps/-/CCUnEPT~gA')
                        p
                            b СПб, ул. Моховая 37 "Б"
                    span с 9:00 до 21:00, без выходных

        div.header_links
            div.desk
                a(target="_blank"  href='https://yandex.com.ge/maps/-/CCUnEPT~gA')
                    p
                        b СПб, ул. Моховая 37 "Б"
                span с 9:00 до 21:00, без выходных

            div
                a(href="tel:+79119239659")
                    p
                        b +7 (911) 923-96-59

            a(class="header_links_item desk" href="mailto:autocentrpolimer@mail.ru")
                img(src="./assets/icons/mail.svg" alt="")

            a(class="header_links_item desk" href="https://wa.me/79119239659?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%A5%D0%BE%D1%87%D1%83%20%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C%20%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%B5%D0%B5%20%D0%BE%20%D0%B2%D0%B0%D1%88%D0%B8%D1%85%20%D1%83%D1%81%D0%BB%D1%83%D0%B3%D0%B0%D1%85.%20%D0%9C%D0%BE%D0%B6%D0%B5%D1%82%D0%B5%20%D0%BC%D0%BD%D0%B5%20%D0%BF%D0%BE%D0%BC%D0%BE%D1%87%D1%8C?" )
                img(src="./assets/icons/whatsapp.svg" alt="")

            div(class="header_links_item desk")
                img(src="./assets/icons/callme.svg" onclick=`modalOpen('consultation')` alt="")

            div.header_burger
                img(src="./assets/icons/burger.svg" alt="")
