extends ./app

block content
    script.
        const modalOpen = (size) => {
            ym(91958676, 'reachGoal', 'form')
            document.querySelector(`.modal.blur`).classList.remove("hidden")
            document.querySelector(`.modal.${size}`).classList.remove("hidden")
        }

    div.container
        include header

        include ../blocks/_libs
        block main

        include footer

        include modal
