extends ./app

block content
    script.
        const modalOpen = (type, gift) => {
            var _tmr = window._tmr || (window._tmr = []);
            _tmr.push({ type: 'reachGoal', id: 3350159, goal: 'form'});

            ym(91958676, 'reachGoal', 'form')

            document.querySelector(`.modal.blur`).classList.remove("hidden")

            const opened = document.querySelector(`.modal.${type}`);
            opened.classList.remove("hidden");
            opened.children[1].classList.remove('hidden')
            if (gift) opened.classList.add('gift')
        }

    div.container  
        //- important order >> const header = container.firstElementChild; 
        include header

        include ../blocks/_libs

        block main

        include footer

        include modal

        include checklist
