include ../blocks/button

section
    h2
        span.accent Защитите
        span  свой автомобиль

    .longitude
        .longitude_content
            img(src='./assets/img/index/car.webp', alt="")

    p Детейлинг сохранит авто в первозданном виде и защитит лакокрасочное покрытие от царапин, сколов, ржавчины и многого другого
    +modalBtn('Оставить заявку', 'full')