section
    div.reviews-custom
        div.reviews-custom_box
            div(class=`reviews-custom_item`)
                img(src='./assets/icons/quote.svg')
                p В эту фирму обращаюсь не первый раз, так как все понравилось при первом обращении. Сейчас сделал тонировку стекол на Volvo и защитил фары пленкой. Работа сделана отлично, огромное спасибо.

                div.reviews-custom_person
                    img.reviews-custom_photo(src='./assets/img/reviews/review_1.webp')
                    h4 ДМИТРИЙ

            div(class=`reviews-custom_item`)
                img(src='./assets/icons/quote.svg')
                p Постоянно езжу на мойку и детейлинг Машины, все делают в срок, отличное место

                div.reviews-custom_person
                    img.reviews-custom_photo(src='./assets/img/reviews/review_2.webp')
                    h4 SLAVA KISELEV

            div(class=`reviews-custom_item`)
                img(src='./assets/icons/quote.svg')
                p В центр я обращалась на тонировку стекол автомобиля. По телефону меня подробно проконсультировал Александ, полностью мне все рассказал, ответил на все вопросы. Мне сразу после звонка приняли, быстро провели тонировку. Еще и предоставили скидки на услуги. Качеством услуги я осталась довольна.

                div.reviews-custom_person
                    img.reviews-custom_photo(src='./assets/img/reviews/review_3.webp')
                    h4 Анастасия

            div(class=`reviews-custom_item`)
                img(src='./assets/icons/quote.svg')
                p Хороший коллектив, качественная и аккуратное отношение к автомобилю приемлемые цены на обслуживание, есть горячий чай, кофе

                div.reviews-custom_person
                    img.reviews-custom_photo(src='./assets/img/reviews/review_1.webp')
                    h4 АНДРЕЙ

            div(class=`reviews-custom_item`)
                img(src='./assets/icons/quote.svg')
                p Ребята молодцы! Очень хорошо отполировали машину. Теперь только к ним. Всем советую!

                div.reviews-custom_person
                    img.reviews-custom_photo(src='./assets/img/reviews/review_2.webp')
                    h4 ПАВЕЛ

            div(class=`reviews-custom_item`)
                img(src='./assets/icons/quote.svg')
                p Ровные ребята которые с душой относятся к своей работе. Отлично понимают что такое сфера услуг и постоянно прогрессируют.

                div.reviews-custom_person
                    img.reviews-custom_photo(src='./assets/img/reviews/review_3.webp')
                    h4 РОМАН К.