mixin cards(items, position)
    div(class=`cards ${position}`)
        each item in items
            div(class='cards_item frame')
                h4=item.header ? item.header : ' '
                img(class='cards_icon' src=item.icon alt="#")
                p!=item.text