section.calc-price
  .wrapper
    h2.calc-price__title Узнайте стоимость защиты своего автомобиля за 60 секунд
      br
      | + получите гарантированную скидку
    .calc-price__text Это бесплатно и ни к чему не обязывает

    // Прогресс бар
    .quiz-progress
      .progress-bar
      .progress-text Расчет пройден на 
        span 0%
    
    // Форма квиза
    form#quiz(method='POST', action='#')
      // Вопрос 1
      .quiz-question.active(data-question-id='1', data-question-step='1')
        .question-title
          span Вопрос 1
          p Укажите размер вашего автомобиля
        // Варианты ответов
        .answers-container
          .answers-wrap
            label.answers-item
              input(type='radio', name='question_1', value='Мини', onclick='goToNextQuestion(2)')
              span Мини
          label.answers-item
              input(type='radio', name='question_1', value='Седан', onclick='goToNextQuestion(2)')
              span Седан
          label.answers-item
              input(type='radio', name='question_1', value='Бизнес-класс', onclick='goToNextQuestion(2)')
              span Бизнес-класс
          label.answers-item
              input(type='radio', name='question_1', value='Кроссовер', onclick='goToNextQuestion(2)')
              span Кроссовер
          label.answers-item
              input(type='radio', name='question_1', value='Джип', onclick='goToNextQuestion(2)')
              span Джип
          label.answers-item
              input(type='radio', name='question_1', value='Микроавтобус', onclick='goToNextQuestion(2)')
              span Микроавтобус

      // Вопрос 2
      .quiz-question(data-question-id='2', data-question-step='2', style='display: none;')
        .question-title
          span Вопрос 2
          p Какого года ваш автомобиль?
        // Варианты ответов
        .answers-container
          .answers-wrap
            label.answers-item
              input(type='radio', name='question_2', value='Новый автомобиль', onclick='goToNextQuestion(3)')
              span Новый автомобиль
          label.answers-item
              input(type='radio', name='question_2', value='Младше 3х лет', onclick='goToNextQuestion(3)')
              span Младше 3х лет
          label.answers-item
              input(type='radio', name='question_2', value='Старше 3х лет', onclick='goToNextQuestion(3)')
              span Старше 3х лет
        // Кнопки навигации
        .question-control
          .btn-wrap
            button.prev-btn(type='button', onclick='goToPreviousQuestion(1)') Назад

      // Вопрос 3
      .quiz-question(data-question-id='3', data-question-step='3', style='display: none;')
        .question-title
          span Вопрос 3
          p Выберите основные элементы для бронирования
        // Варианты ответов
        .answers-container
          .answers-wrap
            label.answers-item
              input(type='radio', name='question_3', value='Econom', onclick='goToNextQuestion(4)')
              span Econom: Фары + Полоса на капот
          label.answers-item
              input(type='radio', name='question_3', value='Standart', onclick='goToNextQuestion(4)')
              span Standart: Капот + Бампер + Фары + Зеркала
          label.answers-item
              input(type='radio', name='question_3', value='Optimum', onclick='goToNextQuestion(4)')
              span Optimum: Капот + Бампер + Фары + Крылья + Зеркала + Под ручками
          label.answers-item
              input(type='radio', name='question_3', value='Maximum', onclick='goToNextQuestion(4)')
              span Maximum: Весь автомобиль
        // Кнопки навигации
        .question-control
          .btn-wrap
            button.prev-btn(type='button', onclick='goToPreviousQuestion(2)') Назад

      // Вопрос 4
      .quiz-question(data-question-id='4', data-question-step='4', style='display: none;')
        .question-title
          span Вопрос 4
          p Выберите дополнительный элемент для бронирования
        // Варианты ответов
        .answers-container
          .answers-wrap
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Крышка багажника')
              span Крышка багажника
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Стойки')
              span Стойки
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Порог внутренний')
              span Порог внутренний
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Фары')
              span Фары
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Зеркала')
              span Зеркала
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Крыша')
              span Крыша
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Зона погрузки багажника')
              span Зона погрузки багажника
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Порог внешний')
              span Порог внешний
            label.answers-item
              input(type='checkbox', name='question_4[]', value='Кромки дверей')
              span Кромки дверей
        // Кнопки навигации
        .question-control
          .btn-wrap
            button.prev-btn(type='button', onclick='goToPreviousQuestion(3)') Назад
          .btn-wrap
            button.next-btn(type='button', onclick='goToNextQuestion(5)') Далее

      // Вопрос 5
      .quiz-question(data-question-id='5', data-question-step='5', style='display: none;')
        .question-title
          span Вопрос 5
          p Выберите себе подарок
        // Варианты ответов
        .answers-container
          .answers-wrap
            label.answers-item
              input(type='radio', name='question_5', value='Купон 2.000₽ на оклейку фар', onclick='goToNextQuestion(6)')
              span Купон 2.000₽ на оклейку фар
          label.answers-item
              input(type='radio', name='question_5', value='Мойка премиум за 1.900 ₽', onclick='goToNextQuestion(6)')
              span Мойка премиум за 1.900 ₽
          label.answers-item
              input(type='radio', name='question_5', value='Антидождь', onclick='goToNextQuestion(6)')
              span Антидождь
        // Кнопки навигации
        .question-control
          .btn-wrap
            button.prev-btn(type='button', onclick='goToPreviousQuestion(4)') Назад

      // Финальный шаг
      .quiz-question(data-question-id='6', data-question-step='6', style='display: none;')
        .quiz-final
          .quiz-final__content
            .quiz-final__text Оставьте контакты и получите результат расчета
            .quiz-final__title + гарантированный подарок для вашего автомобиля
            .quiz-final__form
              .form-top
                label.form-top__item
                  input(type='radio', name='social', value='WhatsApp', checked)
                  span WhatsApp
                label.form-top__item
                  input(type='radio', name='social', value='Viber')
                  span Viber
                label.form-top__item
                  input(type='radio', name='social', value='Telegram')
                  span Telegram
              .form-container
                input.form-input(type='text', name='name', placeholder='Ваше имя', required)
                input.form-input(type='tel', name='phone', placeholder='Ваш телефон в WhatsApp', required)
                button.form-btn(type='submit') Получить результат расчета
              .form-checkbox
                label
                  input(type='checkbox', name='agreement', checked)
                  | Cогласен с условиями 
                  a(href='/privacy_policy.html', target='_blank') политики конфиденциальности данных

script.
  function goToNextQuestion(nextQuestionId) {
    document.querySelectorAll('.quiz-question').forEach(function(el) {
      el.style.display = 'none';
    });
    document.querySelector('.quiz-question[data-question-id="' + nextQuestionId + '"]').style.display = 'block';
    // Обновление прогресс-бара
    var totalSteps = 6;
    var progress = (nextQuestionId - 1) / totalSteps * 100;
    document.querySelector('.progress-bar').style.width = progress + '%';
    document.querySelector('.progress-text span').innerText = Math.round(progress) + '%';
  }

  function goToPreviousQuestion(prevQuestionId) {
    document.querySelectorAll('.quiz-question').forEach(function(el) {
      el.style.display = 'none';
    });
    document.querySelector('.quiz-question[data-question-id="' + prevQuestionId + '"]').style.display = 'block';
    // Обновление прогресс-бара
    var totalSteps = 6;
    var progress = (prevQuestionId - 1) / totalSteps * 100;
    document.querySelector('.progress-bar').style.width = progress + '%';
    document.querySelector('.progress-text span').innerText = Math.round(progress) + '%';
  }