mixin reviews()
    div(style=`width:100%;max-width:700px;height:100%;margin: 0 auto;`)
        iframe(class='frame reviews' src=`https://yandex.ru/maps-reviews-widget/1343188006?comments`)
        a(href=`https://yandex.ru/maps/org/polimer/1343188006/`
            style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box"
            rel='noreferrer' target="_blank") Полимер на карте Санкт‑Петербурга — Яндекс Карты

