mixin table(columns, data)
    div.table
        div.table_header
            each column in Object.keys(columns)
                div.table_header_cell=columns[column]

        div.table_body
            - if (Array.isArray(data))
                each row in data
                    div.table_body_row
                        each cell in Object.keys(row)
                            div.table_body_cell=row[cell]

            - else
                each group in Object.keys(data)
                    div.table_body_group=data[group].group

                    each row in data[group].data
                        div.table_body_row
                            each cell in Object.keys(row)
                                div.table_body_cell=row[cell]