extends components/layout

block variables
    -
        const toningPrimarySlider = [{ className: "toning_title", id: 1, img: './assets/img/toning/primary_3.webp'},
            { className: "toning_title", id: 2, img: './assets/img/toning/primary_4.webp'}]
    -
        const toningPoints = [{ id: 1, text: '<b>Защита</b> обивки салона от выгорания на солнце'},
            { id: 2, text: '<b>Создание личного пространства</b>, вам станет комфортнее находиться внутри салона'},
            { id: 3, text: '<b>Укрепление</b> стекол от сколов и ударов'},
            { id: 4, text: '<b>Конфиденциальность:</b> тонировка боковых и задних стекол снижает привлекательность ТС для злоумышленников, скрывая от посторонних глаз вещи, оставленные внутри'}]
    -
        const toningSteps = [{ className: 'toning_step', id: 1, text: 'Приём автомобиля', desc: 'Мойка и обезжиривание автомобиля', img: './assets/img/toning/step_1.webp'},
            { className: 'toning_step', id: 2, text: 'Подготовка пленки', desc: 'Определяемся с материалом тонировки', img: './assets/img/toning/step_2.webp'},
            { className: 'toning_step', id: 3, text: 'Установка пленки', desc: 'В зависимости от выбранного материала и объема работ тонирование занимает от 1 до 3 часов', img: './assets/img/toning/step_3.webp'},
            { className: 'toning_step', id: 4, text: 'Выдача автомобиля клиенту', desc: 'Чистится ЛКП с помощью специальной глины, обезжиривание поверхностипервого слоя керамики', img: './assets/img/toning/step_4.webp'}]
    -
        const toningExSlider = [{ className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.webp'},
            { className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.webp'},
            { className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.webp'},
            { className: "toning_ex_item", id: 4, img: './assets/img/toning/ToningResults/1.webp'},
            { className: "toning_ex_item", id: 5, img: './assets/img/toning/ToningResults/2.webp'},
            { className: "toning_ex_item", id: 6, img: './assets/img/toning/ToningResults/3.webp'}]
    -
        const toningPrices = [{ name: 'mini', price: 'от 5 000 ₽' },
            { name: 'first', price: 'от 5 500 ₽' },
            { name: 'second', price: 'от 6 000 ₽' },
            { name: 'business', price: 'от 7 000 ₽' },
            { name: 'grand', price: 'от 9 000 ₽' }]
    -
        const toningFAQ = [{ header: 'Есть ли гаратия на атермальную тонировку 70%?', body: 'Да, мы даем гарантию 1 год на нашу работу и 5 лет гарантии на пленку.'},
            { header: 'Сколько занимает процесс атермальной тонировки 70%?', body: 'Зависит от марки автомобиля и количества стекол, которые необходимо затонировать. Одно стекло — от 20 минут. Атермальная тонировка 70% всех стекол займет до трех часов.'},
            { header: 'Можно ли тонировать передние стекла автомобиля?', body: 'Есть ряд ограничений. Самое главное —это светопропускаемость. Для лобового стекла она должна быть не менее 75%'},
            { header: 'Пленка клеется снаружи или изнутри?', body: 'Тонирующая и атермальная пленка клеятся изнутри. Бронирующая — снаружи.'},
            { header: 'Когда можно мыть автомобиль после атермальной тонировки 70%?', body: '- После оклейки пленками изнутри мыть автомобиль можно сразу. <br/>- При установке Пленок снаружи — через 7 суток.'},
            { header: 'Как ухаживать за атермальной пленкой 70%?', body: 'Протирать чистой мягкой тряпкой. Возможно применение чистящих средств для стекол.'}]
    -
        const toningCarFAQ = [{
            header: 'Что такое атермальная тонировка и для чего ее используют?',
            body: '<p>Атермальная тонировка 70 процентов — передовое решение в сфере тонирования автомобильных стекол. Отличается от обычной тонировки тем, что активно снижает проникновение солнечного излучения в салон автомобиля, обеспечивая комфорт водителю и пассажирам, а также защиту материалам.</p><p>Атермальная пленка 70% состоит из нескольких слоев, включая металлизированный, который обеспечивает высокую степень отражения солнечных лучей. Этот слой, в сочетании с другими материалами, делает атермальную пленку эффективным средством защиты салона от воздействия ультрафиолетовых лучей и избыточного тепла.</p>',
          },
          {
            header: 'Преимущества атермального тонирования автомобильных стекол',
            body: '<ul><li>Защита от солнечных лучей. Специальная конструкция термопленки блокирует вредное воздействие ультрафиолетовых лучей, предотвращая перегрев салона.</li><li>Атермальные тонировочные материалы, используемые автоцентром, соответствуют всем необходимым стандартам безопасности и ГОСТу, гарантируя высокий уровень качества.</li><li>Уровень комфорта в салоне повышается за счет поддержания оптимальной температуры, а стиль автомобиля подчеркивается элегантным внешним видом.</li></ul>',
          },
          {
            header: 'Этапы работ',
            body: '<ul><li>Выбор типа атермальной пленки. Специалисты АЦ “Полимер” помогут выбрать подходящий тип покрытия, учитывая предпочтения и особенности эксплуатации.</li><li>Подготовка. Профессиональная очистка стекол и салона для обеспечения максимального сцепления атермальной пленки.</li><li>Установка. Опытные специалисты тщательно наносят пленку с учетом всех технологических особенностей.</li><li>Контроль качества. После завершения работ проводится проверка уровня прозрачности, отсутствия пузырей и других дефектов.</li></ul><p>Проведенная атермальная тонировка стекол 70% в АЦ “Полимер” — не просто улучшение внешнего вида автомобиля, но и забота о комфорте и безопасности во время езды.</p>',
          },
          {
            header: 'Услуги АЦ “Полимер”',
            body: '<p>Автоцентр предлагает широкий спектр услуг в Санкт-Петербурге, включая комплексный детейлинг автомобилей. Осуществляем тонировку лобового стекла, задних, передних и боковых стекол.</p><p>Специалисты понимают, насколько важно время для клиентов центра. Поэтому профессионалы выполняют тонировку быстро и качественно, соблюдая все технологические требования. Услуги тонировки подходят для автомобилей различных брендов, включая представительский и бизнес-класс. Мы подберем подходящие материалы и подчеркнем стиль вашего кроссовера, купе или любого другого типа кузова. Используя высококачественные тонировочные покрытия, обеспечиваем отличное светопропускание, сохраняя при этом видимость и комфорт в салоне.</p><p>Профессиональный детейлинг в АЦ “Полимер” предполагает комплекс разнообразных услуг:</p><ul><li>Защитное покрытие для кузова — бронирование поверхностей для защиты автомобиля от царапин, частичных повреждений и всевозможных неблагоприятных внешних воздействий.</li><li>Красота и комфорт в салоне за счет профессиональной оклейки элементов интерьера материалами высокого качества.</li><li>Комплексный подход к ремонту и обновлению, гарантия на используемые материалы и работы.</li></ul><p>Услуги в автоцентре “Полимер” — гарантия качества и профессионализма.</p><p>Мы работаем с лучшими материалами и инструментами, применяем современные технологии и следим за новыми тенденциями в сфере детейлинга. Больше информации о наших услугах, ценах и акциях вы можете найти на сайте или уточнить у менеджера, связавшись с ним по телефону.</p>'}]





block main
    script.
        document.title = "Атермальная тонировка 70 процентов в СПб — цена тонировки стекол авто атермальной пленкой 70%";
        document.getElementsByTagName('meta')["description"].content ="Атермальная тонировка лобового стекла в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Атермальная тонировка 70 процентов
        +slipper(toningPrimarySlider)

        div.main_content
            p Обеспечьте дополнительную
                b  безопасность автомобилю
                span  с помощью атермальной тонировки стекол 70%

            +modalBtn('Оставить заявку', 'full')

    section
        h2 Преимущества атермальной тонировки стекол 70%
        +points(toningPoints)


    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            div Мы используем
                b  сертифицированные материалы разрешенные ГОСТом
                span  и тонируем стекла автомобиля с учетом всех требований законодательства

    section
        h2 Виды тонировочных пленок

        div.info_box
            div(class='cards_item frame')
                h4 атермальная
                img.frame(src='./assets/img/toning/types_1.webp')
                p Прозрачная пленка для защиты салона от выгорания, разрешена ГОСТом
            div(class='cards_item frame')
                h4 тонирующая
                img.frame(src='./assets/img/toning/types_2.webp')
                p Темная пленка для защиты салона от солнечных лучей и посторонних глаз
            div(class='cards_item frame')
                h4 бронирующая
                img.frame(src='./assets/img/toning/types_3.webp')
                p Прозрачная пленка для защиты пассажиров от осколков стекла при аварии и для предотвращения проникновения. Бронированное стекло противостоит ударам кулаками, ногами, камнями и палками.

    section
        h2 Этапы оклейки
        +carousel(toningSteps)

    section
        h2 Результаты
        +slipper(toningExSlider)

    section
        h2 Стоимость евротонировки
        +prices(toningPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        h2 Бренды тонировочных пленок
        div.usage
            img(src='./assets/img/toning/brand_1.webp', alt="")
            img(src='./assets/img/toning/brand_2.webp', alt="")
            img(src='./assets/img/toning/brand_3.webp', alt="")
            img(src='./assets/img/toning/brand_4.webp', alt="")
            img(src='./assets/img/toning/brand_5.webp', alt="")
            img(src='./assets/img/toning/brand_6.webp', alt="")
            img(src='./assets/img/toning/brand_7.webp', alt="")

    section
        a.btn(href='prices_toning.html' style='color: #fff') Таблица с ценами

    include ./components/advantages

    section
        h2 Популярные вопросы
        +microFaq(toningFAQ)

    section
        h2 Атермальная тонировка 70%
        +spoiler(toningCarFAQ)
