extends components/layout

block variables
    -
        const ceramicPrimarySlider = [{ className: "ceramic_title", id: 1, img: './assets/img/ceramic/primary_1.png'},
            { className: "ceramic_title", id: 2, img: './assets/img/ceramic/primary_2.png'},
            { className: "ceramic_title", id: 3, img: './assets/img/ceramic/primary_3.png'},
            { className: "ceramic_title", id: 4, img: './assets/img/ceramic/primary_4.png'}]
    -
        const ceramicPoints = [{ id: 1, text: '<b>Защита</b> от  выцветания, абразивов, коррозии и насекомых'},
             { id: 2, text: '<b>Cамоочищение</b> — на ЛКП не скапливается вода, грязь, битум, дорожная сажа. Защита от дорожных реагентов, масел, ГСМУ '},
             { id: 3, text: '<b>Улучшение</b> внешнего вида автомобиля — покрытие увеличивает глубину цвета, сохраняет блеск и гладкость краски'},
             { id: 4, text: '<b>Сохранение</b> свойств покрытия в течение 1 года с момента нанесения'},
             { id: 5, text: '<b>Новизна</b> — с керамическим покрытием автомобиль будет выглядеть, как новый'}]
    -
        const ceramicSteps = [{ className: 'ceramic_step', id: 1, text: 'Подготовка поверхности', desc: 'Мойка, обезжиривание автомобиля, очистка ЛКП специальной глиной от остатков загрязнений', img: './assets/img/ceramic/step_1.png'},
            { className: 'ceramic_step', id: 2, text: 'Полировка кузова', desc: 'Устранение царапин и паутины с ЛКП автомобиля', img: './assets/img/ceramic/step_2.png'},
            { className: 'ceramic_step', id: 3, text: 'Промежуточная мойка', desc: 'Удаление остатков пасты, сушка перед нанесением керамики', img: './assets/img/ceramic/step_3.png'},
            { className: 'ceramic_step', id: 4, text: 'Первый слой керамики', desc: 'Подкрашивание сколов в цвет автомобиля, нанесение первого слоя керамики', img: './assets/img/ceramic/step_4.png'},
            { className: 'ceramic_step', id: 5, text: 'Сушка под лампами', desc: 'Подготовка автомобиля ко второму слоя покрытия', img: './assets/img/ceramic/step_5.png'},
            { className: 'ceramic_step', id: 6, text: 'Второй слой керамики', desc: 'Придание авто безупречного внешнего вида и гидрофобных свойств', img: './assets/img/ceramic/step_6.png'},
            { className: 'ceramic_step', id: 7, text: 'Финальная сушка', desc: 'Образование прочной прозрачной пленки в течение 12 часов', img: './assets/img/ceramic/step_7.png'},
            { className: 'ceramic_step', id: 8, text: 'Выдача автомобиля клиенту', desc: 'Полная готовность через 2-е суток. Индивидуальные исключения обсуждаются перед началом работ', img: './assets/img/ceramic/step_8.png'}]
    -
        const ceramicExSlider = [{ className: "ceramica_ex_item", id: 1, img: './assets/img/index/ceramica_1.png'},
            { className: "ceramica_ex_item", id: 2, img: './assets/img/index/ceramica_2.png'}]
    -
         const ceramicPrices = [{ name: 'mini', price: '28 000 — 34 000 ₽' },
             { name: 'first', price: '32 000 — 38 000 ₽' },
             { name: 'second', price: '36 000 — 42 000 ₽' },
             { name: 'business', price: '44 000 — 50 000 ₽' },
             { name: 'grand', price: '54 000 — 60 000 ₽' }]
    -
        const ceramicFAQ = [{ header: 'Как долго автомобиль будет выглядеть хорошо?', body: 'Зависит от интенсивности моек и эксплуатации. Керамическое покрытие на автомобиле держится от одного года. А при соблюдении правильных условий эксплуатации и ухода может спокойно продержаться до двух лет'},
            { header: 'Что происходит, когда кончается срок службы покрытия?', body: 'Покрытие равномерно стирается'},
            { header: 'Можно ли мыть авто на автомойках с щетками?', body: 'Нежелательно. Лучше отказаться от щеточных моек и моек «из ведра»'},
            { header: 'В каких случаях можно делать керамическое покрытие?', body: '- Когда только купили машину, чтобы сразу обезопасить новое лакокрасочное покрытие. <br/>- Когда ездили какое-то время и хотите, чтобы ваша машина снова сияла, как новая'},
            { header: 'Вы предоставляете гарантию?', body: 'Да, мы даем год гарантии на несмываемость покрытия'}]

block main
    section.main
        h1 керамическое покрытие
        +slider(ceramicPrimarySlider)

        div.main_content
            p Защитите автомобиль от царапин, сколов, грязи и химических реагентов с помощью керамики с
                b  гарантией 1 год.
            p Керамическое покрытие от
                b  28 000₽.

            +modalBtn('Рассчитать стоимость', 'full')

    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            p
                b Керамическое покрытие
                span  — это полимер, который вступает в реакцию с ЛКП автомобиля и создает на нем
                b  прозрачную защитную пленку
            img.info_img(src='./assets/img/ceramic/info.png', alt="")

    section
        h2 5 причин нанести керамическое покрытие
        +points(ceramicPoints)


    section
        h2 Этапы нанесения керамики
        +carousel(ceramicSteps)

    section
        h2 Результаты
        +slider(ceramicExSlider)
        iframe(id="ceramic_video" type="text/html" width="100%" height="100%"
            src="http://www.youtube.com/embed/pjxQ_dzkVR8")

    section
        h2 Цены
        +prices(ceramicPrices)

        +modalBtn('Рассчитать стоимость', 'full')

    section
        div.list
            h2 С нанесением
                span.accent  керамического покрытия в автоцентре “полимер”
                div  вы получите

            ul
                li
                    b 1 год гарантии
                    span  на несмываемость покрытия и на работу
                li
                    b Бесплатную контрольную мойку
                    span  через 7-10 дней для проверки качества работы
                li
                    b Чистые и отапливаемые боксы
                    span  со всем необходимым оборудованием
                li
                    b Лучшую
                    span  в своей ценовой категории
                    b  автохимию
                    span , прошедшую проверку временем в климате Санкт-Петербурга
                li
                    b Экономию до 300.000 рублей.
                    span  Ухоженный автомобиль при продаже будет стоить дороже

            +modalBtn('Оставить заявку на бесплатную консультацию', 'min')

    include ./components/advantages

    section
        h2 Популярные вопросы
        +spoiler(ceramicFAQ)
