extends components/layout

block main
    script(async id="ymaps_script" src="https://api-maps.yandex.ru/v3/?apikey=103e97b7-460b-4a26-b8a2-f4c70c6dff19&lang=ru_RU" type="text/javascript")

    section
        h1.underlined_header
            span Контакты

        div.contacts
            div(class='cards_item frame')
                img(class='cards_icon' src='./assets/img/contacts/phone.webp' alt="#")
                h4 Телефон
                p
                    b +7 (911) 923 96 59
            div(class='cards_item frame')
                img(class='cards_icon' src='./assets/img/contacts/email.webp' alt="#")
                h4 Email
                p
                    b autocentrpolimer@mail.ru
            div(class='cards_item frame')
                img(class='cards_icon' src='./assets/img/contacts/address.webp' alt="#")
                h4 Адрес
                p
                    b СПб, ул. Моховая 37 «Б»

    section
        div(id='YMaps' style='margin: 0 auto;  width: 100%; height: 480px;')

    include ./components/protect

    include ./components/examples

    include ./components/advantages

    script.
        async function main() {
            await ymaps3.ready;
            const {YMap, YMapControls, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer} = ymaps3;
            const {YMapZoomControl} = await ymaps3.import('@yandex/ymaps3-controls@0.0.1');
            const {YMapDefaultMarker} = await ymaps3.import('@yandex/ymaps3-markers@0.0.1');

            let map = await new YMap(document.getElementById('YMaps'), {
                location: {
                    center: [30.344228, 59.940312],
                    zoom: 16
                }
            });

            map.addChild((scheme = new YMapDefaultSchemeLayer()));
            map.addChild(new YMapControls({position: 'right'}).addChild(new YMapZoomControl({})));
            map.addChild(new YMapDefaultFeaturesLayer({id: 'features'}));

            const marker = new YMapDefaultMarker({
                coordinates: [30.344228, 59.940312]
            });
            map.addChild(marker);
        }
        const ympsSctipt = document.querySelector('#ymaps_script');
        ympsSctipt.addEventListener('load', main);
