extends components/layout

block variables
	-
		const drycleaningPrices = [{name: 'mini', price: '16 000 ₽'},
			{name: 'first', price: '18 000 ₽'},
			{name: 'second', price: '20 000 ₽'},
			{name: 'business', price: '22 000 ₽'},
			{name: 'grand', price: '24 000 ₽'}]
	-
		const drycleaningCards = [{
			header: 'пятна',
			text: `Следы от пищи, косметических средств`,
			icon: './assets/img/cards/spot.webp'
		},
			{
				header: 'сложные загрязнения',
				text: `Въевшиеся следы от табака, масла, дорожной химии, соли`,
				icon: './assets/img/cards/hand.webp'
			},
			{header: 'запах', text: `Придание салону свежести озона`, icon: './assets/img/cards/smell.webp'},
			{
				header: 'бактерии',
				text: `Обработка салона дезинфецирующими средствами`,
				icon: './assets/img/cards/cross.webp'
			},]
	-
		const drycleaningExSlider = [{
			className: "drycleaning_ex_item",
			id: 1,
			img: './assets/img/index/drycleaning_1.webp'
		},
			{className: "drycleaning_ex_item", id: 2, img: './assets/img/index/drycleaning_2.webp'},
			{className: "drycleaning_ex_item", id: 3, img: './assets/img/index/drycleaning_3.webp'}]
	-
		const detailingFAQ = [{header:'Услуги детейлинга',
			body: 'Детейлинг-центр "Полимер" предлагает полный спектр услуг по уходу за автомобилем. Проводим детейлинг-полировку кузова, придающую блеск и свежесть даже старым машинам. Команда профессионалов выполняет детейлинг-мойку кузова, обеспечивая глубокую очистку всех элементов. Также специализируемся на оклейке кузова пленкой, создавая защитный слой, который служит для долговечной защиты поверхностей от внешних воздействий. В нашей студии детейлинга предлагаем комплексную химчистку, которая включает чистку салона и восстановление всех элементов авто.'},
			{header: 'Что такое детейлинг салона автомобиля?',
				body: '<p>Детейлинг салона — комплекс профессиональных услуг по глубокой очистке, восстановлению и защите интерьера автомобиля. Процесс не ограничивается обычной уборкой и мойкой, включает в себя детальную очистку от пыли, мусора и застарелых пятен.</p>' +
						'<p>Процедура включает чистку и восстановление сидений, ковриков, панели приборов, обивки дверей, потолка, а также других деталей. Кроме того, детейлинг салона предполагает профессиональную чистку и уход за элементами из кожи, велюра или других материалов, что требует особого подхода и применения специализированных средств. Таким образом салону возвращается первоначальная свежесть и чистота, повышается комфорт и улучшается внешний вид интерьера автомобиля.</p>'},
			{header: 'Преимущества',
			body: '<p>Детейлинг салона автомобиля имеет ряд преимуществ:</p>' +
					'<ul><li>Удаление всех видов загрязнений, включая пыль, грязь, пятна и неприятные запахи.</li>' +
					'<li>Восстановление цвета и текстуры материалов салона, возвращая им первоначальный вид.</li>' +
					'<li>Нанесение защитных средств, которые помогают сохранить материалы салона в хорошем состоянии на протяжении долгого времени.</li>' +
					'<li>Чистый и ухоженный салон увеличивает стоимость автомобиля на вторичном рынке.</li>' +
					'<li>Регулярный детейлинг продлевает срок службы обивки и других элементов салона, сохраняя их в хорошем состоянии.</li></ul>' +
					'<p>"Полимер" — не просто детейлинг-центр, а и место, где автомобиль получает профессиональный уход. Обратившись к специалистам, вы можете быть уверены, что ваш автомобиль будет выглядеть как новый.</p>'}]

block main
	script.
		document.title = "Детейлинг салона автомобиля в СПб — цена детейлинга кузова недорого";
		document.getElementsByTagName('meta')["description"].content = "Детейлинг кузова автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

	section.index
		div(class='frame primary_title')
			h1 ДЕТЕЙЛИНГ САЛОНА АВТОМОБИЛЯ от 12 000 ₽

			div
				+modalBtn('Оставить заявку *', 'full')
				br
				br
				p * Узнайте точную стоимость и получите подарок на выбор

	section
		h2 почему нужно выбрать детейлинг салона в
			span.accent  автоцентре полимер?

		div.info_box
			div(class='info white')
				h3 Самостоятельная химчистка
				ul.info_list
					li Удаление только поверхностного слоя грязи

			div.info
				h3 Детейлинг салона
				ul.info_list
					li Глубокое очищение от бактерий и клещей
					li Удаление сложных загрязнений
					li Профессиональная химия
					li Безопасные химические составы, которые разлагаются в течение 30 минут после химчистки
					li Озонирование: процедура для дезинфекции салона и устранения неприятных запахов

	include ./components/protect

	section
		h2
			span.accent Загрязнения
			span , которые удаляет детейлинг химчистка

		+cards(drycleaningCards)

		+modalBtn('Записаться на детейлинг химчистку', 'consultation')

	section
		h2 Результаты
		div.examples_item
			+slipper(drycleaningExSlider)

	section
		h2 Цены
		+prices(drycleaningPrices)

		+modalBtn('Оставить заявку', 'full')

	section
		h2 При детейлинге салона автомобиля мы используем
		div.usage
			img(src='./assets/img/dry_cleaning/brand_1.webp', alt="")
			img(src='./assets/img/dry_cleaning/brand_2.webp', alt="")
			img(src='./assets/img/dry_cleaning/brand_3.webp', alt="")
			img(src='./assets/img/dry_cleaning/brand_4.webp', alt="")

	include ./components/advantages

	section
		h2 ДЕТЕЙЛИНГ САЛОНА В САНКТ-ПЕТЕРБУРГЕ
		+spoiler(detailingFAQ)
