extends components/layout

block variables
    -
        const ceramicPrimarySlider = [{className: "ceramic_title", id: 1, img: './assets/img/dovodchik/dovodchik_2.webp'}]
        //- Слайдер с заглавной картинкой
    -
        const doorCloserPoints = [
            {id: 1, title: 'Комфорт и элегантность', text: 'Доводчики обеспечивают плавное закрытие дверей, устраняя необходимость хлопать ими, придавая автомобилю элегантность премиум-класса и повышая уровень комфорта.'},
            {id: 2, title: 'Безопасность', text: 'Они защищают от защемления предметов и пальцев, и предотвращают случайное открытие дверей во время движения благодаря датчикам положения дверной ручки и язычка замка.'},
            {id: 3, title: 'Долговечность', text: 'Износостойкие материалы гарантируют работу замков до 30 000 циклов, что составляет примерно 10 лет эксплуатации.'},
            {id: 4, title: 'Сохранение гарантии на автомобиль', text: 'Безштыревые механизмы устанавливаются без сверления на штатные места, без сверления и доработок кузова, поэтому гарантия на автомобиль сохраняется полностью.'}
        ]
    -
        const doorCloserSteps = [
            {
                className: 'door_closer_step',
                id: 1,
                text: 'Консультация и подбор оборудования',
                desc: 'Наши специалисты помогут выбрать подходящую модель доводчика для вашего автомобиля.',
                img: './assets/img/dovodchik/step_1.webp'
            },
            {
                className: 'door_closer_step',
                id: 2,
                text: 'Запись на установку',
                desc: 'Вы выбираете удобное для вас время и дату.',
                img: './assets/img/dovodchik/step_2.webp'
            },
            {
                className: 'door_closer_step',
                id: 3,
                text: 'Профессиональная установка',
                desc: 'Опытные мастера выполнят работу быстро и качественно, без нарушения конструкции автомобиля.',
                img: './assets/img/dovodchik/step_3.webp'
            },
            {
                className: 'door_closer_step',
                id: 4,
                text: 'Проверка и сдача работы',
                desc: 'Мы проводим тестирование системы и даём рекомендации по эксплуатации.',
                img: './assets/img/dovodchik/step_4.webp'
            }
        ]
    -
        const doorCloserPrices = [{ name: 'business', price: 'От 60.800 ₽' }]
    -


block main
    script.
        document.title = "Установка доводчика двери автомобиля в СПб — цена установки доводчика двери авто";
        document.getElementsByTagName('meta')["description"].content = "Установка доводчика двери автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки.";

    section.main
        h1 Установка доводчика двери автомобиля
        +slipper(ceramicPrimarySlider)

        div.main_content
            p Плавное и бесшумное закрытие дверей для максимального комфорта и безопасности
            +modalBtn('Заказать установку', 'full')

    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            p
                b Доводчики дверей
                span  — это механизмы, которые плавно, бесшумно и автоматически закрывают дверь до полного прилегания. При их установке не требуется доработка кузова или сверление: всё монтируется в штатных местах и механизмах. Главное преимущество нашего комплекта в том, что замки заменяются полностью. С АЦ «Полимер» вы получаете профессиональную установку доводчиков без вмешательства в конструкцию автомобиля, что позволяет сохранить гарантию и избежать повреждений кузова.

    section
        h2 4 причины установить доводчики дверей
        +points(doorCloserPoints)

    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            p
                b Принцип действия доводчиков
                – Механизм доводчика плавно и автоматически подтягивает дверь до полного закрытия. Он устанавливается вместо штатного замка в штатные кронштейн-места без необходимости сверления или распила кузова.    

    section
        h2 Этапы установки
        +carousel(doorCloserSteps)

    section
        h2 Цены
        +prices(doorCloserPrices)
        +modalBtn('Оставить заявку', 'full')

    include ./components/advantages
