extends components/layout

block variables
    -
        const exteriorSteps = [{ className: 'exterior_step', id: 1, text: 'Начало работы', desc: 'Проверяем наличие вашей машины и комплектации по нашей базе лекал, чтобы пленка идеально подходила под размеры деталей салона', img: './assets/img/exterior/step_1.webp'},
            { className: 'exterior_step', id: 2, text: 'Подготовка материала', desc: 'Плоттер прорезает пленку по лекалам вашего салона', img: './assets/img/exterior/step_2.webp'},
            { className: 'exterior_step', id: 3, text: 'Оклейка', desc: 'После подготовки материалов, наши мастера оклеивают салон', img: './assets/img/exterior/step_3.webp'},
            { className: 'exterior_step', id: 4, text: 'Выдача автомобиля клиенту', desc: '', img: './assets/img/exterior/step_4.webp'}]
    -
        const exteriorExSlider = [{className: "exterior_ex_item", id: 1, img: './assets/img/index/exterior_1.webp'},
            {className: "exterior_ex_item", id: 2, img: './assets/img/index/exterior_2.webp'}]
    -
        const exteriorPrices = [{ price: 'от 1 200 ₽', header: 'Скол-глаз', img: './assets/img/exterior/type_1.webp' },
            { price: 'от 1 500 ₽', header: 'Скол-звезда', img: './assets/img/exterior/type_2.webp' },
            { price: 'от 2 000 ₽', header: 'Двойной скол', img: './assets/img/exterior/type_3.webp' },
            { price: 'от 2 000 ₽', header: 'Скол радиальный', img: './assets/img/exterior/type_4.webp' },
            { price: 'от 1 500 ₽', header: 'Трещина до 20 см', img: './assets/img/exterior/type_5.webp' },
            { price: 'от 2 000 ₽', header: 'Трещина 20-40 см', img: './assets/img/exterior/type_6.webp' },
            { price: 'от 2 500 ₽', header: 'Трещина более 40 см', img: './assets/img/exterior/type_7.webp' },
            { price: 'от 2 000 ₽', header: 'Трещина со сколом', img: './assets/img/exterior/type_8.webp' },];
    -
        const exteriorPoints = [{
                id: 1,
                text: '<b>Защита экранов</b> — пленка предотвращает появление царапин на мониторах и сенсорных панелей, защищает лакированные поверхности.'
            },
            {
                id: 2,
                text: '<b>Пленка незаметна на поверхности.</b> Внешний вид салона останется прежним.'
            },
            {
                id: 3,
                text: '<b>Большой срок эксплуатации</b> — срок службы защитной пленки не менее 5 лет.'
            }]
    -
        const exteriorFAQ = [{
                header: 'Любой салон можно оклеить защитной пленкой?',
                body: 'Перед началом работы мы проверяем наличие вашей модели и комплектации по нашей базе лекал. После этого мы рассчитываем точную стоимость оклейки конкретно для вашего салона.'
            },
            {
                header: 'Можно ли оклеить не новый салон?',
                body: 'Да, конечно. Защитить пленкой можно любой салон. Если детали салона уже поцарапаны, сначала они полируются, а после уже оклеиваются.'
            },
            {
                header: 'Какие части салона можно защитить пленкой?',
                body: '- Мониторы, дисплеи <br/>- Приборные панели <br/>- Элементы управления, декоративные вставки'
            },
            {
                header: 'Мешает ли пленка работе сенсорных панелей?',
                body: 'Защитная пленка не влияет на работу сенсорных приборов.'
            }]

block main
    section.main
        h1 Оклейка экстерьера
        div.alone
            img.frame(src='./assets/img/exterior/primary.webp')

        div.main_content
            p Оклейте интерьер салона защитной пленкой
                b  от 3000 рублей

            +modalBtn('Оставить заявку', 'full')

    section
        h2 Результаты
        +slipper(exteriorExSlider)

    section
        h2 Этапы оклейки
        +carousel(exteriorSteps)

    section
        h2 3 причины оклеить интерьер салона защитной пленкой
        +points(exteriorPoints)

    section
        +modalBtn('Рассчитать стоимость', 'full')

    include ./components/advantages

    section
        h2 Популярные вопросы
        +spoiler(exteriorFAQ)