extends components/layout

block variables
    -
        const ceramicFAQ = [
            {
                header: 'Как долго автомобиль будет выглядеть хорошо?',
                body: 'Зависит от интенсивности моек и эксплуатации. Керамическое покрытие на автомобиле держится от одного года. А при соблюдении правильных условий эксплуатации и ухода может спокойно продержаться до двух лет'
            },
            {header: 'Что происходит, когда кончается срок службы покрытия?', body: 'Покрытие равномерно стирается'},
            {
                header: 'Можно ли мыть авто на автомойках с щетками?',
                body: 'Нежелательно. Лучше отказаться от щеточных моек и моек «из ведра»'
            },
            {
                header: 'В каких случаях можно делать керамическое покрытие?',
                body: '- Когда только купили машину, чтобы сразу обезопасить новое лакокрасочное покрытие. <br/>- Когда ездили какое-то время и хотите, чтобы ваша машина снова сияла, как новая'
            },
            {header: 'Вы предоставляете гарантию?', body: 'Да, мы даем год гарантии на несмываемость покрытия'}]
    -
        const filmFAQ = [
            {
                header: 'Какой срок эксплуатации пленки?',
                body: 'На все пленки действует гарантия производителя от 5 до 10 лет. При должном уходе пленка прослужит максимально долго.'
            },
            {
                header: 'Изменится ли внешний вид авто после оклейки?',
                body: 'Пленку на автомобиле невозможно заметить невооруженным глазом, поэтому внешний вид авто никак не изменится. Автомобиль станет лучше выглядеть за счет грязеотталкивающего свойства пленки.'
            },
            {
                header: 'Как ухаживать за покрытием автомобиля в пленке?',
                body: 'Так же, как и без пленки. После оклейки, вы получите памятку по уходу.'
            },
            {
                header: 'От чего защищает антигравийная пленка?',
                body: 'Антигравийная пленка — серьезная защита кузова от пескоструя, царапин и сколов из-за камней, которые могут привести к коррозии.'
            },
            {
                header: 'Почему оклейка так дорого стоит?',
                body: 'Стоимость оклейки складывается из двух частей: <br/>1. Модель авто и комплектация: один автомобиль можно оклеить за 2 дня, а на другие может уйти до 10 дней. <br/>2. Качество материала: мы работаем только с качественной пленкой, которая легче в эксплуатации и служит дольше. '
            }]
    -
        const drycleaningFAQ = [
            {
                header: 'Есть ли разница между химчисткой кожаного и тканевого салона?',
                body: 'Конечно есть. Важно правильный выбор средств: для каждого вида обивки используется свое. Для тканевого салона обязательным этапом является очистка с помощью пылесоса'
            },
            {
                header: 'Вредны ли для человека средства, применяемые при химчистке салона?',
                body: 'Мы используем безопасные для человека очищающие средства, которые разлагаются через 30 минут'
            },
            {
                header: 'Может ли не подойти средство для химчистки тканевого салона?',
                body: 'Перед началом работ проводится тестирование средств. Нескольких капель на незаметный фрагмент обивки хватает, чтобы поверить средство'
            },
            {
                header: 'Нужна ли сушка после химчистки?',
                body: 'Она необходима. Влажная среда способствует появлению грибка. Поэтому после всех очищающих этапов мы сушим салон и детали'
            },
            {
                header: 'Как часто необходима химчистка салона?',
                body: 'Это определяется уровнем загрязненности. Также рекомендуется комплексная химчистка перед продажей автомобиля'
            },
            {
                header: 'Что входит в понятие “комплексная химчистка салона”?',
                body: 'При комплексной химчистке очищаются: обивка, потолок, коврики, багажник, производится чистка пластиковых деталей'
            },
            {
                header: 'Нужны ли особые условия для химчистки салона автомобиля?',
                body: 'Проводить химчистку нужно в помещениях с хорошей вентиляцией и особым температурным режимом. Правильные условия для химчистки созданы в наших рабочих боксах'
            },
            {
                header: 'Можно ли самостоятельно сделать химчистку салона?',
                body: 'Необходимо иметь большое количество проверенных средств, дополнительное оборудование, создать условия для работы. Если вы этого никогда не делали — рекомендуем обратиться в детейлинг центр'
            }]
    -
        const toningFAQ = [
            {
                header: 'Есть ли гаратия на тонировку?',
                body: 'Да, мы даем гарантию 1 год на нашу работу и 5 лет гарантии на пленку.'
            },
            {
                header: 'Сколько занимает процесс тонировки?',
                body: 'Зависит от марки автомобиля и количества стекол, которые необходимо затонировать. Одно стекло — от 20 минут. Тонировка всех стекол займет до трех часов.'
            },
            {
                header: 'Можно ли тонировать передние стекла автомобиля?',
                body: 'Есть ряд ограничений. Самое главное —это светопропускаемость. Для лобового стекла она должна быть не менее 75%'
            },
            {
                header: 'Пленка клеется снаружи или изнутри?',
                body: 'Тонирующая и атермальная пленка клеятся изнутри. Бронирующая — снаружи.'
            },
            {
                header: 'Когда можно мыть автомобиль после оклейки тонировки?',
                body: '- После оклейки пленками изнутри мыть автомобиль можно сразу. <br/>- При установке Пленок снаружи — через 7 суток.'
            },
            {
                header: 'Как ухаживать за пленкой?',
                body: 'Протирать чистой мягкой тряпкой. Возможно применение чистящих средств для стекол.'
            }]
    -
        const glassFAQ = [
            {
                header: 'Сколько по времени длится ремонт стекла?',
                body: 'Время ремонта зависит от вида трещины и скола. На мелкие повреждения уходит около 20-30 минут. Более серьезные ремонтируем за 40-60 минут.'
            },
            {
                header: 'Какие гарантии?',
                body: 'Любой ремонт стекла — это отсрочка его замены, поэтому на данный вид работы гарантия не выдается.'
            },
            {
                header: 'Что делать после появления трещины на лобовом стекле?',
                body: 'Сперва надо заклеить её скотчем, чтобы туда не попали грязь и песок с дороги. И уже потом ехать в автоцентр. Чем чище трещина — тем лучше будет ремонт.'
            },
            {
                header: 'Ремонт стекла делается изнутри или снаружи машины?',
                body: 'Лобовое стекло в машине состоит из двух частей. При трещинах и сколах повреждается верхний слой. Поэтому стекло ремонтируются снаружи авто.'
            },
            {
                header: 'Повредится ли при ремонте обогрев стекла? ',
                body: 'Нет, он не повреждается.'
            }]
    -
        const interiorFAQ = [
            {
                header: 'Любой салон можно оклеить защитной пленкой?',
                body: 'Перед началом работы мы проверяем наличие вашей модели и комплектации по нашей базе лекал. После этого мы рассчитываем точную стоимость оклейки конкретно для вашего салона.'
            },
            {
                header: 'Можно ли оклеить не новый салон?',
                body: 'Да, конечно. Защитить пленкой можно любой салон. Если детали салона уже поцарапаны, сначала они полируются, а после уже оклеиваются.'
            },
            {
                header: 'Какие части салона можно защитить пленкой?',
                body: '- Мониторы, дисплеи <br/>- Приборные панели <br/>- Элементы управления, декоративные вставки'
            },
            {
                header: 'Мешает ли пленка работе сенсорных панелей?',
                body: 'Защитная пленка не влияет на работу сенсорных приборов.'
            }]
    -
        const polishingFAQ = [
            {
                header: 'Сколько времени занимает полировка автомобиля?',
                body: 'В среднем работы занимают 2-е суток, но бывают исключения. Все сроки обсуждаются перед началом работы и фиксируются в договоре'
            },
            {
                header: 'Сколько раз можно полировать машину?',
                body: 'На протяжении всего времени эксплуатации автомобиля. Главное, делать это у специалистов. Отполировать автомобиль без риска повреждения ЛКП можно только в специализированных центрах'
            },
            {
                header: 'На сколько хватает полировки?',
                body: 'Все зависит от эксплуатации авто: в какой местности ездите, как часто, какие виды моек используете и т.п. Если вы не используете щеточные мойки и не ездите по лесам и грунтовым дорогам, то эффект от полировки сохранится надолго'
            },
            {
                header: 'Сильно ли утоньшается слой лака при полировке?',
                body: 'В процессе полировки верхний слой лака выравнивается за счет нагрева поверхности специальными полировальными кругами,таким образом неровности и царапины заплавляются без уменьшения слоя ЛКП'
            },
            {header: 'Убираются ли сколы при полировке?', body: 'Нет, они аккуратно подкрашиваются'},
            {header: 'Что дает полировка?', body: 'Удаление косметических дефектов и защита ЛКП от повреждений'},
            {header: 'Вы предоставляете гарантию?', body: 'Да, мы даем год гарантии на все виды наших работ'}]

block main
    section
        h1.underlined_header
            span FAQ

        div.anchors
            div.anchors_nav
                a(href='#ceramic')
                    +modalBtn('Керамика')
                a(href='#film')
                    +modalBtn('Защитная пленка')
                a(href='#dry_cleaning')
                    +modalBtn('Химчистка')
                a(href='#toning')
                    +modalBtn('Тонировка')
                a(href='#glass')
                    +modalBtn('Ремонт стекла')
                a(href='#detailing')
                    +modalBtn('Детейлинг')
                a(href='#polishing')
                    +modalBtn('Полировка')

    section.anchors_list
        span(id='ceramic')
        h2 Керамическое покрытие
        +spoiler(ceramicFAQ)

    section.anchors_list
        span(id='film')
        h2 Оклейка авто защитной пленкой
        +spoiler(filmFAQ)

    section.anchors_list
        span(id='dry_cleaning')
        h2 Химчистка
        +spoiler(drycleaningFAQ)

    section.anchors_list
        span(id='toning')
        h2 Тонировка
        +spoiler(toningFAQ)

    section.anchors_list
        span(id='glass')
        h2 Ремонт стекла
        +spoiler(glassFAQ)

    section.anchors_list
        span(id='detailing')
        h2 Оклейка интерьера
        +spoiler(interiorFAQ)

    section.anchors_list
        span(id='polishing')
        h2 Полировка автомобиля
        +spoiler(polishingFAQ)

    include ./components/protect

    include ./components/examples

    include ./components/advantages
