extends components/layout

block variables
    -
        const filmPrimarySlider = [{ className: "film_title", id: 1, img: './assets/img/film/primary_1.png'},
            { className: "film_title", id: 2, img: './assets/img/film/primary_2.png'},
            { className: "film_title", id: 3, img: './assets/img/film/primary_3.png'},
            { className: "film_title", id: 4, img: './assets/img/film/primary_4.png'}]
    -
        const filmPoints = [{ id: 1, text: '<b>Защита</b> автомобиля от сколов, царапин, мелких ДТП и профилактика коррозии'},
            { id: 2, text: '<b>Защита</b> автомобиля от сколов, царапин, мелких ДТП и профилактика коррозии'},
            { id: 3, text: '<b>Самоочищение</b> — грязь и пыль будут скатываться с поверхности авто. Можно реже мыть машину'},
            { id: 4, text: '<b>Экономия</b> от 300 000 ₽ при продаже авто, так как пленка сохраняет ЛКП авто'},
            { id: 5, text: '<b>Долговечность</b> — срок службы пленок в среднем 5-10 лет'}]
    -
        const filmSteps = [{ className: 'film_step', id: 1, text: 'Приём автомобиля', desc: 'Первичная мойка, осмотр и выписка заказ-наряда', img: './assets/img/film/step_1.png'},
            { className: 'film_step', id: 2, text: 'Мойка автомобиля', desc: 'Бесконтактная мойка автомобиля, обезжиривание кузова', img: './assets/img/film/step_2.png'},
            { className: 'film_step', id: 3, text: 'Подготовка пленки', desc: 'Резка лекал на плоттере, раскрой пленки', img: './assets/img/film/step_3.png'},
            { className: 'film_step', id: 4, text: 'Подготовка лкп', desc: 'Чистится ЛКП с помощью специальной глины, обезжиривание поверхностипервого слоя керамики', img: './assets/img/film/step_4.png'},
            { className: 'film_step', id: 5, text: 'Установка пленки', desc: 'Установка пленки, финальная сушка', img: './assets/img/film/step_5.png'},
            { className: 'film_step', id: 6, text: 'Выдача автомобиля клиенту', desc: 'Обсуждение даты (не менее чем через 5 дней) бесплатной контрольной мойки для проверки работы', img: './assets/img/film/step_6.png'}]
    -
        const filmExSlider = [{ className: "film_ex_item", id: 1, img: './assets/img/index/film_1.png'},
            { className: "film_ex_item", id: 2, img: './assets/img/index/film_2.png'},
            { className: "film_ex_item", id: 3, img: './assets/img/index/film_3.png'}]
    -
        const filmPrices = [{ name: 'mini', price: '28 000 — 34 000 ₽' },
            { name: 'first', price: '32 000 — 38 000 ₽' },
            { name: 'second', price: '36 000 — 42 000 ₽' },
            { name: 'business', price: '44 000 — 50 000 ₽' },
            { name: 'grand', price: '54 000 — 60 000 ₽' }]
    -
        const filmFAQ = [{ header: 'Какой срок эксплуатации пленки?', body: 'На все пленки действует гарантия производителя от 5 до 10 лет. При должном уходе пленка прослужит максимально долго.'},
            { header: 'Изменится ли внешний вид авто после оклейки?', body: 'Пленку на автомобиле невозможно заметить невооруженным глазом, поэтому внешний вид авто никак не изменится. Автомобиль станет лучше выглядеть за счет грязеотталкивающего свойства пленки.'},
            { header: 'Как ухаживать за покрытием автомобиля в пленке?', body: 'Так же, как и без пленки. После оклейки, вы получите памятку по уходу.'},
            { header: 'От чего защищает антигравийная пленка?', body: 'Антигравийная пленка — серьезная защита кузова от пескоструя, царапин и сколов из-за камней, которые могут привести к коррозии.'},
            { header: 'Почему оклейка так дорого стоит?', body: 'Стоимость оклейки складывается из двух частей: <br/>1. Модель авто и комплектация: один автомобиль можно оклеить за 2 дня, а на другие может уйти до 10 дней. <br/>2. Качество материала: мы работаем только с качественной пленкой, которая легче в эксплуатации и служит дольше. '}]

block main
    section.main
        h1 Оклейка защитной пленкой
        +slider(filmPrimarySlider)

        div.main_content
            p Оклеим автомобиль антигравийной пленкой за 7 дней с гарантией на отсутствие дефектов до 10 лет по договору.
            p Рассчитайте стоимость, и получите  детейлинг
                b  мойку в подарок

            +modalBtn('Рассчитать стоимость', 'full')

    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            p
                b Бронепленка
                span  — это прозрачное покрытие, которое наклеивается на весь кузов или отдельные элементы для
                b  защиты от царапин и сколов
            img.info_img(src='./assets/img/film/info.png', alt="")

    section
        h2 5 причин нанести защитную пленку
        +points(filmPoints)


    section
        h2 Этапы оклейки
        +carousel(filmSteps)

    section
        h2 Результаты
        p Пример того, как пленка защитила корпус автомобиля после ДТП
        +slider(filmExSlider)

    section
        h2 Цены
        +prices(filmPrices)

        +modalBtn('Рассчитать стоимость', 'full')

    section
        div.list
            h2
                span С нанесением
                span.accent  антигравийной пленки в автоцентре “полимер”
                span  вы получите

            ul
                li
                    b 1 год гарантии
                    span  по договору
                li
                    b Гарантию производителя от 5 лет
                    span  на все пленки
                li
                    b Бесплатную контрольную мойку
                    span  через 7-10 дней для проверки качества работы
                li
                    b Работа в чистых и отапливаемых боксах
                    span  со всем необходимым оборудованием для наилучшего качества работ
                li
                    b Лучшую
                    span  в своей ценовой категории
                    b  антигравийную пленку
                    span , прошедшую проверку временем в климате Санкт-Петербурга
                li
                    b Экономию до 300.000 рублей.
                    span  Ухоженный автомобиль при продаже будет стоить дороже

            +modalBtn('Оставить заявку на бесплатную консультацию', 'min')

    include ./components/advantages

    section
        h2 Популярные вопросы
        +spoiler(filmFAQ)
