extends components/layout

block variables
    -
        const filmPrimarySlider = [{ className: "film_title", id: 1, img: './assets/img/film/primary_1.webp'},
            { className: "film_title", id: 2, img: './assets/img/film/primary_2.webp'},
            { className: "film_title", id: 3, img: './assets/img/film/primary_3.webp'},
            { className: "film_title", id: 4, img: './assets/img/film/primary_4.webp'}]
    -
        const filmPoints = [{ id: 1, text: '<b>Защита</b> автомобиля от сколов, царапин, мелких ДТП и профилактика коррозии'},
            { id: 2, text: '<b>Сохранение</b> и консервация ЛКП автомобиля в идеальном состоянии'},
            { id: 3, text: '<b>Самоочищение</b> — грязь и пыль будут скатываться с поверхности авто. Можно реже мыть машину'},
            { id: 4, text: '<b>Экономия</b> от 300 000 ₽ при продаже авто, так как пленка сохраняет ЛКП авто'},
            { id: 5, text: '<b>Долговечность</b> — срок службы пленок в среднем 5-10 лет'}]
    -
        const filmSteps = [{ className: 'film_step', id: 1, text: 'Приём автомобиля', desc: 'Первичная мойка, осмотр и выписка заказ-наряда', img: './assets/img/film/step_1.webp'},
            { className: 'film_step', id: 2, text: 'Мойка автомобиля', desc: 'Бесконтактная мойка автомобиля, обезжиривание кузова', img: './assets/img/film/step_2.webp'},
            { className: 'film_step', id: 3, text: 'Подготовка пленки', desc: 'Резка лекал на плоттере, раскрой пленки', img: './assets/img/film/step_3.webp'},
            { className: 'film_step', id: 4, text: 'Подготовка лкп', desc: 'Чистится ЛКП с помощью специальной глины, обезжиривание поверхностипервого слоя керамики', img: './assets/img/film/step_4.webp'},
            { className: 'film_step', id: 5, text: 'Установка пленки', desc: 'Установка пленки, финальная сушка', img: './assets/img/film/step_5.webp'},
            { className: 'film_step', id: 6, text: 'Выдача автомобиля клиенту', desc: 'Обсуждение даты (не менее чем через 5 дней) бесплатной контрольной мойки для проверки работы', img: './assets/img/film/step_6.webp'}]
    -
        const filmExSlider = [{ className: "film_ex_item", id: 1, img: './assets/img/index/film_1.webp'},
            { className: "film_ex_item", id: 2, img: './assets/img/index/film_2.webp'},
            { className: "film_ex_item", id: 3, img: './assets/img/index/film_3.webp'}]
    -
        const filmVideoSlider = [{className: "film_video_item", id: 1, src: 'https://www.youtube.com/embed/QUHaj6jPBos'},
            {className: "film_video_item", id: 2, src: 'https://www.youtube.com/embed/VzKPZIpGQvk'},
            {className: "film_video_item", id: 3, src: 'https://www.youtube.com/embed/NnbNGmGt89U'},
            {className: "film_video_item", id: 4, src: 'https://www.youtube.com/embed/eFW-CivShqs'},
            {className: "film_video_item", id: 5, src: 'https://www.youtube.com/embed/IC7LhgvKpSE'},
            {className: "film_video_item", id: 6, src: 'https://www.youtube.com/embed/4zM405lkW5o'}]
    -
        const filmPrices = [{ price: 'от 5 600 ₽', header: 'Фары', img: './assets/img/film/film_lights.webp' },
            { price: 'от 19 000 ₽', header: 'Пакет минимальный', img: './assets/img/film/film_min.webp' },
            { price: 'от 29 000 ₽', header: 'Пакет средний', img: './assets/img/film/film_midl.webp' },
            { price: 'от 59 000 ₽', header: 'Пакет максимальный', img: './assets/img/film/film_max.webp' },
            { price: 'от 190 000 ₽', header: 'Полная оклейка', img: './assets/img/film/film_full.webp' }
        ]
    -
        const filmFAQ = [{ header: 'Какой срок эксплуатации пленки?', body: 'На все пленки действует гарантия производителя от 5 до 10 лет. При должном уходе пленка прослужит максимально долго.'},
            { header: 'Изменится ли внешний вид авто после оклейки?', body: 'Пленку на автомобиле невозможно заметить невооруженным глазом, поэтому внешний вид авто никак не изменится. Автомобиль станет лучше выглядеть за счет грязеотталкивающего свойства пленки.'},
            { header: 'Как ухаживать за покрытием автомобиля в пленке?', body: 'Так же, как и без пленки. После оклейки, вы получите памятку по уходу.'},
            { header: 'От чего защищает антигравийная пленка?', body: 'Антигравийная пленка — серьезная защита кузова от пескоструя, царапин и сколов из-за камней, которые могут привести к коррозии.'},
            { header: 'Почему оклейка так дорого стоит?', body: 'Стоимость оклейки складывается из двух частей: <br/>1. Модель авто и комплектация: один автомобиль можно оклеить за 2 дня, а на другие может уйти до 10 дней. <br/>2. Качество материала: мы работаем только с качественной пленкой, которая легче в эксплуатации и служит дольше. '}]
    -
        const armoredWrap = [{header: 'Оклейка авто антигравийной пленкой', body: '<p>Бронепленка на авто — эффективный способ защитить автомобиль от различных внешних воздействий и сохранить его привлекательный внешний вид. Это дополнительная защита для кузова, которая обладает рядом преимуществ:</p><ul><li>Защита от механических повреждений. Защитная антигравийная полиуретановая бронепленка защищает капот, крышу, багажник и другие детали кузова от царапин, сколов и ударов, которые могут возникнуть в результате попадания камней, песка и других мелких предметов на дороге. Она создает дополнительный слой защиты, предотвращая повреждения лакокрасочного покрытия.</li><li>Защита от химических воздействий. Химические вещества, соли, кислоты, дожди и различные агрессивные составы могут негативно влиять на внешний вид и состояние автомобиля. Прозрачная антигравийная бронепленка обладает способностью защищать кузов от воздействия химических веществ, помогая сохранить его состояние на протяжении длительного времени.</li></ul>'},
            {header: 'Процесс установки бронепленки на автомобиль', body: '<p>Установка бронепленки на автомобиль производится профессионально мастерами детейлинг-центра “Полимер”, которые имеют опыт и знания в данной области. Процесс установки включает в себя следующие этапы:</p><ol><li>Подготовка поверхности. Перед установкой бронепленки поверхность автомобиля должна быть тщательно очищена и подготовлена. Это включает удаление пыли, грязи, жира и других загрязнений, чтобы обеспечить хорошее сцепление пленки с кузовом.</li><li>Оклейка автомобиля. Покрытие наносится на выбранные участки, такие как передний бампер, капот, заднее крыло, зеркала и другие подверженные повреждениям зоны. </li><li>Финал. После установки бронепленки мастера проверяют, чтобы антигравийная пленка полностью прилегала к поверхности и отсутствовали пузыри или складки. Они также могут осуществить оклейку специальной защитной пленкой других элементов, таких как оптика, пороги, передние и задние двери.</li>'},
            {header: 'Почему стоит выбрать бронепленку?', body: '<p>Почему стоит выбрать бронепленку?</p><ul><li>Эффективная защита. Бронепленка обладает высокой эффективностью в защите автомобиля от воздействий внешней среды. Благодаря этому она способна предотвратить множество неприятностей, связанных с механическими и химическими повреждениями.</li><li>Долговечность. При бронировании используется качественная пленка, которая обладает долгим сроком службы,обеспечивая долговременную защиту для авто.</li><li>Разнообразие вариантов. Бронепленки от разных производителей, отличаются по характеристикам и цене, могут быть матовыми и прозрачными.</li><li>Удобное решение. Бронирование таким способом производится быстро и удобно. Записывайтесь к мастерам детейлинга на сайте компании и получайте профессиональное выполнение работ.</li></ul><p>Бронепленка на авто — надежное решение для защиты автотранспортного средства от повреждений и сохранения его в прекрасном состоянии на протяжении длительного времени. АЦ “Полимер” предлагает большой выбор услуг, среди которых особого внимания заслуживает не только установка защитных полиуретановых пленок в качестве брони от мелких повреждений, но и атермальная тонировка, химчистка салона высшего класса и нанесение керамического покрытия.</p>'}]

block main
    script.
        document.title = "Бронепленка на авто в СПб — цена бронирования пленкой автомобиля и оклейки антигравийной бронепленкой";
        document.getElementsByTagName('meta')["description"].content ="Бронепленка на авто в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Бронирование автомобиля пленкой
        +slipper(filmPrimarySlider)

        div.main_content
            p Оклеим автомобиль антигравийной пленкой с гарантией на отсутствие дефектов до 10 лет по договору.
            p Только до 31 декабря – при бронировании автомобиля защита фар + антидождь стекол в подарок.

            +modalBtn('Оставить заявку', 'full')

    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            p
                b Антигравийная пленка
                span  — это защита для кузова автомобиля, поэтому услугу часто называют
                b  бронирование.
                span  Она представляет собой абсолютно прозрачную, визуально невидимую пленку,защищающую ЛКП автомобиля от сколов, царапин, мелких ДТП и коррозии
            img.info_img(src='./assets/img/film/info.webp', alt="")

    section
        h2 5 причин нанести защитную пленку
        +points(filmPoints)

    include ./components/protect

    section
        h2 Этапы оклейки
        +carousel(filmSteps)

    section
        h2 Результаты
        p Пример того, как пленка защитила корпус автомобиля после ДТП
        p
        div.examples_item
            +slipper(filmExSlider)
            +videoSlipper(filmVideoSlider)

    section
        h2 Пленки, которые мы используем
        div.usage
            img(src='./assets/img/film/brand_1.webp', alt="")
            img(src='./assets/img/film/brand_2.webp', alt="")
            img(src='./assets/img/film/brand_3.webp', alt="")
            img(src='./assets/img/film/brand_4.webp', alt="")
            img(src='./assets/img/film/brand_5.webp', alt="")
            img(src='./assets/img/film/brand_6.webp', alt="")

    section
        h2 Цены
        +prices(filmPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        div.list
            h2
                span С нанесением
                span.accent  антигравийной пленки в автоцентре “полимер”
                span  вы получите

            ul
                li
                    b 1 год гарантии
                    span  по договору
                li
                    b Гарантию производителя от 5 лет
                    span  на все пленки
                li
                    b Бесплатную контрольную мойку
                    span  через 7-10 дней для проверки качества работы
                li
                    b Работа в чистых и отапливаемых боксах
                    span  со всем необходимым оборудованием для наилучшего качества работ
                li
                    b Лучшую
                    span  в своей ценовой категории
                    b  антигравийную пленку
                    span , прошедшую проверку временем в климате Санкт-Петербурга
                li
                    b Экономию до 300.000 рублей.
                    span  Ухоженный автомобиль при продаже будет стоить дороже

            +modalBtn('Оставить заявку на бесплатную консультацию', 'consultation')

    include ./components/advantages

    section
        h2 Популярные вопросы
        +spoiler(filmFAQ)

    section
        h2 Бронирование автомобиля пленкой
        +spoiler(armoredWrap)

