extends components/layout

block variables
    -
        const drycleaningPrimarySlider = [{
            className: "drycleaning_title",
            id: 1,
            img: './assets/img/dry_cleaning/primary_1.webp'
        },
            {className: "drycleaning_title", id: 2, img: './assets/img/dry_cleaning/primary_2.webp'},
            {className: "drycleaning_title", id: 3, img: './assets/img/dry_cleaning/primary_3.webp'},
            {className: "drycleaning_title", id: 4, img: './assets/img/dry_cleaning/primary_4.webp'}]
    -
        const drycleaningCards = [{
            header: 'пятна',
            text: `Следы от пищи, косметических средств`,
            icon: './assets/img/cards/spot.webp'
        },
            {
                header: 'сложные загрязнения',
                text: `Въевшиеся следы от табака, масла, дорожной химии, соли`,
                icon: './assets/img/cards/hand.webp'
            },
            {header: 'запах', text: `Придание салону свежести озона`, icon: './assets/img/cards/smell.webp'},
            {
                header: 'бактерии',
                text: `Обработка салона дезинфецирующими средствами`,
                icon: './assets/img/cards/cross.webp'
            },]
    -
        const drycleaningExSlider = [{
            className: "drycleaning_ex_item",
            id: 1,
            img: './assets/img/index/drycleaning_1.webp'
        },
            {className: "drycleaning_ex_item", id: 2, img: './assets/img/index/drycleaning_2.webp'},
            {className: "drycleaning_ex_item", id: 3, img: './assets/img/index/drycleaning_3.webp'}]

    -
        const drycleaningFAQ = [{
            header: 'Есть ли разница между химчисткой кожаных и тканевых сидений автомобиля?',
            body: 'Конечно есть. Важно правильный выбор средств: для каждого вида обивки используется свое. Для тканевых сидений обязательным этапом является очистка с помощью пылесоса'
        },
            {
                header: 'Вредны ли для человека средства, применяемые при химчистке кожаных сидений автомобиля?',
                body: 'Мы используем безопасные для человека очищающие средства, которые разлагаются через 30 минут'
            },
            {
                header: 'Может ли не подойти средство для химчистки кожаных сидений автомобиля?',
                body: 'Перед началом работ проводится тестирование средств. Нескольких капель на незаметный фрагмент обивки хватает, чтобы поверить средство'
            },
            {
                header: 'Нужна ли сушка после химчистки кожаных сидений автомобиля?',
                body: 'Она необходима. Влажная среда способствует появлению грибка. Поэтому после всех очищающих этапов мы сушим салон и детали'
            },
            {
                header: 'Как часто необходима химчистка кожаных сидений автомобиля?',
                body: 'Это определяется уровнем загрязненности. Также рекомендуется комплексная химчистка перед продажей автомобиля'
            },
            {
                header: 'Нужны ли особые условия для химчистки кожаных сидений автомобиля?',
                body: 'Проводить химчистку нужно в помещениях с хорошей вентиляцией и особым температурным режимом. Правильные условия для химчистки созданы в наших рабочих боксах'
            },
            {
                header: 'Можно ли самостоятельно сделать химчистку кожаных сидений автомобиля?',
                body: 'Необходимо иметь большое количество проверенных средств, дополнительное оборудование, создать условия для работы. Если вы этого никогда не делали — рекомендуем обратиться в детейлинг центр'
            }]
    -
        const drycleaningCarFAQ = [{
             header: 'Профессиональная химчистка кожаных сидений автомобиля',
             body: '<p>Салон автомобиля — место где важно обеспечить чистоту и комфорт. Профессиональная химчистка кожаных сидений авто помогает удалить загрязнения, освежить ткани и вернуть им первоначальный вид. Рассмотрим основные преимущества:</p><ul><li>Восстановление свежести. Повседневная эксплуатация автомобиля приводит к накоплению пыли, грязи и других загрязнений в салоне. Химчистка специальными средствами и инструментами помогает эффективно убрать все виды загрязнений, включая пятна и запахи, и вернуть салону свежий и приятный аромат.</li><li>Восстановление внешнего вида. Кожаные сиденья, двери, панели и другие элементы салона со временем теряют свой блеск и становятся тусклыми. Профессиональная химчистка кожи позволяет удалить пыль, жир и другие загрязнения, восстановить ее естественный блеск и продлить срок службы материала.</li></ul>'
        },
        {
             header: 'Особенности процесса',
             body: '<p>Профессиональная химчистка кожаной обивки на сидениях выполняется опытными специалистами с использованием специальных средств и оборудования. Рассмотрим подробнее этапы процесса:</p><ol><li>Оценка состояния. Мастера осматривают салон автомобиля и анализируют состояние различных элементов, таких как сидения, двери, панели, пол и потолок. Они обращают внимание на пятна, загрязнения, потертости, дефекты и другие проблемы.</li><li>Подготовка поверхности. Перед химчисткой специалисты проводят предварительную уборку, удаляя крупный мусор и пыль. Это позволяет достичь максимальной эффективности на следующих этапах.</li><li>Химчистка. Мастера проводят химчистку всех элементов салона с использованием специальных моющих средств и оборудования. После наносятся защитные составы.</li><li>Завершающий этап. После проведения химчистки мастера осматривают салон и убеждаются в его чистоте и безупречном внешнем виде. Особое внимание уделяют деталям, чтобы обеспечить максимальное удобство и комфорт эксплуатации для владельца автомобиля.</li></ol><p>Доверьте химчистку сидений и салона профессионалам АЦ “Полимер” и наслаждайтесь чистотой и свежестью салона. На сайте можно узнать больше информации о том, как мы работаем, наших дополнительных услугах, ознакомиться с отзывами и записаться на удобное время.</p>'}]




block main
    script.
        document.title = "Химчистка кожаных сидений автомобиля в СПб — цена химчистки кожаных сидений авто";
        document.getElementsByTagName('meta')["description"].content = "Химчистка кожаных сидений автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки";

    section.main
        h1 Химчистка кожаных сидений автомобиля
        +slipper(drycleaningPrimarySlider)

        div.main_content
            h2 Химчистка кожаных сидений автомобиля от
                span.accent  12 000 ₽

            p Вернем салону первозданный вид без вреда для обивки. Очистим сложные загрязнения, въевшиеся пятна и неприятный запах.

            +modalBtn('Оставить заявку','full')
    section
        h2 почему нужно выбрать химчистку кожаных сидений автомобиля в
            span.accent  автоцентре полимер?

        div.info_box
            div(class='info white')
                h3 Самостоятельная химчистка
                ul.info_list
                    li Удаление только поверхностного слоя грязи

            div.info
                h3 Профессиональная химчистка кожаных сидений автомобиля
                ul.info_list
                    li Глубокое очищение от бактерий и клещей
                    li Удаление сложных загрязнений
                    li Профессиональная химия
                    li Безопасные химические составы, которые разлагаются в течение 30 минут после химчистки
                    li Озонирование: процедура для дезинфекции салона и устранения неприятных запахов

    include ./components/protect

    section
        h2
            span.accent Загрязнения
            span , которые удаляет химчистка кожаных сидений автомобиля

        +cards(drycleaningCards)

        +modalBtn('Записаться на химчистку', 'consultation')

    section
        h2 Результаты
        div.examples_item
            +slipper(drycleaningExSlider)
            iframe(id="dry-cleaning_video" type="text/html" width="100%" height="100%"
                src="https://www.youtube.com/embed/38e4AXi-UF4")


    section
        h2 При химчистке кожаных сидений автомобиля мы используем
        div.usage
            img(src='./assets/img/dry_cleaning/brand_1.webp', alt="")
            img(src='./assets/img/dry_cleaning/brand_2.webp', alt="")
            img(src='./assets/img/dry_cleaning/brand_3.webp', alt="")
            img(src='./assets/img/dry_cleaning/brand_4.webp', alt="")

    section
        a.btn(href='prices_dry_cleaning.html' style='color: #fff') Таблица с ценами

    include ./components/advantages

    section
        h2 Популярные вопросы
        +spoiler(drycleaningFAQ)

    section
        h2 Химчистка кожаных сидений автомобиля
        +spoiler(drycleaningCarFAQ)
