extends ./components/layout

block variables
	-
		const services = [{"className":"services_item","id":1, link: '/ceramic.html', "text":"Керамическое покрытие","img":"./assets/img/index/services_1.webp"},
			{"className":"services_item","id":2,link: '/film.html', "text":"Оклейка защитной пленкой","img":"./assets/img/index/services_2.webp"},
			{"className":"services_item","id":3,link: '/glass_repair.html', "text":"Ремонт стекла","img":"./assets/img/glass/step_2.webp"},
			{"className":"services_item","id":4,link: '/dry_cleaning.html', "text":"Химчистка автомобиля","img":"./assets/img/index/services_3.webp"},
			{"className":"services_item","id":5,link: '/toning.html', "text":"Тонировка","img":"./assets/img/index/services_4.webp"},
			{"className": "services_item","id": 6,link: '/exterior.html', "text": "Оклейка экстерьера", "img": "./assets/img/index/services_5.webp"}]
	-
		const ceramicExSlider = [{ className:"ceramica_ex_item", id: 1, img: './assets/img/index/ceramica_1.webp'},
			{ className: "ceramica_ex_item", id: 2, img: './assets/img/index/ceramica_2.webp'}]
	-
		const filmExSlider = [{className: "film_ex_item", id: 1, img: './assets/img/index/film_1.webp'},
			{className: "film_ex_item", id: 2, img: './assets/img/index/film_2.webp'},
			{className: "film_ex_item", id: 3, img: './assets/img/index/film_3.webp'}]
	-
		const filmVideoSlider = [{ className: "film_video_item", id: 1, src: 'https://www.youtube.com/embed/QUHaj6jPBos'},
			{ className: "film_video_item", id: 2, src: 'https://www.youtube.com/embed/VzKPZIpGQvk'},
			{ className: "film_video_item", id: 3, src: 'https://www.youtube.com/embed/NnbNGmGt89U'},
			{ className: "film_video_item", id: 4, src: 'https://www.youtube.com/embed/eFW-CivShqs'},
			{ className: "film_video_item", id: 5, src: 'https://www.youtube.com/embed/IC7LhgvKpSE'},
			{ className: "film_video_item", id: 6, src: 'https://www.youtube.com/embed/4zM405lkW5o'}]
	-
		const drycleaningExSlider = [{className: "drycleaning_ex_item", id: 1, img: './assets/img/index/drycleaning_1.webp'},
			{className: "drycleaning_ex_item", id: 2, img: './assets/img/index/drycleaning_2.webp'},
			{className: "drycleaning_ex_item", id: 3, img: './assets/img/index/drycleaning_3.webp'},]
	-
		const toningExSlider = [{className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.webp'},
			{className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.webp'},
			{className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.webp'},]
	-
		const exteriorExSlider = [{className: "exterior_ex_item", id: 1, img: './assets/img/index/exterior_1.webp'},
			{className: "exterior_ex_item", id: 2, img: './assets/img/index/exterior_2.webp'}]

block main
	section.index
		div(class='frame primary_title')
			h1 Премиальный детейлинг
			h4 с вниманием к мелочам

			div.primary_title_block
				p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору
				+modalBtn('Оставить заявку *', 'full')
				p * Узнайте точную стоимость и получите подарок на выбор

		p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору

	section
		a.anchor(id='services')
		h2 Наши услуги
		+carousel(services)
		+modalBtn('Оставить заявку *', 'full')

		p * Узнайте точную стоимость и получите подарок на выбор

	section
		h2 Сэкономьте деньги
			span.accent  на ближайшие 10 лет

		.longitude
			.longitude_content
				img(src='./assets/img/index/car.webp', alt="")

		p Детейлинг сохранит авто в первозданном виде и защитит лакокрасочное покрытие от сколов и вмятин
		+modalBtn('Оставить заявку', 'full')


	include ./components/advantages

	section.examples
		a.anchor(id='examples')
		h2 Наши работы
		div.examples_item
			h4 Керамическое покрытие
			+slipper(ceramicExSlider)
			iframe(id="ceramic_video" width="100%" height="100%"
				src="https://www.youtube.com/embed/pjxQ_dzkVR8")

		div.examples_item
			h4 Оклейка защитной пленкой
			p Пример того, как пленка защитила корпус автомобиля после ДТП
			p
			+slipper(filmExSlider)
			+videoSlipper(filmVideoSlider)

		div.examples_item
			h4 Химчистка автомобиля
			+slipper(drycleaningExSlider)
			iframe(id="dry-cleaning_video" width="100%" height="100%"
				src="https://www.youtube.com/embed/38e4AXi-UF4")

		div.examples_item
			h4 Тонировка
			+slipper(toningExSlider)

		div.examples_item
			h4 Оклейка экстерьера
			+slipper(exteriorExSlider)

	section
		div(class='promotion frame')
			h2 Акция!
			div(class='promotion_img frame')
				img(src='./assets/img/index/primary.webp', alt="")
			p Оставьте
				b  заявку на консультацию
				span  и получите
				b  купон на 2000 ₽ на оклейку фар
			+modalBtn('Записаться', 'consultation', 'gift')

			img.promotion_bg(src='./assets/img/index/promo.webp', alt="")