extends ./components/layout

block variables
	-
		const services = [{"className":"services_item","id":1, link: '/ceramic.html', "text":"Керамическое покрытие","img":"./assets/img/index/services_1.png"},
			{"className":"services_item","id":2,link: '/film.html', "text":"Оклейка защитной пленкой","img":"./assets/img/index/services_2.png"},
			{"className":"services_item","id":3,link: '/dry_cleaning.html', "text":"Химчистка автомобиля","img":"./assets/img/index/services_3.png"},
			{"className":"services_item","id":4,link: '/toning.html', "text":"Тонировка","img":"./assets/img/index/services_4.png"}]
	-
		const ceramicExSlider = [{ className:"ceramica_ex_item", id: 1, img: './assets/img/index/ceramica_1.png'},
			{ className: "ceramica_ex_item", id: 2, img: './assets/img/index/ceramica_2.png'}]
	-
		const filmExSlider = [{className: "film_ex_item", id: 1, img: './assets/img/index/film_1.png'},
			{className: "film_ex_item", id: 2, img: './assets/img/index/film_2.png'},
			{className: "film_ex_item", id: 3, img: './assets/img/index/film_3.png'}]
	-
		const filmVideoSlider = [{ className: "film_video_item", id: 1, src: 'http://www.youtube.com/embed/QUHaj6jPBos'},
			{ className: "film_video_item", id: 2, src: 'http://www.youtube.com/embed/VzKPZIpGQvk'},
			{ className: "film_video_item", id: 3, src: 'http://www.youtube.com/embed/NnbNGmGt89U'},
			{ className: "film_video_item", id: 4, src: 'http://www.youtube.com/embed/eFW-CivShqs'},
			{ className: "film_video_item", id: 5, src: 'http://www.youtube.com/embed/IC7LhgvKpSE'},
			{ className: "film_video_item", id: 6, src: 'http://www.youtube.com/embed/4zM405lkW5o'}]
	-
		const drycleaningExSlider = [{className: "drycleaning_ex_item", id: 1, img: './assets/img/index/drycleaning_1.png'},
			{className: "drycleaning_ex_item", id: 2, img: './assets/img/index/drycleaning_2.png'},
			{className: "drycleaning_ex_item", id: 3, img: './assets/img/index/drycleaning_3.png'},]
	-
		const toningExSlider = [{className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.png'},
			{className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.png'},
			{className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.png'},]
block main
	section.index
		div(class='frame primary_title')
			h1 Премиальный детейлинг
			h4 с вниманием к мелочам

			div.primary_title_block
				p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору
				+modalBtn('Рассчитать стоимость *', 'full')
				p * Узнайте точную стоимость и получите подарок на выбор

		p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору

	section
		a.anchor(id='services')
		h2 Наши услуги
		+carousel(services)
		+modalBtn('Рассчитать стоимость *', 'full')

		p * Узнайте точную стоимость и получите подарок на выбор

	section
		h2 Сэкономьте деньги
			span.accent  на ближайшие 10 лет

		.longitude
			.longitude_content
				img(src='./assets/img/index/car.png', alt="")

		p Детейлинг сохранит авто в первозданном виде и защитит лакокрасочное покрытие от сколов и вмятин
		+modalBtn('Рассчитать стоимость', 'full')


	include ./components/advantages

	section.examples
		a.anchor(id='examples')
		h2 Наши работы
		div.examples_item
			h4 Керамическое покрытие
			+slipper(ceramicExSlider)
			iframe(id="ceramic_video" type="text/html" width="100%" height="100%"
				src="http://www.youtube.com/embed/pjxQ_dzkVR8")

		div.examples_item
			h4 Оклейка защитной пленкой
			p Пример того, как пленка защитила корпус автомобиля после ДТП
			+slipper(filmExSlider)
			+videoSlider(filmVideoSlider)

		div.examples_item
			h4 Химчистка автомобиля
			+slipper(drycleaningExSlider)
			iframe(id="dry-cleaning_video" type="text/html" width="100%" height="100%"
				src="http://www.youtube.com/embed/38e4AXi-UF4")

		div.examples_item
			h4 Тонировка
			+slipper(toningExSlider)

	section
		div(class='promotion frame')
			h2 Акция!
			div(class='promotion_img frame')
				img(src='./assets/img/index/primary.png', alt="")
			p Запишитесь на
				b  бексплатную мойку-консультацию
				span  и получите
				b  полировку фар за X.XXX ₽
			+modalBtn('Записаться', 'full')

			img.promotion_bg(src='./assets/img/index/promo.png', alt="")