extends ./components/layout

block variables
    -
        const services = [{
            "className": "services_item",
            "id": 1,
            link: '/ceramic.html',
            "text": "Керамическое покрытие",
            "caption":"От 32.200 ₽",
            "img": "./assets/img/index/services_1.webp"
        },
            {
                "className": "services_item",
                "id": 2,
                link: '/film.html',
                "text": "Оклейка защитной пленкой",
                "caption":"От 6.400 ₽",
                "img": "./assets/img/index/services_2.webp"
            },
            {
                "className": "services_item",
                "id": 3,
                link: '/glass_repair.html',
                "text": "Ремонт стекла",
                "caption":"От 2.000 ₽",
                "img": "./assets/img/glass/step_2.webp"
            },
            {
                "className": "services_item",
                "id": 4,
                link: '/dry_cleaning.html',
                "text": "Комплексная химчистка салона",
                "caption":"От 19.800 ₽",
                "img": "./assets/img/index/services_3.webp"
            },
            {
                "className": "services_item",
                "id": 5,
                link: '/dovodchik-dveri-avtomobilya.html',
                "text": "Установка доводчиков дверей",
                "caption":"От 60.000 ₽ за 4 двери",
                "img": "./assets/img/dovodchik/step_3.webp"
            },
            {
                "className": "services_item",
                "id": 6,
                link: '/toning.html',
                "text": "Тонировка",
                "caption":"От 1.000 ₽",
                "img": "./assets/img/index/services_4.webp"
            },
            {
                "className": "services_item",
                "id": 7,
                link: '/oklejka-interera-avto.html',
                "text": "Оклейка интерьера",
                "caption":"От 3.000 ₽",
                "img": "./assets/img/index/services_5.webp"
            },
            {
                "className": "services_item",
                "id": 8,
                link: '/polishing.html',
                "text": "Полировка автомобиля",
                "caption": polishingMainPrice,
                "img": "./assets/img/index/services_6.webp"
            }]
    -
        const detailingFAQ = [{
                header: 'Детейлинг авто ',
                body: '<p>Автомобильный детейлинг-центр “Полимер” работает в Санкт-Петербурге с 2013 года.' +
                        ' Благодаря накопленному опыту и штату специалистов студия детейлинга предлагает профессиональный уход за вашим авто и комплексные услуги:' +
                        ' полировка, химчистка салона, а также керамическое покрытие и бронирование пленкой, благодаря которой автомобиль получает защиту от мелких сколов и вмятин кузова, коррозии, выцветания и грязи.</p>' +
                        '<p>Детейлинг (detailing) — процесс глубокой очистки и улучшения внешнего вида автомобиля. Он включает в себя целый комплекс мероприятий:' +
                        ' детейлинг-мойка, удаление царапин и загрязнений, а также нанесение керамического покрытия или оклейка бронепленкой для защиты кузова от внешних воздействий.</p>'
            },
            {
                header: 'Преимущества детейлинга',
                body: '<p>Детейлинг имеет множество преимуществ:</p>' +
                        ' <ul><li>Улучшенный внешний вид. Керамическое покрытие придает кузову блеск за счет отсутствия мелких дефектов, царапин и сколов, благодаря чему автомобиль выглядит как новый.</li>' +
                        '<li>Долговременная защита. Керамическое покрытие и бронепленка обеспечивают долговременную защиту кузова, предотвращают выцветание под лучами ультрафиолета, окисление, механические повреждения и воздействие химических веществ.</li>' +
                        '<li>Легкость ухода. После детейлинга автомобиль становится легче поддерживать в чистоте. Керамическое или пленочное покрытие образует гладкую поверхность, которая отталкивает грязь и пыль. Это упрощает процесс чистки и мойки.</li></ul>' +
                        '<p>Детейлинг от АЦ “Полимер” улучшает внешний вид автомобиля, обеспечивает защиту и упрощает уход за ним. Благодаря услуге авто в течение длительного периода выглядит ухоженным, свежим и блестящим.</p>'
            }]

block main
    section.index
        div(class='frame primary_title')
            h1 Детейлинг автомобилей в Санкт-Петербурге
            h4 с вниманием к мелочам

            div.primary_title_block
                p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору
                +modalBtn('Оставить заявку *', 'full')
                p * Узнайте точную стоимость и получите подарок на выбор

        p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору

    section
        a.anchor(id='services')
        h2 Наши услуги
        +carousel(services)
        +modalBtn('Оставить заявку *', 'full')

        p * Узнайте точную стоимость и получите подарок на выбор

    include ./components/protect

    include ./components/examples

    include ./components/advantages

    section
        h2 Детейлинг автомобилей в Санкт-Петербурге
        +spoiler(detailingFAQ)
