extends components/layout

block variables
    -
        const ceramicPrimarySlider = [{className: "ceramic_title", id: 1, img: './assets/img/ceramic/primary_2.webp'},
            {className: "ceramic_title", id: 2, img: './assets/img/ceramic/primary_4.webp'}]
    -
        const ceramicPoints = [{id: 1, text: '<b>Защита</b> от  выцветания, абразивов, коррозии и насекомых'},
             { id: 2, text: '<b>Cамоочищение</b> — на ЛКП не скапливается вода, грязь, битум, дорожная сажа. Защита от дорожных реагентов, масел, ГСМУ '},
             { id: 3, text: '<b>Улучшение</b> внешнего вида автомобиля — покрытие увеличивает глубину цвета, сохраняет блеск и гладкость краски'},
             { id: 4, text: '<b>Сохранение</b> свойств покрытия в течение 1 года с момента нанесения'},
             { id: 5, text: '<b>Новизна</b> — с керамическим покрытием автомобиль будет выглядеть, как новый'}]
    -
        const ceramicSteps = [{
            className: 'ceramic_step',
            id: 1,
            text: 'Подготовка поверхности',
            desc: 'Мойка, обезжиривание автомобиля, очистка ЛКП специальной глиной от остатков загрязнений',
            img: './assets/img/ceramic/step_1.webp'
            },
            {
                className: 'ceramic_step',
                id: 2,
                text: 'Полировка кузова',
                desc: 'Устранение царапин и паутины с ЛКП автомобиля',
                img: './assets/img/ceramic/step_2.webp'
            },
            {
                className: 'ceramic_step',
                id: 3,
                text: 'Промежуточная мойка',
                desc: 'Удаление остатков пасты, сушка перед нанесением керамики',
                img: './assets/img/ceramic/step_3.webp'
            },
            {
                className: 'ceramic_step',
                id: 4,
                text: 'Первый слой керамики',
                desc: 'Подкрашивание сколов в цвет автомобиля, нанесение первого слоя керамики',
                img: './assets/img/ceramic/step_4.webp'
            },
            {
                className: 'ceramic_step',
                id: 5,
                text: 'Сушка под лампами',
                desc: 'Подготовка автомобиля ко второму слоя покрытия',
                img: './assets/img/ceramic/step_5.webp'
            },
            {
                className: 'ceramic_step',
                id: 6,
                text: 'Второй слой керамики',
                desc: 'Придание авто безупречного внешнего вида и гидрофобных свойств',
                img: './assets/img/ceramic/step_6.webp'
            },
            {
                className: 'ceramic_step',
                id: 7,
                text: 'Финальная сушка',
                desc: 'Образование прочной прозрачной пленки в течение 12 часов',
                img: './assets/img/ceramic/step_7.webp'
            },
            {
                className: 'ceramic_step',
                id: 8,
                text: 'Выдача автомобиля клиенту',
                desc: 'Полная готовность через 2-е суток. Индивидуальные исключения обсуждаются перед началом работ',
                img: './assets/img/ceramic/step_8.webp'
            }]
    -
        const ceramicExSlider = [{className: "ceramica_ex_item", id: 1, img: './assets/img/index/ceramica_1.webp'},
            {className: "ceramica_ex_item", id: 2, img: './assets/img/index/ceramica_2.webp'},
            {className: "ceramica_ex_item", id: 3, img: './assets/img/ceramic/CeramicResults/1.webp'},
            {className: "ceramica_ex_item", id: 4, img: './assets/img/ceramic/CeramicResults/2.webp'},
            {className: "ceramica_ex_item", id: 5, img: './assets/img/ceramic/CeramicResults/3.webp'},
            {className: "ceramica_ex_item", id: 6, img: './assets/img/ceramic/CeramicResults/4.webp'}]
    -
         const ceramicPrices = [{ name: 'mini', price: `от  <s>32.000 ₽</s>  22.400 ₽` },
             { name: 'first', price: 'От <s>36.000 ₽</s> 25.200 ₽' },
             { name: 'second', price: 'От <s>42.000 ₽</s> 29.400 ₽' },
             { name: 'business', price: 'От <s>50.000 ₽</s> 35.800 ₽' },
             { name: 'grand', price: 'От <s>60.000 ₽</s> 42.800 ₽' }]
    -
        const ceramicFAQ = [{
            header: 'Как долго автомобиль будет выглядеть хорошо?',
            body: 'Зависит от интенсивности моек и эксплуатации. Керамическое покрытие на автомобиле держится от одного года. А при соблюдении правильных условий эксплуатации и ухода может спокойно продержаться до двух лет'
        },
            {header: 'Что происходит, когда кончается срок службы покрытия?', body: 'Покрытие равномерно стирается'},
            {
                header: 'Можно ли мыть авто на автомойках с щетками?',
                body: 'Нежелательно. Лучше отказаться от щеточных моек и моек «из ведра»'
            },
            {
                header: 'В каких случаях можно делать керамическое покрытие?',
                body: '- Когда только купили машину, чтобы сразу обезопасить новое лакокрасочное покрытие. <br/>- Когда ездили какое-то время и хотите, чтобы ваша машина снова сияла, как новая'
            },
            {header: 'Вы предоставляете гарантию?', body: 'Да, мы даем год гарантии на несмываемость покрытия'}]
    -
       const ceramicCoverageFAQ = [{
            header: 'Этапы нанесения керамического покрытия на пленку',
            body: '<p>Защитные антигравийные полиуретановые и виниловые пленки стали популярным выбором для владельцев автомобилей, стремящихся защитить кузов своего авто от механических повреждений и негативного влияния окружающей среды. Нанесение защитных покрытий, в частности керамики, является дополнительным шагом, который можно применить для увеличения уровня защиты и продления срока службы пленок. Этот процесс включает в себя следующие этапы:</p><ol><li>Подготовка кузова авто. Перед оклейкой кузов автомобиля должен быть тщательно очищен и подготовлен. Для этого выполняется полировка кузова авто, позволяющая устранить мелкие царапины и дефекты.</li><li>Нанесение пленки. Глянцевые и матовые пленки могут быть использованы в зависимости от желаемого вида и защитных свойств.</li><li>Нанесение керамического покрытия. После того как пленка полностью приклеена и сглажена, на нее можно нанести керамику. Это покрытие создает дополнительный слой защиты, делая пленку более устойчивой к внешним воздействиям.</li></ol>',
          },
            {
            header: 'Преимущества',
            body: '<p>Нанесение керамического покрытия на пленку обеспечивает ряд преимуществ:</p><ul><li>Улучшенная защита. Усиление защитных свойств пленки, что помогает предотвратить механические повреждения и воздействие окружающей среды на кузов автомобиля.</li><li>Увеличенный срок службы. Керамика увеличивает время, в течение которого пленка эффективно защищает кузов.</li><li>Улучшенный внешний вид. Керамическое покрытие может улучшить внешний вид пленки, делая ее более яркой и глянцевой.</li></ul><p>Нанесение керамического покрытия на пленку — эффективный способ улучшения защитных свойств и продления срока службы материала. Это может быть особенно полезно для автомобилей, которые часто используются в суровых климатических условиях.</p>',
          }]

block main
    script.
        document.title = "Керамика на полиуретановую пленку в СПб — цена нанесения керамики на полиуретановую и виниловую пленку";
        document.getElementsByTagName('meta')["description"].content = "Нанесение керамики на пленку в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки";

    section.main
        h1 Нанесение керамики на пленку
        +slipper(ceramicPrimarySlider)

        div.main_content
            p Защитите автомобиль от царапин, сколов, грязи и химических реагентов с помощью керамики с
                b  гарантией 1 год.
            p
                b Только до 30 июня – скидка 30% + антидождь стекол и уборка салона ЛЮКС в подарок
            +modalBtn('Оставить заявку', 'full')

    //- section
    //-     div(class='info info_box')
    //-         img.info_icon(src='./assets/icons/info.svg', alt="")
    //-         p
    //-             b Керамическое покрытие
    //-             span  — это полимер, который вступает в реакцию с ЛКП автомобиля, создавая на нем
    //-             b  прозрачную защитную пленку
    //-         img.info_img(src='./assets/img/ceramic/info.webp', alt="")

    section
        h2 5 причин нанести керамическое покрытие
        +points(ceramicPoints)

    include ./components/protect

    section
        h2 Этапы нанесения керамического покрытия
        +carousel(ceramicSteps)

    section
        h2 Результаты
        div.examples_item
            +slipper(ceramicExSlider)

    section
        h2 Цены
        +prices(ceramicPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        div.list
            h2 С нанесением
                span.accent  керамического покрытия на пленку в автоцентре “полимер”
                div  вы получите

            ul
                li
                    b 1 год гарантии
                    span  на несмываемость покрытия и на работу
                li
                    b Бесплатную контрольную мойку
                    span  через 7-10 дней для проверки качества работы
                li
                    b Чистые и отапливаемые боксы
                    span  со всем необходимым оборудованием
                li
                    b Лучшую
                    span  в своей ценовой категории
                    b  автохимию
                    span , прошедшую проверку временем в климате Санкт-Петербурга
                li
                    b Экономию до 300.000 рублей.
                    span  Ухоженный автомобиль при продаже будет стоить дороже

            +modalBtn('Оставить заявку на бесплатную консультацию', 'consultation')

    include ./components/advantages
    
    section
        h2 Популярные вопросы
        +microFaq(ceramicFAQ)
    
    section
        h2 Нанесение керамики на пленку
        +spoiler(ceramicCoverageFAQ)
