extends components/layout

block variables
    -
        const exteriorPrimarySlider = [{ className: "ceramic_title", id: 1, img: './assets/img/exterior/primary.webp'},
            { className: "ceramic_title", id: 2, img: './assets/img/exterior/InteriorMain/1.webp'}]
    -
        const exteriorSteps = [{ className: 'exterior_step', id: 1, text: 'Начало работы', desc: 'Проверяем наличие вашей машины и комплектации по нашей базе лекал, чтобы пленка идеально подходила под размеры деталей салона', img: './assets/img/exterior/step_1.webp'},
            { className: 'exterior_step', id: 2, text: 'Подготовка материала', desc: 'Плоттер прорезает пленку по лекалам вашего салона', img: './assets/img/exterior/step_2.webp'},
            { className: 'exterior_step', id: 3, text: 'Оклейка', desc: 'После подготовки материалов, наши мастера оклеивают салон', img: './assets/img/exterior/step_3.webp'},
            { className: 'exterior_step', id: 4, text: 'Выдача автомобиля клиенту', desc: '', img: './assets/img/exterior/step_4.webp'}]
    -
        const exteriorExSlider = [{className: "exterior_ex_item", id: 1, img: './assets/img/index/exterior_1.webp'},
            {className: "exterior_ex_item", id: 2, img: './assets/img/exterior/InteriorResults/1.webp'},
            {className: "exterior_ex_item", id: 3, img: './assets/img/exterior/InteriorResults/2.webp'},
            {className: "exterior_ex_item", id: 4, img: './assets/img/exterior/InteriorResults/3.webp'},
            {className: "exterior_ex_item", id: 6, img: './assets/img/index/exterior_2.webp'}]
    -
        const exteriorPrices = [{ price: 'от 1 200 ₽', header: 'Скол-глаз', img: './assets/img/exterior/type_1.webp' },
            { price: 'от 1 500 ₽', header: 'Скол-звезда', img: './assets/img/exterior/type_2.webp' },
            { price: 'от 2 000 ₽', header: 'Двойной скол', img: './assets/img/exterior/type_3.webp' },
            { price: 'от 2 000 ₽', header: 'Скол радиальный', img: './assets/img/exterior/type_4.webp' },
            { price: 'от 1 500 ₽', header: 'Трещина до 20 см', img: './assets/img/exterior/type_5.webp' },
            { price: 'от 2 000 ₽', header: 'Трещина 20-40 см', img: './assets/img/exterior/type_6.webp' },
            { price: 'от 2 500 ₽', header: 'Трещина более 40 см', img: './assets/img/exterior/type_7.webp' },
            { price: 'от 2 000 ₽', header: 'Трещина со сколом', img: './assets/img/exterior/type_8.webp' },];
    -
        const exteriorPoints = [{
                id: 1,
                text: '<b>Защита экранов</b> — пленка предотвращает появление царапин на мониторах и сенсорных панелей, защищает лакированные поверхности.'
            },
            {
                id: 2,
                text: '<b>Пленка незаметна на поверхности.</b> Внешний вид салона останется прежним.'
            },
            {
                id: 3,
                text: '<b>Большой срок эксплуатации</b> — срок службы защитной пленки не менее 5 лет.'
            }]
    -
        const exteriorFAQ = [{
                header: 'Любой салон можно оклеить защитной пленкой?',
                body: 'Перед началом работы мы проверяем наличие вашей модели и комплектации по нашей базе лекал. После этого мы рассчитываем точную стоимость оклейки конкретно для вашего салона.'
            },
            {
                header: 'Можно ли оклеить не новый салон?',
                body: 'Да, конечно. Защитить пленкой можно любой салон. Если детали салона уже поцарапаны, сначала они полируются, а после уже оклеиваются.'
            },
            {
                header: 'Какие части салона можно защитить пленкой?',
                body: '- Мониторы, дисплеи <br/>- Приборные панели <br/>- Элементы управления, декоративные вставки'
            },
            {
                header: 'Мешает ли пленка работе сенсорных панелей?',
                body: 'Защитная пленка не влияет на работу сенсорных приборов.'
            }]
    -
        const interiorSEO = [{header:'Преимущества оклейки салона авто', body:'<p>Салон автомобиля — место, где мы проводим много времени в пути. Важно, чтобы интерьер вашего авто был комфортным, стильным и хорошо защищенным. Компания АЦ "Полимер" предлагает услугу по оклейке интерьера автомобиля пленкой, которая не только улучшает внешний вид, но и обеспечивает долгосрочную защиту.</p><p>Среди основных преимуществ такой услуг стоит выделить следующие:</p><ul><li>Защита от истирания и потертостей. Интерьер автомобиля подвергается ежедневному износу. Пленка предотвращает появление царапин и потертостей на поверхности пластиковых или металлических элементов сидений, рулевого колеса, панели приборов и других частей салона.</li><li>Улучшение внешнего вида. Оклейка интерьера пленкой дает возможность изменить цвет и текстуру элементов салона, придавая ему новый, стильный вид.</li><li>Продолжительный срок службы. Пленка имеет высокую износостойкость, что обеспечивает долгий срок службы и сохранность интерьера автомобиля на многие годы.</li><li>Легкий уход. Покрытие обладает антистатическими свойствами, что упрощает процесс ухода за интерьером — достаточно протереть его влажной тряпкой.</li><li>Защита от ультрафиолета. Пленка блокирует ультрафиолетовое излучение, предотвращая выгорание и выцветание элементов салона.</li></ul>'},{header: 'Этапы оклейки', body: '<p>Оклейка пленкой требует профессионального подхода, использования качественных материалов и соблюдение технологии. Работа выполняется поэтапно:</p><ul><li>Подготовка интерьера. Специалисты АЦ "Полимер" проводят детальную очистку и подготовку всех элементов салона автомобиля перед началом работ.</li><li>Выбор пленки. Заказчик выбирает тип и цвет пленки, который соответствует его предпочтениям и стилю.</li><li>Нанесение. Сотрудники автоцентра аккуратно и равномерно наклеивают пленку на элементы интерьера, исключая возможность образования пузырей воздуха или искажений.</li><li>Полировка и финальная проверка качества. После нанесения проводится полировка, чтобы обеспечить идеально ровную поверхность.</li></ul><p>Оклейка интерьера авто — не только вложение в красоту и стиль салона, но и гарантия его долгосрочной защиты.</p>'}]

block main
    script.
        document.title = "Оклейка интерьера авто в СПб — цена оклейки салона автомобиля пленкой";
        document.getElementsByTagName('meta')["description"].content = "Оклейка салона автомобиля пленкой в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Оклейка салона автомобиля пленкой
        +slipper(exteriorPrimarySlider)
           
        div.main_content
            p Оклейте интерьер салона защитной пленкой
                b  от 3000 рублей

            +modalBtn('Оставить заявку', 'full')

    section
        h2 3 причины оклеить интерьер салона защитной пленкой
        +points(exteriorPoints)

    section
        h2 Результаты
        +slipper(exteriorExSlider)

    section
        +modalBtn('Рассчитать стоимость', 'full')

    section
        h2 Этапы работы
        +carousel(exteriorSteps)

    include ./components/advantages

    include ./components/protect

    section
        h2 Популярные вопросы
        +microFaq(exteriorFAQ)

    section
        h2 Оклейка салона автомобиля пленкой
        +spoiler(interiorSEO)
