extends components/layout

block main
  script.
    document.title = "Согласие на обработку персональных данных | ООО «СТМ-13»";
    document.getElementsByTagName('meta')["description"].content = "Форма согласия на обработку персональных данных для пользователей сайта acpolimer.ru (ООО «СТМ-13»). Подтверждая, вы соглашаетесь на сбор и обработку ваших данных.";

  section
    h1.underlined_header
      span Согласие на обработку персональных данных

    p
      | Настоящим я, свободно, своей волей и в своем интересе, выражаю своё согласие 
      strong Обществу с ограниченной ответственностью «СТМ-13»
      |  (ОГРН 1137847495389, ИНН 7811568559), зарегистрированному по адресу: СПб, ул. Моховая 37 "Б" (далее — Оператор), на обработку, в том числе автоматизированную, моих персональных данных.

    h4 Данные, предоставляемые мной лично:
    ul
      li фамилия, имя, отчество;
      li номер телефона;
      li адрес электронной почты.
      
    h4 Данные, которые собираются автоматически:
    ul
      li IP-адрес;
      li источник захода на Сайт и информация поискового или рекламного запроса;
      li данные о пользовательском устройстве (тип, версия ОС, разрешение экрана и другие атрибуты);
      li пользовательские клики, просмотры страниц, заполнения полей;
      li данные о времени посещения;
      li идентификатор пользователя, хранимый в файлах «cookie».

    h4 Обработка моих персональных данных может осуществляться в следующих целях:
    ul
      li идентификация меня для оформления и обработки моего заказа, установления со мной обратной связи для уточнения деталей и отправки заказа;
      li направление на мой адрес электронной почты и номер телефона информационных и рекламных сообщений о продуктах, услугах и акциях Оператора;
      li проведение статистических и иных исследований на основе обезличенных данных для улучшения качества работы Сайта и его содержания.

    p
      | Также даю свое согласие на передачу моих персональных данных (в обезличенном или агрегированном виде) сервисам интернет-статистики (Яндекс Метрика, Google Analytics) для целей сбора статистики посещаемости Сайта и анализа действий пользователей.

    p
      | Оператор вправе осуществлять с моими персональными данными следующие действия: сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение.

    p
      | Настоящее согласие вступает в силу с момента моего перехода на Сайт и проставления отметки в соответствующем поле («галочки») и действует до достижения целей обработки персональных данных или до момента отзыва мной настоящего согласия.

    p
      | Я проинформирован(а), что могу в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление на адрес электронной почты: 
      a(href="mailto:acpolimer13@gmail.com") acpolimer13@gmail.com
      |  с пометкой «Отзыв согласия на обработку персональных данных».

    p
      strong Подтверждаю, что, предоставляя настоящее согласие, я действую по своей воле и в своих интересах.
