extends components/layout

block variables
    -
        const polishingPrimarySlider = [{ className: "polishing_title", id: 1, img: './assets/img/polishing/primary_1.webp'},
            { className: "polishing_title", id: 2, img: './assets/img/polishing/primary_2.webp'},
            { className: "polishing_title", id: 3, img: './assets/img/polishing/primary_3.webp'}]
    -
        const polishingPoints = [{ id: 1, text: '<b>Восстановление блеска и цвета</b> – полировка кузова удаляет мелкие царапины, потертости и другие поверхностные дефекты, которые снижают блеск и яркость кузова авто.<br/><br/>Это помогает восстановить первоначальный цвет и сделать автомобиль более привлекательным.'},
             { id: 2, text: '<b>Защита кузова и ЛКП от внешних факторов</b>, таких как дорожные реагенты, дождь, снег и т.д.<br/><br/>Восстановительная полировка предотвращает повреждения кузова, появление коррозии и сохраняет его в хорошем состоянии на долгое время.'},
             { id: 3, text: '<b>Повышение стоимости автомобиля</b> – если вы планируете продать свой автомобиль, полировка кузова поможет повысить его стоимость.<br/><br/>Автомобиль, который выглядит как новый, будет привлекательнее для покупателей'}]
    -
        const polishingSteps = [{ className: 'polishing_step', id: 1, text: 'Прием автомобиля', desc: 'Мастера автоцентра внимательно осматривают поверхность авто и оценивают повреждения', img: './assets/img/polishing/step_1.webp'},
            { className: 'polishing_step', id: 2, text: 'Подготовка покрытия', desc: 'Перед началом полировки автомобиль моют и сушат, чтобы удалить грязь, пыль и другие загрязнения. Затем обезжиривают поверхность и чистят ЛКП от микрозагрязнений с помощью специальной глины и очищающих средств', img: './assets/img/polishing/step_2.webp'},
            { className: 'polishing_step', id: 3, text: 'Полировка', desc: 'Верхний слой лака выравнивается за счет нагрева поверхности специальными полировальными кругами. В царапины равномерно заплывает лак, но слой самого ЛКП не уменьшается', img: './assets/img/polishing/step_3.webp'},
            { className: 'polishing_step', id: 4, text: 'Выдача автомобиля клиенту', desc: 'После завершения всех этапов, сотрудники автоцентра осматривают поверхность еще раз, чтобы убедиться в качестве выполненной работы', img: './assets/img/polishing/step_4.webp'}]
    -
        const polishingExSlider = [{ className: "polishing_ex_item", id: 1, img: './assets/img/index/polishing_1.webp'},
            { className: "polishing_ex_item", id: 2, img: './assets/img/index/polishing_2.webp'},
            {className: "polishing_ex_item", id: 3, img: './assets/img/index/polishing_3.webp'},
            {className: "polishing_ex_item", id: 4, img: './assets/img/index/polishing_4.webp'}]
    -
         const polishingPrices = [{ name: 'mini', price: '18 000 ₽' },
             { name: 'first', price: '20 000 ₽' },
             { name: 'second', price: '22 000 ₽' },
             { name: 'business', price: '24 000 ₽' },
             { name: 'grand', price: '30 000 ₽' }]
    -
        const polishingFAQ = [{ header: 'Сколько времени занимает полировка автомобиля?', body: 'В среднем работы занимают 2-е суток, но бывают исключения. Все сроки обсуждаются перед началом работы и фиксируются в договоре'},
            { header: 'Сколько раз можно полировать машину?', body: 'На протяжении всего времени эксплуатации автомобиля. Главное, делать это у специалистов. Отполировать автомобиль без риска повреждения ЛКП можно только в специализированных центрах'},
            { header: 'На сколько хватает полировки?', body: 'Все зависит от эксплуатации авто: в какой местности ездите, как часто, какие виды моек используете и т.п. Если вы не используете щеточные мойки и не ездите по лесам и грунтовым дорогам, то эффект от полировки сохранится надолго'},
            { header: 'Сильно ли утоньшается слой лака при полировке?', body: 'В процессе полировки верхний слой лака выравнивается за счет нагрева поверхности специальными полировальными кругами,таким образом неровности и царапины заплавляются без уменьшения слоя ЛКП'},
            { header: 'Убираются ли сколы при полировке?', body: 'Нет, они аккуратно подкрашиваются'},
            { header: 'Что дает полировка?', body: 'Удаление косметических дефектов и защита ЛКП от повреждений'},
            { header: 'Вы предоставляете гарантию?', body: 'Да, мы даем год гарантии на все виды наших работ'},]
    -
        const polishingCarFAQ = [{header:'Профессиональная полировка кузова авто для идеального внешнего вида', body: '<p>Каждый автовладелец стремится сохранить привлекательный внешний вид своего автомобиля. И в этом поможет профессиональная полировка по доступной цене, которая позволяет восстановить блеск лакокрасочных покрытий и защитить его от негативных воздействий окружающей среды. Основным преимуществом полировки автомобиля является восстановление глубоких царапин. Глубокие повреждения на ЛКП могут значительно портить внешний вид автомобиля. С помощью профессиональной глубокой восстановительной полировки, используя качественные инструменты и специальные абразивные пасты, мастера детейлинг-центра “Полимер” максимально эффективно помогут устранить повреждения и вернуть кузову первоначальный блеск.</p>'},
            {header:'Процесс полировки автомобиля', body:'<p>Профессиональная полировка автомобиля выполняется опытными мастерами АЦ “Полимер” с использованием специальных инструментов и материалов. Этапы процесса:</p><ol><li>Оценка состояния. Мастера осматривают автомобиль и анализируют состояние покрытия. Они обращают внимание на царапины, сколы, повреждения и другие дефекты.</li><li>Подготовка поверхности. Перед полировкой необходимо тщательно очистить автомобиль от загрязнений и налета. Двери, бампер, капот и другие элементы кузова обрабатываются специальными средствами, чтобы гарантировать максимальное качество восстановительных работ и полировки.</li><li> обработка. Для удаления сильных повреждений используется паста. С помощью инструментов и специальных техник специалисты тщательно обрабатывают поверхность, устраняя дефекты и восстанавливая блеск.</li><li>Завершающие штрихи. Мастера проводят финальную проверку и устраняют возможные недостатки.</li></ol><p>Доверьте полировку автомобиля профессионалам, чтобы получить идеальный и долговечный результат. Помимо детейлинга кузова автоцентр предлагает следующие услуги: полировка фар, химчистка салона автомобиля, покрытие керамикой и бронирование пленкой. На сайте можно узнать больше информации о ценах и услугах.</p>'}]

block main
    script.
        document.title = "Полировка кузова автомобиля в СПб — цена профессиональной полировки царапин на кузове автомобиля";
        document.getElementsByTagName('meta')["description"].content ="Полировка кузова автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Полировка кузова
        +slipper(polishingPrimarySlider)

        div.main_content
            p Защитите покрытие автомобиля от коррозии и восстановите первоначальный блеск с помощью полировки
                b  от 18 000 рублей

            +modalBtn('Оставить заявку', 'full')

    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            p Полировка кузова автомобиля
                b  защитит покрытие от коррозии
                span , которая образуется из-за сколов, и вернет авто
                b  первозданный блеск

    section
        h2 Зачем нужна полировка кузова
        +points(polishingPoints)

    include ./components/protect

    section
        h2 Как мы работаем
        +carousel(polishingSteps)

    section
        h2 Результаты
        div.examples_item
            +slipper(polishingExSlider)

    section
        h2 Цены
        +prices(polishingPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        div.list
            h2 С
                span.accent  полировкой автомобиля в автоцентре “полимер”
                div  вы получите

            ul
                li
                    b 1 год гарантии
                    span  на несмываемость покрытия и на работу
                li
                    b Бесплатную контрольную мойку
                    span  через 7-10 дней для проверки качества работы
                li
                    b Чистые и отапливаемые боксы
                    span  со всем необходимым оборудованием
                li
                    b Лучшую
                    span  в своей ценовой категории
                    b  автохимию
                    span , прошедшую проверку временем в климате Санкт-Петербурга
                li
                    b Экономию до 300.000 рублей.
                    span  Ухоженный автомобиль при продаже будет стоить дороже, и легко уйдет по максимуму рынка

            +modalBtn('Оставить заявку на бесплатную консультацию', 'consultation')

    include ./components/advantages

    section
        h2 Популярные вопросы
        +microFaq(polishingFAQ)

    section
        h2 Полировка авто
        +spoiler(polishingCarFAQ)

