extends components/layout

block variables
	-
		const services = [{"className":"services_item","id":1, link: '/ceramic.html', "text":"Керамическое покрытие","img":"./assets/img/index/services_1.webp"},
			{"className":"services_item","id":2,link: '/film.html', "text":"Оклейка защитной пленкой","img":"./assets/img/index/services_2.webp"},
			{"className":"services_item","id":3,link: '/glass_repair.html', "text":"Ремонт стекла","img":"./assets/img/glass/step_2.webp"},
			{"className":"services_item","id":4,link: '/dry_cleaning.html', "text":"Химчистка автомобиля","img":"./assets/img/index/services_3.webp"},
			{"className":"services_item","id":5,link: '/toning.html', "text":"Тонировка","img":"./assets/img/index/services_4.webp"},
			{"className": "services_item","id": 6,link: '/oklejka-interera-avto.html', "text": "Оклейка интерьера", "img": "./assets/img/index/services_5.webp"},
			{"className": "services_item", "id": 7, link: '/polishing.html', "text": "Полировка автомобиля", "img": "./assets/img/index/services_6.webp"}]
	-
		const ceramicExSlider = [{ className:"ceramica_ex_item", id: 1, img: './assets/img/index/ceramica_1.webp'},
			{ className: "ceramica_ex_item", id: 2, img: './assets/img/index/ceramica_2.webp'}]
	-
		const filmExSlider = [{className: "film_ex_item", id: 1, img: './assets/img/index/film_1.webp'},
			{className: "film_ex_item", id: 2, img: './assets/img/index/film_2.webp'},
			{className: "film_ex_item", id: 3, img: './assets/img/index/film_3.webp'}]
	-
		const filmVideoSlider = [{ className: "film_video_item", id: 1, src: 'https://www.youtube.com/embed/QUHaj6jPBos'},
			{ className: "film_video_item", id: 2, src: 'https://www.youtube.com/embed/VzKPZIpGQvk'},
			{ className: "film_video_item", id: 3, src: 'https://www.youtube.com/embed/NnbNGmGt89U'},
			{ className: "film_video_item", id: 4, src: 'https://www.youtube.com/embed/eFW-CivShqs'},
			{ className: "film_video_item", id: 5, src: 'https://www.youtube.com/embed/IC7LhgvKpSE'},
			{ className: "film_video_item", id: 6, src: 'https://www.youtube.com/embed/4zM405lkW5o'}]
	-
		const drycleaningExSlider = [{className: "drycleaning_ex_item", id: 1, img: './assets/img/index/drycleaning_1.webp'},
			{className: "drycleaning_ex_item", id: 2, img: './assets/img/index/drycleaning_2.webp'},
			{className: "drycleaning_ex_item", id: 3, img: './assets/img/index/drycleaning_3.webp'},]
	-
		const toningExSlider = [{className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.webp'},
			{className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.webp'},
			{className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.webp'},]
	-
		const exteriorExSlider = [{className: "exterior_ex_item", id: 1, img: './assets/img/index/exterior_1.webp'},
			{className: "exterior_ex_item", id: 2, img: './assets/img/index/exterior_2.webp'}]
	-
		const polishingExSlider = [{className: "polishing_ex_item", id: 1, img: './assets/img/index/polishing_1.webp'},
			{className: "polishing_ex_item", id: 2, img: './assets/img/index/polishing_2.webp'},
			{className: "polishing_ex_item", id: 3, img: './assets/img/index/polishing_3.webp'},
			{className: "polishing_ex_item", id: 4, img: './assets/img/index/polishing_4.webp'}]
	-
		const detailingFAQ = [{header:'Услуги детейлинга', body:'<p>Премиум детейлинг — высококлассный, тщательный и максимально полный уход за автомобилем. Детейлинг-центр "Полимер" предлагает услуги премиального детейлинга, которые позволят вашему автомобилю сиять новизной. Профессиональный детейлинг охватывает все аспекты ухода за авто, включая детейлинг мойку и полировку кузова, химчистку салона и нанесение защитных покрытий.</p><p>Предлагаем комплексные услуги по профессиональному уходу, которые включают в себя тщательную очистку и реставрацию каждого элемента автомобиля. Детейлинг-студия в Санкт-Петербурге оснащена современным оборудованием и использует только качественные материалы, чтобы обеспечить высококлассный сервис.</p>'},
			{header: 'Преимущества', body: '<p>Детейлинг премиум-класса представляет собой подробный и тщательный процесс, который включает следующие этапы:</p><ul><li>Предварительная мойка автомобиля. Используются специальные растворы и щетки, чтобы безопасно удалить поверхностные загрязнения.</li><li>Детальная мойка кузова. Тщательная очистка каждого элемента авто, включая колеса, двигатель и труднодоступные места.</li><li>Химчистка салона. Глубокая чистка всех элементов интерьера, включая сиденья, коврики, панель приборов и другие детали.</li><li>Полировка. Удаление мелких царапин и восстановление блеска кузова.</li><li>Нанесение защитного покрытия. Придает дополнительный блеск и защищает автомобиль от внешних воздействий.</li><li>Уход за кожаными элементами. При наличии, кожаный салон проходит процедуру чистки и кондиционирования.</li><li>Очистка и восстановление резиновых и пластиковых элементов. Включает в себя восстановление цвета и защиту от ультрафиолетового излучения.</li></ul><p>Этот список может варьироваться в зависимости от пожеланий и требований владельца автомобиля.</p><p>Данный вид детейлинга подразумевает использование лучших средств, материалов, технологий и оборудования для достижения наилучших результатов. Премиум детейлинг помогает не только восстановить автомобиль до его первоначального состояния, но и значительно улучшить его внешний вид, предлагая владельцу максимальный комфорт и удовольствие от вождения.</p>'}]

block main
	script.
		document.title = "Премиум детейлинг автомобиля в СПб — цена автомобильного детейлинга премиум класса";
		document.getElementsByTagName('meta')["description"].content ="Премиум детейлинг автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

	section.index
		div(class='frame primary_title')
			h1 ПРЕМИУМ ДЕТЕЙЛИНГ В САНКТ-ПЕТЕРБУРГЕ
			h4 с вниманием к мелочам

			div.primary_title_block
				p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору
				+modalBtn('Оставить заявку *', 'full')
				p * Узнайте точную стоимость и получите подарок на выбор

		p Вернем автомобилю безупречный внешний вид за 2 дня с оплатой после работы и гарантией 1 год по договору

	section
		a.anchor(id='services')
		h2 Наши услуги
		+carousel(services)
		+modalBtn('Оставить заявку *', 'full')

		p * Узнайте точную стоимость и получите подарок на выбор

	include ./components/protect

	section.examples
		a.anchor(id='examples')
		h2 Наши работы
		div.examples_item
			h4 Керамическое покрытие
			+slipper(ceramicExSlider)

		div.examples_item
			h4 Оклейка защитной пленкой
			p Пример того, как пленка защитила корпус автомобиля после ДТП
			p
			+slipper(filmExSlider)

		div.examples_item
			h4 Химчистка автомобиля
			+slipper(drycleaningExSlider)

		div.examples_item
			h4 Тонировка
			+slipper(toningExSlider)

		div.examples_item
			h4 Оклейка интерьера
			+slipper(exteriorExSlider)

		div.examples_item
			h4 Полировка автомобиля
			+slipper(polishingExSlider)



	include ./components/advantages

	section
		h2 ПРЕМИУМ ДЕТЕЙЛИНГ В САНКТ-ПЕТЕРБУРГЕ
		+spoiler(detailingFAQ)
