extends components/layout

block variables
    - const columns = {name: ' ', mini: 'Малый класс', first: 'Первый класс или гольф класс', second: 'Второй средний класс', business: 'Бизнес-класс', grand: 'Представительский класс'};
    -
        const data = {
        johnson: {
            group: 'пленка LLUMAR',
                data: [
                    {name: 'Евро', first: 7000, business: 8500, grand: 11000},
                    {name: '1 боковое стекло', first: 2000, business: 2500, grand: 2500},
                    {name: '1 форточка', first: 1000, business: 1000, grand: 1000},
                    {name: 'Лобовое стекло', first: 4000, business: 5000, grand: 5000},
                    {name: 'Заднее стекло', first: 4000, business: 5000, grand: 5000},
                ]
            },
        dimention: {
            group: 'Атермальная пленка',
                data: [
                    {name: '1 боковое стекло', first: 2000, business: 3000, grand: 3000},
                    {name: '1 форточка', first: 1000, business: 1000, grand: 1000},
                    {name: 'Лобовое стекло', first: 5000, business: 6000, grand: 6000},
                ]
            },
        armor: {
            group: 'бронирующая пленка 4 mil',
                data: [
                    {name: '1 боковое стекло', first: 2000, business: 2500, grand: 2500},
                    {name: '1 форточка', first: 1000, business: 1000, grand: 1000},
                ]
            },
        clear_plex: {
            group: 'Защитная пленка CLEAR PLEX',
                data: [
                    {name: 'Лобовое стекло', first: 28000, business: 34000, grand: 34000},
                ]
            },
        };

block main
    script.
        document.title = "Прайс - лист на тонировку стекол автомобиля в СПб — цены в прайс - листе на тонировку стекол авто";
        document.getElementsByTagName('meta')["description"].content ="Прайс-лист на тонировку стекол автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.price_list
        h1 Прайс-лист на тонировку стекол
        +table(columns, data)

        button(class='btn btn_back' onclick="window.history.back()") Назад

    section
        p Оставьте заявку на бесплатную консультацию, и получите купон на
            b  2.000 ₽
            span  на бронирование фар

        +modalBtn('Оставить заявку *', 'consultation')

        p * Перезвоним в течение 20 минут. Если заявка пришла после 20:00 – перезвоним не позднее 11.00 на следующий день
