extends components/layout

block variables
    - const columns = {name: ' ', second: 'Малый класс', business: 'Средний класс', grand: 'Бизнес класс'};
    -
        const dataCleaning = [
            { name: 'Комплексная химчистка', second: 22000, business: 26000, grand: 30000 },
            { name: 'Химчистка потолка + стойки', second: 3360, business: 4080, grand: 4800 },
            { name: 'Химчистка одной стойки (пластик)', second: 240, business: 240, grand: 240 },
            { name: 'Химчистка одной стойки', second: 480, business: 480, grand: 480 },
            { name: 'Химчистка пола салона', second: 4080, business: 4800, grand: 5520 },
            { name: 'Химчистка пола водителя', second: 2160, business: 2400, grand: 2400 },
            { name: 'Химчистка пола (за 1 место, кроме водительского)', second: 1560, business: 1800, grand: 1800 },
            { name: 'Химчистка пола багажника', second: 1680, business: 1920, grand: 1920 },
            { name: 'Химчистка 1 ковра (тряпка)', second: 900, business: 900, grand: 900 },
            { name: 'Химчистка багажного коврика (тряпка)', second: 1200, business: 1200, grand: 1200 },
            { name: 'Химчистка торпеды', second: 1680, business: 1920, grand: 2400 },
            { name: 'Химчистка консоли', second: 1200, business: 1440, grand: 1440 },
            { name: 'Химчистка дверной карты', second: 1440, business: 1680, grand: 1920 },
            { name: 'Химчистка крышки багажника', second: 2640, business: 3120, grand: 3600 },
            { name: 'Химчистка багажника', second: 1200, business: 1680, grand: 1920 },
            { name: 'Химчистка 1 сидения', second: 1920, business: 2160, grand: 2160 },
            { name: 'Химчистка заднего дивана', second: 2400, business: 2880, grand: 2880 },
            { name: 'Химчистка заднего разделительного сидения', second: 3120, business: 3360, grand: 3600 },
            { name: 'Химчистка ремня безопасности', second: 600, business: 600, grand: 600 },
            { name: 'Химчистка подлокотника', second: 360, business: 360, grand: 360 },
            { name: 'Химчистка рулевого колеса', second: 840, business: 840, grand: 840 },
            { name: 'Химчистка козырька', second: 480, business: 480, grand: 480 },
            { name: 'Химчистка задней полки', second: 600, business: 600, grand: 600 },
            { name: 'Химчистка задней (раскладной) полки', second: 1680, business: 1920, grand: 1920 },
            { name: 'Химчистка ручки АКП', second: 360, business: 360, grand: 360 },
            { name: 'Химчистка детского кресла', second: 2400, business: 2400, grand: 2400 },
            { name: 'Пропитка напольного покрытия защитным средством', second: 3360, business: 4080, grand: 4560 },
            { name: 'Пропитка ткани салона защитным средством', second: 3840, business: 4320, grand: 4800 },
            { name: 'Пропитка тканевого сидения защитным средством', second: 960, business: 960, grand: 960 },
            { name: 'Пропитка тканевого элемента салона защ. средством', second: 360, business: 360, grand: 360 },
            { name: 'Пропитка пола водителя защитным средством', second: 600, business: 600, grand: 600 },
            { name: 'Кондиционер кожи салона', second: 3600, business: 4080, grand: 4680 },
            { name: 'Кондиционер одного сидения', second: 840, business: 1080, grand: 1080 }
        ]

block main
    script.
        document.title = "Прайс-лист на химчистку салона автомобиля в СПб — цены в прайс-листе на химчистку салона авто";
        document.getElementsByTagName('meta')["description"].content ="Прайс-лист на химчистку салона автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.price_list
        h1 Прайс-лист на химчистку салона автомобиля
        +table(columns, data)

        button(class='btn btn_back' onclick="window.history.back()") Назад

    section
        p Оставьте заявку на бесплатную консультацию, и получите купон на
            b  2.000 ₽
            span  на бронирование фар

        +modalBtn('Оставить заявку *', 'consultation')

        p * Перезвоним в течение 20 минут. Если заявка пришла после 20:00 – перезвоним не позднее 11.00 на следующий день
