extends components/layout

block variables
    - const columns = {name: ' ', first: 'Малый класс', business: 'Средний класс', grand: 'Бизнес класс'};
    -
        const data = {
        johnson: {
            group: 'пленка LLUMAR',
                data: [
                    {name: 'Евро', first: '8.000 ₽', business: '10.000 ₽', grand: '14.000 ₽'},
                    {name: 'Солнцезащитная полоса на лобовое', first: '3.000 ₽', business: '3.000 ₽', grand: '3.000 ₽'},
                    {name: '1 боковое стекло', first: '3.500 ₽', business: '3.500 ₽', grand: '3.500 ₽'},
                    {name: '1 форточка', first: '2.000 ₽', business: '2.000 ₽', grand: '2.000 ₽'},
                    {name: 'Лобовое стекло', first: '7.000 ₽', business: '7.000 ₽', grand: '7.000 ₽'},
                    {name: 'Заднее стекло', first: '4.000 ₽', business: '4.000 ₽', grand: '4.000 ₽'},
                ]
            },
        clear_plex: {
            group: 'Защитная пленка CLEAR PLEX',
                data: [
                    {name: 'Лобовое стекло', first: '28.000 ₽', business: '34.000 ₽', grand: '34.000 ₽'},
                ]
            },
        dimention: {
            group: 'Атермальная пленка',
                data: [
                    {name: '1 боковое стекло', first: '3.500 ₽', business: '3.500 ₽', grand: '3.500 ₽'},
                    {name: '1 форточка', first: '2.000 ₽', business: '2.000 ₽', grand: '2.000 ₽'},
                    {name: 'Лобовое стекло', first: '7.000 ₽', business: '7.000 ₽', grand: '7.000 ₽'},
                ]
            },
        armor: {
            group: 'бронирующая пленка 4 mil',
                data: [
                    {name: '1 боковое стекло', first: '3.500 ₽', business: '3.500 ₽', grand: '3.500 ₽'},
                    {name: '1 форточка', first: '2.000 ₽', business: '2.000 ₽', grand: '2.000 ₽'},
                ]
            },

        };

block main
    script.
        document.title = "Прайс - лист на тонировку стекол автомобиля в СПб — цены в прайс - листе на тонировку стекол авто";
        document.getElementsByTagName('meta')["description"].content ="Прайс-лист на тонировку стекол автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.price_list
        h1 Прайс-лист на тонировку стекол
        +table(columns, data)

        button(class='btn btn_back' onclick="window.history.back()") Назад

    section
        p Оставьте заявку на бесплатную консультацию, и получите купон на
            b  2.000 ₽
            span  на бронирование фар

        +modalBtn('Оставить заявку *', 'consultation')

        p * Перезвоним в течение 20 минут. Если заявка пришла после 20:00 – перезвоним не позднее 11.00 на следующий день
