extends components/layout

block variables
    - const columns = {name: ' ', second: 'Малый класс', business: 'Средний класс', grand: 'Бизнес класс'};
    - const dataCeramic = [{ name: 'Детейлинг автомобиля', mini: '-', first: '-', second: 'от 32 300 ₽', business: 'от 37 800 ₽', grand: 'от 46 200 ₽'}]
    - const columnsFilm = {name: ' ', mini: 'Фары', first: 'Минимальный пакет', second: 'Средний пакет', business: 'Максимальный пакет', grand: 'Полная оклейка'};
    - const dataFilm = [{ name: 'Бронирование защитной пленкой', mini: 'от 5 600 ₽', first: 'от 19 000 ₽', second: 'от 29 000 ₽', business: 'от 59 000 ₽', grand: 'от 190 000 ₽'}]
    - const dataPolishing = [{ name: 'Полировка', mini: '-', first: '-', second: 'от 26 000 ₽', business: 'от 30 000 ₽', grand: 'от 38 000 ₽'}]
    - const dataDetailing = [{ name: 'Детейлинг автомобиля', mini: 'от 21 000 ₽', first: 'от 23 800 ₽', second: 'от 26 600 ₽', business: 'от 29 400 ₽', grand: 'от 33 600 ₽'}]
    -
        const dataCleaning = [
            { name: 'Комплексная химчистка', second: 19200, business: 21600, grand: 24000 },
            { name: 'Химчистка потолка + стойки', second: 3360, business: 4080, grand: 4800 },
            { name: 'Химчистка одной стойки (пластик)', second: 240, business: 240, grand: 240 },
            { name: 'Химчистка одной стойки', second: 480, business: 480, grand: 480 },
            { name: 'Химчистка пола салона', second: 4080, business: 4800, grand: 5520 },
            { name: 'Химчистка пола водителя', second: 2160, business: 2400, grand: 2400 },
            { name: 'Химчистка пола (за 1 место, кроме водительского)', second: 1560, business: 1800, grand: 1800 },
            { name: 'Химчистка пола багажника', second: 1680, business: 1920, grand: 1920 },
            { name: 'Химчистка 1 ковра (тряпка)', second: 900, business: 900, grand: 900 },
            { name: 'Химчистка багажного коврика (тряпка)', second: 1200, business: 1200, grand: 1200 },
            { name: 'Химчистка торпеды', second: 1680, business: 1920, grand: 2400 },
            { name: 'Химчистка консоли', second: 1200, business: 1440, grand: 1440 },
            { name: 'Химчистка дверной карты', second: 1440, business: 1680, grand: 1920 },
            { name: 'Химчистка крышки багажника', second: 2640, business: 3120, grand: 3600 },
            { name: 'Химчистка багажника', second: 1200, business: 1680, grand: 1920 },
            { name: 'Химчистка 1 сидения', second: 1920, business: 2160, grand: 2160 },
            { name: 'Химчистка заднего дивана', second: 2400, business: 2880, grand: 2880 },
            { name: 'Химчистка заднего разделительного сидения', second: 3120, business: 3360, grand: 3600 },
            { name: 'Химчистка ремня безопасности', second: 600, business: 600, grand: 600 },
            { name: 'Химчистка подлокотника', second: 360, business: 360, grand: 360 },
            { name: 'Химчистка рулевого колеса', second: 840, business: 840, grand: 840 },
            { name: 'Химчистка козырька', second: 480, business: 480, grand: 480 },
            { name: 'Химчистка задней полки', second: 600, business: 600, grand: 600 },
            { name: 'Химчистка задней (раскладной) полки', second: 1680, business: 1920, grand: 1920 },
            { name: 'Химчистка ручки АКП', second: 360, business: 360, grand: 360 },
            { name: 'Химчистка детского кресла', second: 2400, business: 2400, grand: 2400 },
            { name: 'Пропитка напольного покрытия защитным средством', second: 3360, business: 4080, grand: 4560 },
            { name: 'Пропитка ткани салона защитным средством', second: 3840, business: 4320, grand: 4800 },
            { name: 'Пропитка тканевого сидения защитным средством', second: 960, business: 960, grand: 960 },
            { name: 'Пропитка тканевого элемента салона защ. средством', second: 360, business: 360, grand: 360 },
            { name: 'Пропитка пола водителя защитным средством', second: 600, business: 600, grand: 600 },
            { name: 'Кондиционер кожи салона', second: 3600, business: 4080, grand: 4680 },
            { name: 'Кондиционер одного сидения', second: 840, business: 1080, grand: 1080 }
        ]

    -
        const dataToning = {
        suncontrol: {
             group: 'пленка SPECTROL',
                data: [
                    {name: 'Евро', mini: 5000, first: 5500, second: 6000, business: 7000, grand: 9000},
                    {name: '1 боковое стекло', mini: 1500, first: 1500, second: 2000, business: 2000, grand: 2000},
                    {name: '1 форточка', mini: 750, first: 750, second: 750, business: 750, grand: 750},
                    {name: 'Лобовое стекло', mini: 3000, first: 3000, second: 4000, business: 4000, grand: 4000},
                    {name: 'Заднее стекло', mini: 3000, first: 3000, second: 4000, business: 4000, grand: 4000},
                ]
            },
        johnson: {
            group: 'пленка LLUMAR, XPEL',
                data: [
                    {name: 'Евро', mini: 6500, first: 7000, second: 7500, business: 8500, grand: 11000},
                    {name: '1 боковое стекло', mini: 2000, first: 2000, second: 2500, business: 2500, grand: 2500},
                    {name: '1 форточка', mini: 1000, first: 1000, second: 1000, business: 1000, grand: 1000},
                    {name: 'Лобовое стекло', mini: 4000, first: 4000, second: 5000, business: 5000, grand: 5000},
                    {name: 'Заднее стекло', mini: 4000, first: 4000, second: 5000, business: 5000, grand: 5000},
                ]
            },
        dimention: {
            group: 'Атермальная пленка',
                data: [
                    {name: '1 боковое стекло', mini: 2000, first: 2000, second: 3000, business: 3000, grand: 3000},
                    {name: '1 форточка', mini: 1000, first: 1000, second: 1000, business: 1000, grand: 1000},
                    {name: 'Лобовое стекло', mini: 5000, first: 5000, second: 6000, business: 6000, grand: 6000},
                ]
            },
        armor: {
            group: 'бронирующая пленка 4 mil',
                data: [
                    {name: '1 боковое стекло', mini: 2000, first: 2000, second: 2500, business: 2500, grand: 2500},
                    {name: '1 форточка', mini: 1000, first: 1000, second: 1000, business: 1000, grand: 1000},
                ]
            },
        clear_plex: {
            group: 'Защитная пленка CLEAR PLEX',
                data: [
                    {name: 'Лобовое стекло', mini: 24000, first: 28000, second: 30000, business: 34000, grand: 34000},
                ]
            },
        };

block main
    script.
        document.title = "Прайс-лист на детейлинг в Санкт-Петербурге — цена услуг автомобильного центра";
        document.getElementsByTagName('meta')["description"].content ="Прайс-лист на детейлинг в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование в СПб, выполнение задач любой сложности, гарантия на все виды услуг для авто, доступные цены и скидки"

    section
        h1.underlined_header
            span Прайс-лист на услуги

        div.anchors
            div.anchors_nav
                a(href='#ceramic')
                    +modalBtn('Керамика')
                a(href='#film')
                    +modalBtn('Защитная пленка')
                a(href='#polishing')
                    +modalBtn('Полировка')
                a(href='#detailing')
                    +modalBtn('Детейлинг')
                a(href='#dry_cleaning')
                    +modalBtn('Химчистка')
                a(href='#toning')
                    +modalBtn('Тонировка')

    section.anchors_list
        span(id='ceramic')
        h2 Покрытие кузова авто керамикой
        p Относительно новая технология, которая является надежным средством защиты от мелких царапин, пескоструя и некачественной мойки. Для нанесения керамического слоя на поверхность кузова используются материалы высокого качества от надежных производителей. Нанесение покрытия — необходимый этап детейлинга, от которого зависит сохранность внешнего вида и поверхности машины на протяжении длительного срока эксплуатации.

        a.link(href='/ceramic.html')
            b Подробнее об услуге
            img(src='./assets/icons/chevron-right-double.svg' alt='')

        +table(columns, dataCeramic)

    section.anchors_list
        span(id='film')
        h2 Бронирование защитной пленкой
        p Услуга направлена на обеспечение защиты поверхностей авто от механических повреждений, царапин, сколов и других неблагоприятных внешних воздействий. Хороший и доступный по цене способ придать поверхностям блеск и при этом сохранить целостность ЛКП. Безупречный внешний вид авто обеспечивается за счет нанесения пленки на нужные элементы авто: капот, бампер, крыша, стойки лобового стекла, полка заднего бампера, передние крылья, пороги, зоны дверных ручек, наружные зеркала и передняя оптика с фарами.

        a.link(href='/film.html')
            b Подробнее об услуге
            img(src='./assets/icons/chevron-right-double.svg' alt='')

        +table(columnsFilm, dataFilm)

    section.anchors_list
        span(id='polishing')
        h2 Полировка автомобиля
        p Эффективная помощь для восстановления и придания блеска поверхностям. В процессе удаляются поверхностные дефекты, царапины и следы окисления, восстанавливается внешний вид автомобиля. Результатом полировки является блеск, насыщенный цвет и качественная защита поверхностей авто.

        a.link(href='/polishing.html')
            b Подробнее об услуге
            img(src='./assets/icons/chevron-right-double.svg' alt='')

        +table(columns, dataPolishing)

    section.anchors_list
        span(id='detailing')
        h2 Детейлинг автомобилей
        p Профессиональная процедура, в ходе которой специалисты проводят комплексную работу по восстановлению внешнего вида и состояния автомобиля. В процессе детейлинга используются специальные материалы и технологии для достижения качественного результата. Мастера предлагают полную очистку, полировку поверхностей и удаление отдельных повреждений.

        a.link(href='/premium_detailing.html')
            b Подробнее об услуге
            img(src='./assets/icons/chevron-right-double.svg' alt='')

        +table(columns, dataDetailing)

    section.anchors_list
        span(id='dry_cleaning')
        h2 Химчистка
        p Для очистки от загрязнений и восстановления салона используют современные химические средства, которые обеспечивают быстрый эффект. Специалисты проводят комплексную работу по удалению пыли, грязи, застарелых пятен и запахов.

        a.link(href='/dry_cleaning.html')
            b Подробнее об услуге
            img(src='./assets/icons/chevron-right-double.svg' alt='')

        +table(columns, dataCleaning)

    section.anchors_list
        span(id='toning')
        h2 Тонировка
        p Процедура позволяет изменить уровень проницаемости света через стекла автомобиля. По желанию клиента обеспечивается необходимая степень затемнения. Тонировка — не только внешний декоративный элемент, но и средство обеспечения комфорта и конфиденциальности владельца во время эксплуатации автомобиля.

        a.link(href='/toning.html')
            b Подробнее об услуге
            img(src='./assets/icons/chevron-right-double.svg' alt='')

        +table(columns, dataToning)

    section
        div.advantages
            div Оставьте заявку на
                b  бесплатную консультацию,
                span  и мы перезвоним Вам в течение
                b  20 минут

            +modalBtn('Оставить заявку *', 'consultation')

            p * Если заявка пришла после 20:00 – перезвоним не позднее 11.00 на следующий день
            img.advantages_img(src='./assets/img/index/phone.webp', alt='phone')
