extends components/layout

block main
    script.
        document.title = "Политика конфиденциальности ООО «СТМ-13» | acpolimer.ru";
        document.getElementsByTagName('meta')["description"].content ="Официальная политика конфиденциальности ООО «СТМ-13» (acpolimer.ru). Узнайте, как мы собираем, используем и защищаем ваши персональные данные в соответствии с ФЗ-152."

    section
      h1.underlined_header
        span Политика конфиденциальности

      p
        strong Дата последнего обновления: 12 «июня» 2025 года

      h4 1. ОБЩИЕ ПОЛОЖЕНИЯ
      ol
        li Настоящая политика конфиденциальности (далее — Политика) определяет основные принципы, цели, условия и способы обработки персональных данных Общества с ограниченной ответственностью «СТМ-13» (ОГРН 1137847495389, ИНН 7811568559) (далее — Оператор).
        li Настоящая Политика разработана во исполнение требований п. 2 ч. 1 ст. 18.1 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» (далее — Закон о персональных данных) с учётом требований Закона о персональных данных и иных нормативных правовых актов Российской Федерации в области персональных данных.
        li Действие настоящей Политики распространяется на все операции, совершаемые Оператором с персональными данными, которые Оператор может получить о посетителях (далее — Пользователи) веб-сайта http://acpolimer.ru/ (далее — Сайт).
        li Оператор обрабатывает персональные данные Пользователя только в случае их отправки Пользователем через формы, расположенные на Сайте. Отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.
        li Настоящая Политика подлежит актуализации по инициативе Оператора, а также в случае изменения законодательства Российской Федерации о персональных данных.

      h4 2. ОСНОВНЫЕ ПОНЯТИЯ
      p В целях настоящей Политики нижеприведённые термины используются в следующем значении:
      ul
        li
          strong Персональные данные
          |  — любая информация, относящаяся прямо или косвенно к определённому или определяемому физическому лицу (Пользователю).
        li
          strong Обработка персональных данных
          |  — любое действие или совокупность действий, совершаемых с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу, обезличивание, блокирование, удаление, уничтожение.
        li
          strong Веб-сайт (Сайт)
          |  — совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу http://acpolimer.ru/.
        li
          strong Пользователь
          |  — любой посетитель веб-сайта http://acpolimer.ru/.
        //- Вы можете добавить остальные определения из полной политики, если считаете нужным

      h4 3. ПРИНЦИПЫ И ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
      p 3.1. Обработка персональных данных Оператором осуществляется на законной и справедливой основе с учётом необходимости обеспечения защиты прав и свобод Пользователей.
      p 3.2. Обработка персональных данных осуществляется в следующих целях:
      ul
        li Идентификация Пользователя и обработка его заказа, включая уточнение деталей и организацию отправки.
        li Установление с Пользователем обратной связи, включая обработку запросов и заявок.
        li Направление Пользователю уведомлений о новых продуктах и услугах, специальных предложениях и событиях.
        li Сбор информации о действиях Пользователей на Сайте, улучшение качества Сайта и его содержания при условии обезличивания данных.

      h4 4. ОБЪЁМ И КАТЕГОРИИ ОБРАБАТЫВАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ
      p 4.1. К персональным данным, обрабатываемым Оператором, относятся:
      ul
        li Фамилия, имя, отчество;
        li Номер телефона;
        li Адрес электронной почты.
      p 4.2. Также на Сайте происходит сбор и обработка обезличенных данных о посетителях (в т. ч. IP-адрес, файлы «cookie», информация о браузере) с помощью сервисов интернет-статистики.
      p 4.3. Оператор не осуществляет обработку специальных категорий персональных данных (касающихся расовой, национальной принадлежности, политических взглядов и т.д.) и биометрических персональных данных.

      h4 5. ПОРЯДОК И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
      ol
        li Оператор обеспечивает сохранность персональных данных и принимает все возможные меры для их защиты.
        li Персональные данные Пользователя не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
        li Трансграничная передача персональных данных не осуществляется.
        li В случае выявления неточностей, Пользователь может актуализировать их, направив уведомление на e-mail: 
          a(href="mailto:acpolimer13@gmail.com") acpolimer13@gmail.com
          |  с пометкой «Актуализация персональных данных».
        li Срок обработки персональных данных является неограниченным. Пользователь может отозвать свое согласие, направив уведомление на e-mail: 
          a(href="mailto:acpolimer13@gmail.com") acpolimer13@gmail.com
          |  с пометкой «Отзыв согласия на обработку персональных данных».

      h4 6. ОСНОВНЫЕ ПРАВА И ОБЯЗАННОСТИ
      h5 6.1. Оператор имеет право:
      ul
        li Получать от Пользователя достоверную информацию и документы.
        li Требовать от Пользователя своевременного уточнения предоставленных данных.
      h5 6.2. Пользователь имеет право:
      ul
        li На полную информацию о своих персональных данных и доступ к ним.
        li На уточнение, блокирование или уничтожение своих персональных данных.
        li На отзыв согласия на обработку персональных данных.

      h4 7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
      ol
        li Пользователь может получить любые разъяснения по вопросам обработки его персональных данных, обратившись к Оператору по электронной почте 
          a(href="mailto:acpolimer13@gmail.com") acpolimer13@gmail.com
          |  или по почтовому адресу: Россия, 191028, Спб., а/я 131
        li В данном документе будут отражены любые изменения политики. Новая редакция вступает в силу с момента её размещения на Сайте.

      h4 8. РЕКВИЗИТЫ ОПЕРАТОРА
      p
        strong Общество с ограниченной ответственностью «СТМ-13»
      p
        strong ОГРН:
        |  1137847495389
      p
        strong ИНН:
        |  7811568559
      p
        strong Юридический адрес:
        |  Россия, 191028, САНКТ-ПЕТЕРБУРГ ГОРОД, УЛИЦА МОХОВАЯ, ДОМ 37, ЛИТЕР Б, ПОМЕЩЕНИЕ 17
      p
        strong Адрес электронной почты:
        |  
        a(href="mailto:acpolimer13@gmail.com") acpolimer13@gmail.com
      p
        strong Контактный телефон:
        |  
        a(href="tel:+79119253098") +7 (911) 925-30-98
