extends components/layout

block variables
    - 
        //- Подключаем миксин квиза
        include quiz.pug

        //- Используем миксин квиза где-нибудь внизу, чтобы он был доступен на странице
        +quizModal()


block main
    script.
        document.title = "none";

    section.main
        h1 Тестим квиз
        +slipper(filmPrimarySlider)

        div.main_content
            p Вот тут ссылка на кииз

            +modalBtn('Открой квиз', 'quizModal')
