extends components/layout

block variables
    -
        const toningPrimarySlider = [{ className: "toning_title", id: 1, img: './assets/img/toning/primary_3.webp'},
            { className: "toning_title", id: 2, img: './assets/img/toning/primary_4.webp'}]
 
    -
        const toningSteps = [{ className: 'toning_step', id: 1, text: 'Подготовка стекол и салона', desc: 'Мойка и обезжиривание автомобиля', img: './assets/img/toning/step_1.webp'},
            { className: 'toning_step', id: 2, text: 'Снятие старой тонировочной пленки', desc: 'Определяемся с материалом тонировки', img: './assets/img/toning/step_2.webp'},
            { className: 'toning_step', id: 3, text: 'Очистка поверхности от остатков клея', desc: 'В зависимости от выбранного материала и объема работ тонирование занимает от 1 до 3 часов', img: './assets/img/toning/step_3.webp'},
            { className: 'toning_step', id: 4, text: 'Нанесение новой тонировочной пленки', desc: 'Чистится ЛКП с помощью специальной глины, обезжиривание поверхностипервого слоя керамики', img: './assets/img/toning/step_4.webp'}]
    -
        const toningExSlider = [{ className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.webp'},
            { className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.webp'},
            { className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.webp'},
            { className: "toning_ex_item", id: 4, img: './assets/img/toning/ToningResults/1.webp'},
            { className: "toning_ex_item", id: 5, img: './assets/img/toning/ToningResults/2.webp'},
            { className: "toning_ex_item", id: 6, img: './assets/img/toning/ToningResults/3.webp'}]
    -
        const toningPrices = [{ name: 'mini_toning', price: 'от 8 000 ₽' },
            { name: 'mid_toning', price: 'от 10 000 ₽' },
            { name: 'business_toning', price: 'от 14 000 ₽' }]
    -
        const toningFAQ = [{ header: 'Есть ли гаратия на растонировку задних стекол?', body: 'Да, мы даем гарантию 1 год на нашу работу.'},
            { header: 'Сколько занимает процесс растонировки задних стекол?', body: 'Зависит от марки автомобиля и количества стекол, которые необходимо растонировать. Одно стекло — от 20 минут. Растонировка всех стекол займет до трех часов.'},
            { header: 'Можно ли растонировать задние стекла автомобиля?', body: 'Да, можно.'},
            { header: 'Как происходит растонировка автомобиля?', body: 'Растонировка авто проводится без снятия стекол и дверных боковых панелей, поэтому занимает не более 2 часов. Процедура предполагает прогрев стекла специальным феном, снятие пленки, обработку жидкостью для растворения клея и финишную очистку.'},
            { header: 'Зачем нужна растонировка?', body: 'Тонировочные пленки имеют ограниченный срок службы. Со временем они подвергаются царапинам и местами могут даже начать отклеиваться. В таких случаях наилучшим решением будет провести растонировку стекол автомобиля, чтобы не ухудшать видимость и обзор водителя.<p>Иногда владельцы автомобилей желают изменить внешний вид своего транспортного средства, например, применить пленку другого цвета или с разной степенью светопропускания. В таких ситуациях также потребуется снять старую тонировку.</p><p>Многие решают выполнить растонировку после встречи с сотрудниками ГИБДД и получения штрафа за несоответствие пленки ГОСТу. Это является единственным способом избежать повторных штрафов и потери водительских прав.</p>'},
            { header: 'Можно ли самостоятельно снять тонировку?', body: 'Не рекомендуется самостоятельно снимать тонировку, так как необходимо избегать повышения температуры пленки выше определенного уровня, чтобы избежать ее расплавления и прилипания к окнам. При высоких температурах также возможно повреждение стекол. Наши мастера обычно применяют специальные фены, которые исключают перегрев.  Также выполнение растонировки заднего стекла с обогревом требует особой внимательности, поскольку даже небрежные манипуляции могут повредить нагревательный элемент.'}]
    -
        const toningCarFAQ = [{
            header: 'Особенности растонировки задних стекол',
            body: '<p>Центр детейлинга "Полимер" предлагает услуги растонировки задних стекол автомобиля в Санкт-Петербурге. Осуществляем профессиональное растонирование, включая снятие атермальной тонировки и стандартной автомобильной пленки. Специалисты бережно снимут старую тонировку передних, задних и боковых стекол. Работаем с различными типами тонировочных пленок, предлагаем дополнительные услуги по детейлингу салона авто. Доверьте нам любые работы по тонировке, и ваш автомобиль станет не только стильным, но и комфортным в любых условиях.</p>',
          },
          {
            header: 'Этапы растонировки',
            body: '<p>Этапы удаления тонировочного покрытия с заднего стекла:</p><ul><li>Подготовка стекол и салона. Специалисты при необходимости осуществляют демонтаж дверей и панелей для обеспечения доступа ко всем стеклянным поверхностям.</li><li>Снятие старой тонировочной пленки. Используются специальные средства для размягчения клея, что упрощает процесс снятия и сохраняет целостность всех покрытий, так как не оставляет следов и повреждений.</li><li>Очистка поверхности от остатков клея. После снятия старой пленки проводится грунтовочная очистка стекол. Удаление остатков клея обеспечивает хорошую адгезию для новой тонировочной пленки.</li><li>Нанесение новой тонировочной пленки. Этот этап включает в себя аккуратное и равномерное нанесение нового покрытия. Выбор качественных материалов и профессиональное выполнение гарантируют долговечный результат и эстетичный вид.</li></ul><p>Снятие тонировки — процедура, направленная на удаление тонировочной пленки с поверхности автомобильных стекол. Тонировка может быть снята по разным причинам, начиная от устаревшей пленки до несоответствия законодательным требованиям.</p>',
          },
          {
            header: 'Дополнительные услуги',
            body: '<p>Среди других популярных услуг автоцентра стоит выделить следующие:</p><ul><li>профессиональная мойка кузова автомобиля и химчистка салона;</li><li>оклейка антигравийной пленкой фар, бампера, крыши;</li><li>бронирование лобового стекла, бокового стекла и заднего стекла;</li><li>установка атермального тонирования для защиты салона от солнечных лучей;</li><li>удаление царапин и полировка кузова.</li></ul><p>Клиентам компании предоставляются гарантии качества, делаем все работы быстро и аккуратно. Чтобы заказать услугу, узнать больше дополнительной информации о сервисе, стоимости и акциях или задать вопрос мастеру, свяжитесь с сотрудниками АЦ “Полимер” по телефону или заполните онлайн-форму для обратной связи.</p>'}]




block main
    script.
        document.title = "Растонировка заднего стекла в СПб — цена растонирования и снятия тонировки с заднего стекла авто";
        document.getElementsByTagName('meta')["description"].content ="Растонировка стекол автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Растонировка задних стекол
        +slipper(toningPrimarySlider)

        div.main_content
            p Обеспечьте дополнительную
                b  безопасность автомобилю
                span  с помощью растонировки задних стекол

            +modalBtn('Оставить заявку', 'full')


    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            div Мы используем
                b  сертифицированные материалы разрешенные ГОСТом
                span  и тонируем стекла автомобиля с учетом всех требований законодательства

    section
        h2 Виды тонировочных пленок

        div.info_box
            div(class='cards_item frame')
                h4 атермальная
                img.frame(src='./assets/img/toning/types_1.webp')
                p Прозрачная пленка для защиты салона от выгорания, разрешена ГОСТом
            div(class='cards_item frame')
                h4 тонирующая
                img.frame(src='./assets/img/toning/types_2.webp')
                p Темная пленка для защиты салона от солнечных лучей и посторонних глаз
            div(class='cards_item frame')
                h4 бронирующая
                img.frame(src='./assets/img/toning/types_3.webp')
                p Прозрачная пленка для защиты пассажиров от осколков стекла при аварии и для предотвращения проникновения. Бронированное стекло противостоит ударам кулаками, ногами, камнями и палками.

    section
        h2 Этапы растонировки задних стекол
        +carousel(toningSteps)

    section
        h2 Результаты
        +slipper(toningExSlider)

    section
        h2 Стоимость евротонировки
        +prices(toningPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        h2 Бренды тонировочных пленок
        div.usage
            img(src='./assets/img/toning/brand_1.webp', alt="")
            img(src='./assets/img/toning/brand_2.webp', alt="")
            img(src='./assets/img/toning/brand_3.webp', alt="")
            img(src='./assets/img/toning/brand_4.webp', alt="")
            img(src='./assets/img/toning/brand_5.webp', alt="")
            img(src='./assets/img/toning/brand_6.webp', alt="")
            img(src='./assets/img/toning/brand_7.webp', alt="")

    section
        a.btn(href='prices_toning.html' style='color: #fff') Таблица с ценами

    include ./components/advantages

    section
        h2 Популярные вопросы
        +microFaq(toningFAQ)

    section
        h2 Растонировка задних стекол автомобиля
        +spoiler(toningCarFAQ)
