extends components/layout

block variables
    -
        const glassPrimarySlider = [{className: "glass_title", id: 1, img: './assets/img/glass/primary.webp'},
            {className: "glass_title", id: 2, img: './assets/img/glass/GlassRepairMain/1.webp'}]
    -
        const glassSteps = [{ className: 'glass_step', id: 1, text: 'Подготавливаем  участок', desc: 'Проверяем наличие скрытых повреждений', img: './assets/img/glass/step_1.webp'},
            { className: 'glass_step', id: 2, text: 'Ремонт скола, трещины', desc: 'Заполняем повреждение полимером и сушим стекло под UV лампами', img: './assets/img/glass/step_2.webp'},
            { className: 'glass_step', id: 3, text: 'Финальная проверка', desc: 'Удаляем излишки полимера', img: './assets/img/glass/step_3.webp'},
            { className: 'glass_step', id: 4, text: 'Выдача автомобиля клиенту', desc: '', img: './assets/img/glass/step_4.webp'}]
    -
        const glassExSlider = [{className: "glass_ex_item", id: 1, img: './assets/img/glass/GlassRepairResults/1.webp'},
            {className: ""glass_ex_item", id: 2, img: './assets/img/glass/GlassRepairResults/2.webp'},
            {className: ""glass_ex_item", id: 3, img: './assets/img/glass/GlassRepairResults/3.webp'},
            {className: ""glass_ex_item", id: 4, img: './assets/img/glass/GlassRepairResults/4.webp'}]
    -
        const glassPrices = [{ price: 'от 1 200 ₽', header: 'Скол-глаз', img: './assets/img/glass/type_1.webp' },
            { price: 'от 1 500 ₽', header: 'Скол-звезда', img: './assets/img/glass/type_2.webp' },
            { price: 'от 2 000 ₽', header: 'Двойной скол', img: './assets/img/glass/type_3.webp' },
            { price: 'от 2 000 ₽', header: 'Скол радиальный', img: './assets/img/glass/type_4.webp' },
            { price: 'от 1 500 ₽', header: 'Трещина до 20 см', img: './assets/img/glass/type_5.webp' },
            { price: 'от 2 000 ₽', header: 'Трещина 20-40 см', img: './assets/img/glass/type_6.webp' },
            { price: 'от 2 500 ₽', header: 'Трещина более 40 см', img: './assets/img/glass/type_7.webp' },
            { price: 'от 2 000 ₽', header: 'Трещина со сколом', img: './assets/img/glass/type_8.webp' },];
    -
        const glassFAQ = [{
                header: 'Сколько по времени длится ремонт лобового стекла?',
                body: 'Время ремонта зависит от вида трещины и скола. На мелкие повреждения уходит около 20-30 минут. Более серьезные ремонтируем за 40-60 минут.'
            },
            {
                header: 'Какие гарантии?',
                body: 'Любой ремонт лобового стекла — это отсрочка его замены, поэтому на данный вид работы гарантия не выдается.'
            },
            {
                header: 'Что делать после появления трещины на лобовом стекле?',
                body: 'Сперва надо заклеить её скотчем, чтобы туда не попали грязь и песок с дороги. И уже потом ехать в автоцентр. Чем чище трещина — тем лучше будет ремонт.'
            },
            {
                header: 'Ремонт лобового стекла делается изнутри или снаружи машины?',
                body: 'Лобовое стекло в машине состоит из двух частей. При трещинах и сколах повреждается верхний слой. Поэтому стекло ремонтируются снаружи авто.'
            },
            {
                header: 'Повредится ли при ремонте обогрев лобового стекла? ',
                body: 'Нет, он не повреждается.'
            }]
    -
        const glassSEO = [{
            header: 'Ремонт лобового стекла',
            body: '<p>Многим автовладельцам знакомы ситуации, когда на лобовом стекле появляются сколы или трещины. Такие повреждения могут стать серьезной проблемой, если их не устранить вовремя. В Санкт-Петербурге компания АЦ "Полимер" предлагает профессиональный и качественный ремонт сколов на лобовых стеклах. Стоимость ремонта остается приемлемой, при этом специалисты компании используют специальные полимеры, чтобы быстро и надежно устранить повреждения. В случае, когда ремонт невозможен из-за того, что скол занимает большую площадь или наличия других дефектов, АЦ "Полимер" предлагает услуги по установке лобового автостекла любых марок и моделей авто. Профессионалы быстро и аккуратно отремонтируют автомобильные стекла, чтобы вернуть автомобилю прежний внешний вид.</p>'
        },
            {
                header: 'Особенности ремонта',
                body: '<p>Ремонт сколов и трещин на лобовом стекле — важная процедура, обеспечивающая безопасность вождения и сохранность автостекла. Рассмотрим подробнее преимущества и особенности таких ремонтных работ.</p><ol><li>Безопасность вождения. Маленький скол или трещина может быстро расшириться и стать опасным для водителя и пассажиров. Регулярный ремонт лобового стекла помогает избежать этой угрозы.</li><li>Экономия времени и денег. Замена лобового стекла автомобиля может быть дорогой и трудоемкой процедурой. Ремонт позволяет сохранить деньги и время, так как он проходит быстрее и требует меньших финансовых затрат.</li></ol>'
        },
            {
                header: 'Этапы ремонта',
                body: '<ol><li>Оценка повреждений. Прежде чем начать работы, специалисты проводят оценку состояния стекла и определяют возможность его восстановления и реставрации.</li><li>Удаление воздушных пузырей и загрязнений. После оценки, специалисты удаляют воздушные пузыри и грязь из повреждения.</li><li>Нанесение специального клея, который заполняет трещины и сколы.</li><li>Отверждение и полировка. Клей затвердевает, а затем стекло полируется до состояния, близкого к первоначальному.</li><li>Гарантия. Студия детейлинга предоставляет гарантию на 1 год на выполненные работы, обеспечивая клиентам спокойствие и уверенность в качестве ремонта.</li></ol><p>Цена ремонта сколов и трещин на автостекле зависит от характера и площади повреждения. Запись на ремонт и обслуживание можно сделать по телефону или через официальный сайт АЦ "Полимер". Не забудьте ознакомиться с отзывами других клиентов о качестве работ и обслуживании. Профессиональные работы по ремонту стекол, химчистке или оклейке бронепленкой обеспечат безопасность и долгий срок службы авто, что важно для комфортного и безопасного вождения.</p>'
            }]


block main
    script.
        document.title = "Ремонт сколов на лобовом стекле в СПб — цена ремонта сколов и трещин на лобовом стекле автомобиля";
        document.getElementsByTagName('meta')["description"].content ="Ремонт сколов и трещин на лобовом стекле автомобиля в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Ремонт сколов и трещин на лобовом стекле
        +slipper(glassPrimarySlider)

        div.main_content
            p Отремонтируйте
                b  трещину или любой вид сколов
                span  на лобовом стекле в срочном порядке
                b  от 500₽

            +modalBtn('Оставить заявку', 'full')

    section
        h2 Результаты
        div.examples_item
            +slipper(glassExSlider)

    section
        h2 Как мы работаем
        +carousel(glassSteps)

    section
        h2 Цены
        +prices(glassPrices)

        h4 Дополнительный скол — скидка на ремонт 50%

        +modalBtn('Оставить заявку', 'full')

    include ./components/advantages

    section
        h2 Популярные вопросы
        +microFaq(glassFAQ)

    section
        h2 Ремонт сколов на лобовом стекле
        +spoiler(glassSEO)
