extends components/layout

block main

    section
        h1.underlined_header
            span Отзывы

    include ./components/reviews-custom

    include ./components/protect

    include ./components/examples

    include ./components/advantages
