extends components/layout

block variables
    -
        const toningPrimarySlider = [{ className: "toning_title", id: 1, img: './assets/img/toning/primary_1.webp'},
            { className: "toning_title", id: 2, img: './assets/img/toning/primary_2.webp'},
            { className: "toning_title", id: 3, img: './assets/img/toning/primary_3.webp'},
            { className: "toning_title", id: 4, img: './assets/img/toning/primary_4.webp'}]
    -
        const toningPoints = [{ id: 1, text: '<b>Защита</b> обивки салона от выгорания на солнце'},
            { id: 2, text: '<b>Создание личного пространства</b>, вам станет комфортнее находиться внутри салона'},
            { id: 3, text: '<b>Укрепление</b> стекол от сколов и ударов'},
            { id: 4, text: '<b>Конфиденциальность:</b> тонировка боковых и задних стекол снижает привлекательность ТС для злоумышленников, скрывая от посторонних глаз вещи, оставленные внутри'}]
    -
        const toningSteps = [{ className: 'toning_step', id: 1, text: 'Приём автомобиля', desc: 'Мойка и обезжиривание автомобиля', img: './assets/img/toning/step_1.webp'},
            { className: 'toning_step', id: 2, text: 'Подготовка пленки', desc: 'Определяемся с материалом тонировки', img: './assets/img/toning/step_2.webp'},
            { className: 'toning_step', id: 3, text: 'Установка пленки', desc: 'В зависимости от выбранного материала и объема работ тонирование занимает от 1 до 3 часов', img: './assets/img/toning/step_3.webp'},
            { className: 'toning_step', id: 4, text: 'Выдача автомобиля клиенту', desc: 'Чистится ЛКП с помощью специальной глины, обезжиривание поверхностипервого слоя керамики', img: './assets/img/toning/step_4.webp'}]
    -
        const toningExSlider = [{ className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.webp'},
            { className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.webp'},
            { className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.webp'}]
    -
        const toningPrices = [{ name: 'mini', price: 'от 3 500 ₽' },
            { name: 'first', price: 'от 4 000 ₽' },
            { name: 'second', price: 'от 4 500 ₽' },
            { name: 'business', price: 'от 5 500 ₽' },
            { name: 'grand', price: 'от 7 000 ₽' }]
    -
        const toningFAQ = [{ header: 'Есть ли гаратия на тонировку?', body: 'Да, мы даем гарантию 1 год на нашу работу и 5 лет гарантии на пленку.'},
            { header: 'Сколько занимает процесс тонировки?', body: 'Зависит от марки автомобиля и количества стекол, которые необходимо затонировать. Одно стекло — от 20 минут. Тонировка всех стекол займет до трех часов.'},
            { header: 'Можно ли тонировать передние стекла автомобиля?', body: 'Есть ряд ограничений. Самое главное —это светопропускаемость. Для лобового стекла она должна быть не менее 75%'},
            { header: 'Пленка клеется снаружи или изнутри?', body: 'Тонирующая и атермальная пленка клеятся изнутри. Бронирующая — снаружи.'},
            { header: 'Когда можно мыть автомобиль после оклейки тонировки?', body: '- После оклейки пленками изнутри мыть автомобиль можно сразу. <br/>- При установке Пленок снаружи — через 7 суток.'},
            { header: 'Как ухаживать за пленкой?', body: 'Протирать чистой мягкой тряпкой. Возможно применение чистящих средств для стекол.'}]

block main
    section.main
        h1 Тонировка стёкол
        +slipper(toningPrimarySlider)

        div.main_content
            p Обеспечьте дополнительную
                b  безопасность автомобилю
                span  с помощью тонировки стекол

            +modalBtn('Оставить заявку', 'full')

    section
        h2 Преимущества тонировки
        +points(toningPoints)


    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            div Мы используем
                b  сертифицированные материалы разрешенные ГОСТом
                span  и тонируем стекла автомобиля с учетом всех требований законодательства

    section
        h2 Виды тонировочных пленок

        div.info_box
            div(class='cards_item frame')
                h4 атермальная
                img.frame(src='./assets/img/toning/types_1.webp')
                p Прозрачная пленка для защиты салона от выгорания, разрешена ГОСТом
            div(class='cards_item frame')
                h4 тонирующая
                img.frame(src='./assets/img/toning/types_2.webp')
                p Темная пленка для защиты салона от солнечных лучей и посторонних глаз
            div(class='cards_item frame')
                h4 бронирующая
                img.frame(src='./assets/img/toning/types_3.webp')
                p Прозрачная пленка для защиты пассажиров от осколков стекла при аварии и для предотвращения проникновения. Бронированное стекло противостоит ударам кулаками, ногами, камнями и палками.

    section
        h2 Этапы оклейки
        +carousel(toningSteps)

    section
        h2 Результаты
        +slipper(toningExSlider)

    section
        h2 Стоимость евротонировки
        +prices(toningPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        h2 Бренды тонировочных пленок
        div.usage
            img(src='./assets/img/toning/brand_1.webp', alt="")
            img(src='./assets/img/toning/brand_2.webp', alt="")
            img(src='./assets/img/toning/brand_3.webp', alt="")
            img(src='./assets/img/toning/brand_4.webp', alt="")
            img(src='./assets/img/toning/brand_5.webp', alt="")
            img(src='./assets/img/toning/brand_6.webp', alt="")
            img(src='./assets/img/toning/brand_7.webp', alt="")

    section
        a.btn(href='prices_toning.html' style='color: #fff') Таблица с ценами

    include ./components/advantages

    section
        h2 Популярные вопросы
        +spoiler(toningFAQ)
