extends components/layout


block variables
    -
        const toningPrimarySlider = [{ className: "toning_title", id: 1, img: './assets/img/toning/primary_1.webp'},
            { className: "toning_title", id: 2, img: './assets/img/toning/primary_2.webp'},
            { className: "toning_title", id: 3, img: './assets/img/toning/primary_3.webp'},
            { className: "toning_title", id: 4, img: './assets/img/toning/primary_4.webp'}]
    -
        const toningPoints = [{ id: 1, text: '<b>Защита</b> обивки салона от выгорания на солнце'},
            { id: 2, text: '<b>Создание личного пространства</b>, вам станет комфортнее находиться внутри салона'},
            { id: 3, text: '<b>Укрепление</b> стекол от сколов и ударов'},
            { id: 4, text: '<b>Конфиденциальность:</b> тонировка боковых и задних стекол снижает привлекательность ТС для злоумышленников, скрывая от посторонних глаз вещи, оставленные внутри'}]
    -
        const toningSteps = [
            { className: 'toning_step', id: 1, text: 'Демонтаж деталей', desc: '- Демонтаж деталей', img: './assets/img/toning/step_1.webp'},
            { className: 'toning_step', id: 2, text: 'Вытравление хрома в течение 2-3 дней', desc: '- Вытравление хрома в течение 2-3 дней', img: './assets/img/toning/step_2.webp'},
            { className: 'toning_step', id: 3, text: 'Покраска деталей', desc: '- Покраска деталей', img: './assets/img/toning/step_1.webp'},
            { className: 'toning_step', id: 4, text: 'Покрытие лаком', desc: '- Покрытие лаком', img: './assets/img/toning/step_3.webp'},
            { className: 'toning_step', id: 5, text: 'Монтаж', desc: '- Монтаж', img: './assets/img/toning/step_2.webp'},
            { className: 'toning_step', id: 6, text: 'Выдача авто клиенту', desc: '- Выдача авто клиенту', img: './assets/img/toning/step_4.webp'}
            ]
    -
        const toningExSlider = [{ className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.webp'},
            { className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.webp'},
            { className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.webp'}]
    -
        const toningPrices = [{ name: 'mini', price: 'от 3 500 ₽' },
            { name: 'first', price: 'от 4 000 ₽' },
            { name: 'second', price: 'от 4 500 ₽' },
            { name: 'business', price: 'от 5 500 ₽' },
            { name: 'grand', price: 'от 7 000 ₽' }]
    -
        const toningFAQ = [{ header: 'Есть ли гаратия на тонировку?', body: 'Да, мы даем гарантию 1 год на нашу работу и 5 лет гарантии на пленку.'},
            { header: 'Сколько занимает процесс тонировки?', body: 'Зависит от марки автомобиля и количества стекол, которые необходимо затонировать. Одно стекло — от 20 минут. Тонировка всех стекол займет до трех часов.'},
            { header: 'Можно ли тонировать передние стекла автомобиля?', body: 'Есть ряд ограничений. Самое главное —это светопропускаемость. Для лобового стекла она должна быть не менее 75%'},
            { header: 'Пленка клеется снаружи или изнутри?', body: 'Тонирующая и атермальная пленка клеятся изнутри. Бронирующая — снаружи.'},
            { header: 'Когда можно мыть автомобиль после оклейки тонировки?', body: '- После оклейки пленками изнутри мыть автомобиль можно сразу. <br/>- При установке Пленок снаружи — через 7 суток.'},
            { header: 'Как ухаживать за пленкой?', body: 'Протирать чистой мягкой тряпкой. Возможно применение чистящих средств для стекол.'}]
    -
        const toningCarFAQ = [{
                header: 'Оклейка хромированных деталей авто пленкой',
                body: `<p>Антихром на авто — эффективный способ защитить хромированные части от различных внешних воздействий и сохранить их привлекательный внешний вид. Это дополнительная защита и декор для деталей кузова, которая обладает рядом преимуществ:</p>
                <ul>
                  <li>Защита от механических повреждений. Защитная полиуретановая или виниловая пленка защищает ручки дверей и другие хромированные элементы капота, крыши, багажника и других деталей кузова от царапин, сколов и ударов, которые могут возникнуть в результате попадания камней, песка и других мелких предметов на дороге. Она создает дополнительный слой защиты, предотвращая повреждения лакокрасочного и хромированного покрытия.</li>
                  <li>Защита от химических воздействий. Химические вещества, соли, кислоты, дожди и различные агрессивные составы могут негативно влиять на внешний вид и состояние автомобиля. Покрытие обладает способностью защищать кузов от воздействия химических веществ, помогая сохранить его состояние на протяжении длительного времени.</li>
                </ul>`
              },
              {
                header: 'Процесс установки антихрома',
                body: `<p>Установка пленки на хромированные элементы, кузов и лобовое стекло производится профессионально специалистами детейлинг-центра “Полимер”, которые имеют опыт и знания в данной области. Процесс установки включает в себя следующие этапы:</p>
                <ul>
                  <li>Подготовка поверхности. Перед установкой бронепленки поверхность автомобиля должна быть тщательно очищена и подготовлена. Это включает удаление пыли, грязи, жира и других загрязнений, чтобы обеспечить хорошее сцепление пленки с кузовом.</li>
                  <li>Оклейка автомобиля. Покрытие аккуратно наносится на выбранные участки, такие как передний бампер, капот, заднее крыло, зеркала и другие подверженные повреждениям или нуждающиеся в декоре зоны.</li>
                  <li>Финал. После установки мастера проверяют, чтобы пленка полностью прилегала к поверхности и отсутствовали пузыри или складки. Они также могут осуществить оклейку специальной защитной пленкой других элементов, таких как оптика, пороги, передние и задние двери.</li>
                </ul>`
              },
              {
                header: 'Преимущества',
                body: `<p>Почему стоит выбрать пленку?</p>
                <ul>
                  <li>Эффективная защита. Покрытие обладает высокой эффективностью в защите автомобиля от воздействий внешней среды. Благодаря этому оно способно предотвратить множество неприятностей, связанных с механическими и химическими повреждениями.</li>
                  <li>Долговечность. При бронировании используется качественная пленка, которая обладает долгим сроком службы, обеспечивая долговременную защиту для авто.</li>
                  <li>Разнообразие вариантов. Пленки от разных производителей отличаются по характеристикам и цене, могут быть матовыми и прозрачными.</li>
                  <li>Удобное решение. Оклейка таким способом производится быстро и удобно. Записывайтесь к мастерам студии детейлинга на сайте компании и получайте профессиональное выполнение работ.</li>
                </ul>`
              }]

block main
    script.
        document.title = "Антихром на авто в СПб — цена оклейки антихромом элементов авто";
        document.getElementsByTagName('meta')["description"].content ="Антихром на авто в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Антихром на авто
        +slipper(toningPrimarySlider)

        div.main_content
            p «Антихром» – это изменение внешнего вида хромированных деталей для придания авто
                b  уникального стиля.
                span  В зависимости от сложности элемента он или клеится в пленку или краситься

            +modalBtn('Оставить заявку', 'full')

    section
        h2 Преимущества тонировки
        +points(toningPoints)


    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            div Мы используем
                b  сертифицированные материалы разрешенные ГОСТом
                span  и тонируем стекла автомобиля с учетом всех требований законодательства

    section
        h2 Этапы
        +carousel(toningSteps)

    section
        h2 Результаты
        +slipper(toningExSlider)

    section
        a.btn(href='prices_toning.html' style='color: #fff') Таблица с ценами

    include ./components/advantages
