extends components/layout

block variables
    -
        const toningPrimarySlider = [{ className: "toning_title", id: 1, img: './assets/img/toning/primary_3.webp'},
            { className: "toning_title", id: 2, img: './assets/img/toning/primary_4.webp'}]
    -
        const toningPoints = [{ id: 1, text: '<b>Защита</b> обивки салона от выгорания на солнце'},
            { id: 2, text: '<b>Создание личного пространства</b>, вам станет комфортнее находиться внутри салона'},
            { id: 3, text: '<b>Укрепление</b> стекол от сколов и ударов'},
            { id: 4, text: '<b>Конфиденциальность:</b> тонировка боковых и задних стекол снижает привлекательность ТС для злоумышленников, скрывая от посторонних глаз вещи, оставленные внутри'}]
    -
        const toningSteps = [{ className: 'toning_step', id: 1, text: 'Приём автомобиля', desc: 'Мойка и обезжиривание автомобиля', img: './assets/img/toning/step_1.webp'},
            { className: 'toning_step', id: 2, text: 'Подготовка пленки', desc: 'Определяемся с материалом тонировки', img: './assets/img/toning/step_2.webp'},
            { className: 'toning_step', id: 3, text: 'Установка пленки', desc: 'В зависимости от выбранного материала и объема работ тонирование занимает от 1 до 3 часов', img: './assets/img/toning/step_3.webp'},
            { className: 'toning_step', id: 4, text: 'Выдача автомобиля клиенту', desc: 'Чистится ЛКП с помощью специальной глины, обезжиривание поверхностипервого слоя керамики', img: './assets/img/toning/step_4.webp'}]
    -
        const toningExSlider = [{ className: "toning_ex_item", id: 1, img: './assets/img/index/toning_1.webp'},
            { className: "toning_ex_item", id: 2, img: './assets/img/index/toning_2.webp'},
            { className: "toning_ex_item", id: 3, img: './assets/img/index/toning_3.webp'},
            { className: "toning_ex_item", id: 4, img: './assets/img/toning/ToningResults/1.webp'},
            { className: "toning_ex_item", id: 5, img: './assets/img/toning/ToningResults/2.webp'},
            { className: "toning_ex_item", id: 6, img: './assets/img/toning/ToningResults/3.webp'}]
    -
        const toningPrices = [{ name: 'mini_toning', price: 'от 8 000 ₽' },
            { name: 'mid_toning', price: 'от 10 000 ₽' },
            { name: 'business_toning', price: 'от 14 000 ₽' }]
    -
        const toningFAQ = [{ header: 'Есть ли гаратия на тонировку 15%?', body: 'Да, мы даем гарантию 1 год на нашу работу и 5 лет гарантии на пленку.'},
            { header: 'Сколько занимает процесс тонировки 15%?', body: 'Зависит от марки автомобиля и количества стекол, которые необходимо затонировать. Одно стекло — от 20 минут. Тонировка всех стекол займет до трех часов.'},
            { header: 'Можно ли тонировать передние стекла автомобиля?', body: 'Есть ряд ограничений. Самое главное —это светопропускаемость. Для лобового стекла она должна быть не менее 75%'},
            { header: 'Пленка 15% клеется снаружи или изнутри?', body: 'Тонирующая и атермальная пленка клеятся изнутри. Бронирующая — снаружи.'},
            { header: 'Когда можно мыть автомобиль после тонировки 15%?', body: '- После оклейки пленками изнутри мыть автомобиль можно сразу. <br/>- При установке Пленок снаружи — через 7 суток.'},
            { header: 'Как ухаживать за пленкой 15%?', body: 'Протирать чистой мягкой тряпкой. Возможно применение чистящих средств для стекол.'}]
    -
        const toningCarFAQ = [{
            header: 'Преимущества тонировки 15%',
            body: '<p>Защитная или атермальная тонировка стекол автомобиля 15 процентов становится все более популярной среди владельцев джипов, кроссоверов и любых других моделей. Перечислим несколько преимуществ тонирования стекол 15%:</p><ul><li>Защита от солнца. Тонировка способна существенно снизить проникновение солнечных лучей в салон машины, что позволяет сохранять прохладу в жаркую погоду. Это особенно важно при длительных поездках и в городах с жарким климатом.</li><li>Комфорт вождения. Благодаря тонировке стекол автомобиля, водитель и пассажиры получают дополнительную приватность и уменьшение ослепительных бликов от солнца. Это способствует повышению комфорта во время поездок и улучшению видимости на дороге.</li></ul>',
          },
          {
            header: 'Услуги тонировки стекол автомобиля',
            body: '<p>АЦ “Полимер” предлагает профессиональные услуги тонировки авто 15 процентов, учитывая все требования и пожелания заказчика. Мы работаем для вашего комфорта и гарантируем следующие преимущества:</p><ul><li>Разнообразие выбора. Предлагаем широкий выбор тонировочных пленок различной степени пропускания света и оттенков, чтобы удовлетворить спрос. Можно выбрать тонировку для передних стекол, задней полусферы и форточек.</li><li>Профессиональное выполнение тонирования. Мастера детейлинг центра обладают богатым опытом в сфере тонировки автомобильных стекол. Затонируем машину качественно, быстро и удобно, обеспечивая чистоту и аккуратность во время работы.</li><li>Доступные цены и акции. Понимаем важность экономии, поэтому предлагаем услуги тонировки стекол по недорогим ценам. Кроме того, регулярно проводим акции и предлагаем скидки на тонировку машин, чтобы сделать услуги еще более доступными по цене.</li></ul><p>Затонировать машину с помощью АЦ “Полимер” — правильный выбор! Обратитесь к специалистам и насладитесь комфортом и стильным внешним видом автомобиля. Подробнее о наших ценах, услугах и акциях можно узнать на сайте или позвонить по телефону, указанному в контактах, для связи с менеджером.</p>'}]


block main
    script.
        document.title = "Тонировка авто 15 процентов в СПб — цена тонирования стекол автомобиля 15%";
        document.getElementsByTagName('meta')["description"].content ="Тонировка авто 15 процентов в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 Тонировка авто 15 процентов
        +slipper(toningPrimarySlider)

        div.main_content
            p Обеспечьте дополнительную
                b  безопасность автомобилю
                span  с помощью тонировки 15%

            +modalBtn('Оставить заявку', 'full')

    section
        h2 Преимущества тонировки 15%
        +points(toningPoints)


    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            div Мы используем
                b  сертифицированные материалы разрешенные ГОСТом
                span  и тонируем стекла автомобиля с учетом всех требований законодательства

    section
        h2 Виды тонировочных пленок

        div.info_box
            div(class='cards_item frame')
                h4 атермальная
                img.frame(src='./assets/img/toning/types_1.webp')
                p Прозрачная пленка для защиты салона от выгорания, разрешена ГОСТом
            div(class='cards_item frame')
                h4 тонирующая
                img.frame(src='./assets/img/toning/types_2.webp')
                p Темная пленка для защиты салона от солнечных лучей и посторонних глаз
            div(class='cards_item frame')
                h4 бронирующая
                img.frame(src='./assets/img/toning/types_3.webp')
                p Прозрачная пленка для защиты пассажиров от осколков стекла при аварии и для предотвращения проникновения. Бронированное стекло противостоит ударам кулаками, ногами, камнями и палками.

    section
        h2 Этапы оклейки
        +carousel(toningSteps)

    section
        h2 Результаты
        +slipper(toningExSlider)

    section
        h2 Стоимость евротонировки
        +prices(toningPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        h2 Бренды тонировочных пленок
        div.usage
            img(src='./assets/img/toning/brand_1.webp', alt="")
            img(src='./assets/img/toning/brand_2.webp', alt="")
            img(src='./assets/img/toning/brand_3.webp', alt="")
            img(src='./assets/img/toning/brand_4.webp', alt="")
            img(src='./assets/img/toning/brand_5.webp', alt="")
            img(src='./assets/img/toning/brand_6.webp', alt="")
            img(src='./assets/img/toning/brand_7.webp', alt="")

    section
        a.btn(href='prices_toning.html' style='color: #fff') Таблица с ценами

    include ./components/advantages

    section
        h2 Популярные вопросы
        +microFaq(toningFAQ)

    section
        h2 Тонировка авто 15%
        +spoiler(toningCarFAQ)
