extends ./components/layout

block variables
    -
        const cards = [
            {
                'text': `<b>Оформляем официальный акт приема-передачи</b> <p>Наше взаимодействие с клиентом всегда честное</p>`,
                'icon': './assets/img/warranty/factor_1.webp'
            },
            {
                'text': '<b>На нас все материальные обязательства за ваш автомобиль</b> <p>По договору мы ответственны за ваш автомобиль, пока он находится в работе</p>',
                'icon': './assets/img/warranty/factor_2.webp'
            },
            {
                'text': '<b>1 год гарантии</b> <p>После выполненных работ подписываем документ на 1 год официальной гарантии</p>',
                'icon': './assets/img/warranty/factor_3.webp'
            }
        ];

    -
        const warrantyFAQ = [
            {
            header: 'Мойка',
            body: '<p>Чтобы керамическое покрытие сохраняло свои свойства, автомобиль следует мыть раз в две недели. Чтобы избежать чрезмерного накопления загрязнений.</p>' +
                    ' <ul><li>Используйте только рекомендуемые мягкие мыла.</li>' +
                    '<li>Избегайте мойки с щетками и моющих средств с высоким уровнем pH.</li>' +
                    '<li>Избегайте мытья под прямыми солнечными лучами, чтобы свести к минимуму образование пятен и попадание воды.</li>' +
                    '<li>Мытье от крыши вниз, оставляя самые грязные секции последними, избегая возможного перекрестного загрязнения.</li></ul>'
            },
            {
                header: 'Сушка',
                body: '<p>Всегда полностью сушите автомобиль, используя чистое, мягкое безворсовое полотенце из микрофибры, или воздуходувку. </p>' +
                        '<p>Никогда не позволяйте воде испаряться самостоятельно. Водопроводная вода может содержать минералы, которые оставляют отложения на вашем покрытии, создавая нежелательные пятна. </p>' +
                        '<p>Для лучшего результат используйте полотенца из микрофибры, разработанные для впитывания воды. Всегда избегайте агрессивного протирания.</p>'
            },
            {
                header: 'Детализация',
                body: '<p>Для лучшего результата следуйте шагам стирки и сушки, описанным выше. </p>' +
                        '<p>Вы можете применить XPEL Ceramic Boost для придания блеска и гладкости. </p>' +
                        '<p>Избегайте нанесения XPEL Ceramic Boost под прямыми солнечными лучами, чтобы минимизировать образование полос и пятен от воды.</p>'
            },
            {
                header: 'Удаление пятен или загрязнений поверхности',
                body: '<p>Никогда не используйте агрессивные продукты для полировки покрытия или удаления поверхностных загрязнений.</p>'
            },
            {
                header: 'График техосмотра',
                body: '<p>Каждые 12-18 месяцев, нужно посещать сертифицированного установщика FUSION PLUS, который наносил ваше оригинальное покрытие.</p>' +
                        '<p>Соблюдение этих правил гарантирует сохранность защитных свойств Fusion Plus на максимально долгий срок</p>'
            },
        ]


block main
    section.index
        div(class='frame warranty_title')
            h1 Гарантия и уход за керамическим покрытием

            div Защитите свой автомобиль с помощью гидрофобного керамического покрытия FUSION PLUSTM
            +modalBtn('Оставить заявку *', 'full')

            p.warranty_title_block *Узнайте точную стоимость и получите подарок на выбор

    section(style='text-align: center;')
        h2 Как работает гидрофобная защита FUSION PLUS
        p Керамическое покрытие герметизирует поверхность на молекулярном уровне
        b Защищает от:

        div.warranty_protection
            div.warranty_protection_item
                img(class='cards_icon' src='./assets/img/warranty/protection_1.webp' alt="#")
                p Загрязнений окружающей среды

            div.warranty_protection_item
                img(class='cards_icon' src='./assets/img/warranty/protection_2.webp' alt="#")
                p Ультразвуковых лучей

            div.warranty_protection_item
                img(class='cards_icon' src='./assets/img/warranty/protection_3.webp' alt="#")
                p Кислот и дорожной химии

            div.warranty_protection_item
                img(class='cards_icon' src='./assets/img/warranty/protection_4.webp' alt="#")
                p Ультразвуковых лучей

    section
        h2 С покрытием
            span.accent  FUSION PLUS
            span  ваше авто получит:

        div.anchors
            div.warranty_fusion
                div.warranty_fusion_item(style=`background-image: url("./assets/img/warranty/fusion_1.webp")`)
                    p
                        b Устойчивость к легким царапинам и выцветанию

                div.warranty_fusion_item(style=`background-image: url("./assets/img/warranty/fusion_2.webp")`)
                    p
                        b Гидрофобные свойства, которые отталкивают грязь и жидкости, облегчая очистку поверхностей

                div.warranty_fusion_item(style=`background-image: url("./assets/img/warranty/fusion_3.webp")`)
                    p
                        b Непревзойденный блеск

    section
        h2 доверие — главный фактор в нашей работе

        div.warranty_factors
            div(class='warranty_factors_item frame')
                img(class='cards_icon' src='./assets/icons/list.svg' alt="#")
                p
                    b Оформляем официальный акт приема-передачи
                p Наше взаимодействие с клиентом всегда честное

            div(class='warranty_factors_item frame')
                img(class='cards_icon' src='./assets/icons/checked.svg' alt="#")
                p
                    b На нас все материальные обязательства за ваш автомобиль
                p По договору мы ответственны за ваш автомобиль, пока он находится в работе

            div(class='warranty_factors_item frame')
                img(class='cards_icon' src='./assets/icons/shield.svg' alt="#")
                p
                    b 1 год гарантии
                p После выполненных работ подписываем документ на 1 год официальной гарантии

    section
        div.warranty_vars
            div.warranty_vars_item
                img(class='cards_icon' src='./assets/img/warranty/var_1.webp' alt="#")
                p
                    b Керамическое покрытие
                img.warranty_vars_item_arr(src='./assets/icons/chevron-right-double.svg' alt='')
                p
                    span.accent 1 год гарантии
                    span  на несмываемость

            div.warranty_vars_item
                img(class='cards_icon' src='./assets/img/warranty/var_2.webp' alt="#")
                p
                    b Оклейка
                img.warranty_vars_item_arr(src='./assets/icons/chevron-right-double.svg' alt='')
                p
                    span.accent гарантия производителя от 5 до 10 лет
                    span  на все пленки
                span(class='warranty_vars_item_block tip') при должном уходе пленка прослужит по максимому

    section
        h2 Как ухаживать за покрытием
        p(style='max-width: 500px; text-align: center; margin: 0 auto;') Соблюдение этих правил гарантирует сохранность защитных свойств Fusion Plus на максимально долгий срок

        +spoiler(warrantyFAQ)

    section
        h2 Результат
        div.anchors
            div.warranty_fusion
                img.warranty_result(src='./assets/img/warranty/result_1.webp' alt="#")
                img.warranty_result(src='./assets/img/warranty/result_2.webp' alt="#")

    section
        div.advantages
            div Оставьте заявку на
                b  бесплатную консультацию,
                span  и мы перезвоним Вам в течение
                b  20 минут

            +modalBtn('Оставить заявку *', 'consultation')

            p * Если заявка пришла после 20:00 – перезвоним не позднее 11.00 на следующий день
            img.advantages_img(src='./assets/img/index/phone.webp', alt='phone')

    section
        h2 Когда не действует гарантия
        p Настоящая ограниченная гарантия не распространяется на дефекты, вызванные:

        ul.warranty_list
            li
                p
                    b Несоблюдением руководства и инструкции компании
                p Воздействие физического контакта, включая, но не ограничиваясь, химическим злоупотреблением
                p.tip например, жесткими очищающими средствами и растворителями
                p Термическим злоупотреблением или ударом, а также неправильным использованием
                p.tip например, чрезмерное тепло и холод
            li
                p
                    b Неразумная или непреднамеренная порча продукта
            li
                p
                    b Элементы с известными или видимыми производственными дефектами на момент установки, включая, но не ограничиваясь, царапинами, потертостями, сколами на окрашенной поверхности
            li
                p
                    b Пораженные поверхности с покрытием из-за неправильной техники мойки, автомоек или неправильных моек, которые могут привести к истиранию защищенного слоя третьими лицами, уполномоченными Компанией
            li
                p
                    b Водные пятна — пятна от воды, вызванные минеральными отложениями (водный камень), которые, если их оставить сохнуть на краске и/или PPF, могут оставить пятно
            li
                p
                    b Поврежденными в результате столкновения, случайного повреждения, вандализма, пожара, наводнения, камней, столкновения, поверхностной ржавчины, рельсовой пыли, физического повреждения, распыления краски или дефектов производителя транспортного средства, которые могут быть охвачены планом защиты производителя
            li
                p
                    b Элементы, которые не были повторного покрыты после покраски или кузовного ремонта