extends components/layout

block variables
    -   const metaTitle = 'Покрытие авто жидким стеклом в СПб — цена покрытия авто жидким стеклом'
    -   const metaDescription = 'Покрытие авто жидким стеклом в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки'
    -
        const ceramicPrimarySlider = [{ className: "ceramic_title", id: 1, img: './assets/img/ceramic/primary_1.webp'},
            { className: "ceramic_title", id: 2, img: './assets/img/ceramic/primary_2.webp'},
            { className: "ceramic_title", id: 3, img: './assets/img/ceramic/primary_3.webp'},
            { className: "ceramic_title", id: 4, img: './assets/img/ceramic/primary_4.webp'}]
    -
        const ceramicPoints = [
            { id: 1, text: '<b>Защита</b> от  выцветания, абразивов, коррозии и насекомых'},
            { id: 2, text: '<b>Cамоочищение</b> — на ЛКП не скапливается вода, грязь, битум, дорожная сажа. Защита от дорожных реагентов, масел, ГСМУ '},
            { id: 3, text: '<b>Улучшение</b> внешнего вида автомобиля — покрытие увеличивает глубину цвета, сохраняет блеск и гладкость краски'},
            { id: 4, text: '<b>Сохранение</b> свойств покрытия в течение 1 года с момента нанесения'},
            { id: 5, text: '<b>Новизна</b> — с жидким стеклом автомобиль будет выглядеть, как новый'}]
    -
        const ceramicSteps = [{ className: 'ceramic_step', id: 1, text: 'Подготовка поверхности', desc: 'Мойка, обезжиривание автомобиля, очистка ЛКП специальной глиной от остатков загрязнений', img: './assets/img/ceramic/step_1.webp'},
            { className: 'ceramic_step', id: 2, text: 'Полировка кузова', desc: 'Устранение царапин и паутины с ЛКП автомобиля', img: './assets/img/ceramic/step_2.webp'},
            { className: 'ceramic_step', id: 3, text: 'Промежуточная мойка', desc: 'Удаление остатков пасты, сушка перед нанесением жидкого стекла', img: './assets/img/ceramic/step_3.webp'},
            { className: 'ceramic_step', id: 4, text: 'Первый слой жидкого стекла', desc: 'Подкрашивание сколов в цвет автомобиля, нанесение первого слоя жидкого стекла', img: './assets/img/ceramic/step_4.webp'},
            { className: 'ceramic_step', id: 5, text: 'Сушка под лампами', desc: 'Подготовка автомобиля ко второму слоя покрытия', img: './assets/img/ceramic/step_5.webp'},
            { className: 'ceramic_step', id: 6, text: 'Второй слой жидкого стекла', desc: 'Придание авто безупречного внешнего вида и гидрофобных свойств', img: './assets/img/ceramic/step_6.webp'},
            { className: 'ceramic_step', id: 7, text: 'Финальная сушка', desc: 'Образование прочной прозрачной пленки в течение 12 часов', img: './assets/img/ceramic/step_7.webp'},
            { className: 'ceramic_step', id: 8, text: 'Выдача автомобиля клиенту', desc: 'Полная готовность через 2-е суток. Индивидуальные исключения обсуждаются перед началом работ', img: './assets/img/ceramic/step_8.webp'}]
    -
        const ceramicExSlider = [{ className: "ceramica_ex_item", id: 1, img: './assets/img/index/ceramica_1.webp'},
            { className: "ceramica_ex_item", id: 2, img: './assets/img/index/ceramica_2.webp'}]
    -
        const ceramicPrices = [{ name: 'mini', price: `от  <s>36.400 ₽</s>  28.000 ₽` },
            { name: 'first', price: 'От <s>44.200 ₽</s> 34.000 ₽' },
            { name: 'second', price: 'От <s>49.400 ₽</s> 38.000 ₽' },
            { name: 'business', price: 'От <s>54.600 ₽</s> 42.000 ₽' },
            { name: 'grand', price: 'От <s>67.600 ₽</s> 52.000 ₽' }]
    -
        const ceramicFAQ = [
                { header: 'Защитное покрытие авто жидким стеклом: особенности процедуры', body: 'Покрытие авто жидким стеклом одна из самых эффективных процедур по защите кузова, которую предлагает детейлинг-центр “Полимер”. Суть этой услуги заключается в нанесении защитных покрытий, которые образуют прочный, устойчивый к внешним воздействиям защитный слой на поверхности авто. Такой защитный керамический слой обеспечивает улучшенную защиту лакокрасочного покрытия от механических повреждений, ультрафиолета, химических воздействий и других агрессивных факторов.'},
                { header: 'Этапы нанесения жидкого стекла', body: 'Подготовка к нанесению жидкого стекла включает в себя мойку и полировку кузова. Это необходимо для обеспечения максимальной адгезии защитного керамического состава с поверхностью кузова. Следующий этап - непосредственно нанесение керамики. Процесс нанесения жидкого стекла требует высокой квалификации и опыта, поскольку для этого важна аккуратность и точность действий. Защитный состав наносится тонким слоем на каждый элемент кузова. После нанесения жидкого стекла автомобиль проходит фазу полимеризации. Этот этап может длиться от нескольких часов до суток, в зависимости от используемого состава и условий сушки. Профессиональный автомобильный центр “Полимер” в Санкт-Петербурге предлагает услуги по нанесению жидкого стекла и защитных пленок. Это инвестиция в долговечность и внешний вид вашего автомобиля, которая обеспечивает ему надежную защиту и ухоженный вид.'},
            ]
    -
        const ceramicCoverageFAQ = [
            {header: 'Преимущества обработки кузова керамикой', body: '<p>В мире автодетейлинга существует множество способов защитить лакокрасочное покрытие кузова автомобиля от внешних воздействий, а также придать ему долговечный блеск. Одним из самых эффективных и популярных решений является покрытие кузова автомобиля керамикой. Рассмотрим преимущества и особенности процесса нанесения защитного керамического слоя, которое выглядит как жидкое стекло.</p><p>Основные преимущества покрытия кузова авто керамикой:</p><ul><li>Надежная защита всех элементов. Керамическое покрытие обеспечивает высокий уровень защиты автомобиля от различных внешних воздействий. Оно предотвращает появление мелких царапин, сколов и вмятин на поверхности, защищает от ультрафиолета и коррозии, а также облегчает очистку от пыли и грязи.</li><li>Идеальный блеск и насыщенный цвет заводского ЛКП. Нанесение керамического состава на кузов авто придает ему зеркальный блеск. Кроме того, покрытие усиливает глубину цвета лакокрасочного покрытия, делая автомобиль еще более привлекательным.</li><li>Долговечность и стойкость к внешним воздействиям. Керамика на автомобиль помогает защитить ЛКП, так как имеет высокую твердость, что делает покрытие долговечным и стойким к механическим повреждениям. Защищает капот от воздействия гравия, пыли с дороги, мелких царапин и других неблагоприятных факторов окружающей среды.</li><li>Гидрофобный эффект. Покрытие авто керамикой обладает гидрофобными свойствами, то есть отталкивает воду и жидкости. Это значит, что после дождя или мытья автомобиля вода будет скатываться с кузова, не оставляя на нем разводов или пятен. Такой эффект делает последующее обслуживание автомобиля более удобным и экономит время при его чистке.</li></ul>'},
            {header: 'Процесс нанесения защитного керамического покрытия', body: '<p>Нанесение керамического покрытия на авто — профессиональная процедура, которую лучше доверить опытным специалистам детейлинг-центра “Полимер”. Вот основные этапы этого процесса:</p><ol><li>Подготовка поверхности. Перед нанесением необходимо тщательно очистить кузов от налета и загрязнений. Для этого используются специальные средства от известных брендов и техники, полировка кузова и удаление мелких царапин, в том числе и с лобового стекла.</li><li>Нанесение защитного слоя. Защитный керамический состав наносится мастером на поверхность кузова с помощью специальных аппликаторов или аэрозольного распылителя. Затем покрытие аккуратно распределяется и выравнивается по всей поверхности, образуя тонкий и прочный слой.</li><li>Завершающие работы. После нанесения керамического покрытия производится его полимеризация и закрепление. Это требует определенного времени для высыхания или применения специальных инфракрасных ламп. По окончании процесса автомобиль готов к эксплуатации.</li></ol><p>Покрытие авто керамикой является надежным и эффективным способом сохранить ЛКП и защитить кузов от внешних воздействий. АЦ “Полимер” предлагает качественные, комплексные и профессиональные услуги по детейлингу, направленные на защиту авто. Детейлинг-студия предлагает клиентам просмотреть выполненные работы и отзывы других автомобилистов об эффективности и качестве услуг. </p>'}]

block main
    script.
        document.title = "Покрытие авто жидким стеклом в СПб — цена покрытия авто жидким стеклом";
        document.getElementsByTagName('meta')["description"].content ="Покрытие авто жидким стеклом в Санкт-Петербурге от автомобильного центра “Полимер”. Современное оборудование для детейлинга машин, выполнение задач любой сложности в СПб, гарантия на все виды услуг для авто, доступные цены и скидки"

    section.main
        h1 ЖИДКОЕ СТЕКЛО
        +slipper(ceramicPrimarySlider)

        div.main_content
            p Защитите автомобиль от царапин, грязи и химических реагентов с помощью жидкого стекла с
                b  гарантией 1 год.
            p Только до 31 декабря – скидка 30% + антидождь стекол и уборка салона ЛЮКС в подарок

            +modalBtn('Оставить заявку', 'full')

    section
        div(class='info info_box')
            img.info_icon(src='./assets/icons/info.svg', alt="")
            p
                b Жидкое стекло
                span  — это полимер, который вступает в реакцию с ЛКП автомобиля, создавая на нем
                b прозрачную защитную пленку
            img.info_img(src='./assets/img/ceramic/info.webp', alt="")

    section
        h2 5 ПРИЧИН НАНЕСТИ ЖИДКОЕ СТЕКЛО
        +points(ceramicPoints)

    include ./components/protect

    section
        h2 Этапы нанесения жикого стекла
        +carousel(ceramicSteps)

    section
        h2 Результаты
        div.examples_item
            +slipper(ceramicExSlider)

    section
        h2 Цены
        +prices(ceramicPrices)

        +modalBtn('Оставить заявку', 'full')

    section
        div.list
            h2 С нанесением
                span.accent  жидкого стекла в автоцентре “полимер”
                div  вы получите

            ul
                li
                    b 1 год гарантии
                    span  на несмываемость покрытия и на работу
                li
                    b Бесплатную контрольную мойку
                    span  через 7-10 дней для проверки качества работы
                li
                    b Чистые и отапливаемые боксы
                    span  со всем необходимым оборудованием
                li
                    b Лучшую
                    span  в своей ценовой категории
                    b  автохимию
                    span , прошедшую проверку временем в климате Санкт-Петербурга
                li
                    b Экономию до 300.000 рублей.
                    span  Ухоженный автомобиль при продаже будет стоить дороже

            +modalBtn('Оставить заявку на бесплатную консультацию', 'consultation')

    include ./components/advantages

    section
        h2 Популярные вопросы
        +spoiler(ceramicFAQ)
    section
        h2 Покрытие авто жидким стеклом
        +spoiler(ceramicCoverageFAQ)
