.primary_title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 30vh;
  padding: 60px 20px;
  color: #FFFFFF;
  text-align: center;
  background-color: gray;
  background-image: url("../assets/img/index/primary.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_block {
    display: none;
  }
}

.main {

  &_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
  }
}

.longitude {
  overflow: scroll;
  overflow-scrolling: touch;
  margin: -16px -16px 0;

  &_content {
    display: flex;
    align-items: center;
    width: 900px;
    margin: 0 auto;

    img {
      width: inherit;
    }
  }
}

.examples {
  display: flex;
  flex-direction: column;

  h2 {
    width: 100%;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: linear-gradient(222.31deg, #F9556B 3.76%, #DA3831 82.36%);
  color: #FFFFFF;
  text-align: center;
  padding: 16px 12px;

  &_img {
    height: 32vh;
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 8px 0;
  }

  &_bg {
    display: none;
  }

  .btn {
    background: #FFFFFF;
    color: #DA3831;
  }

  & h2, & p, & button {
    z-index: 5;
  }
}

.ceramic_title.slider_item {
  height: 40vh;
  max-height: 35vh;

  > img {
    height: 105%;
    max-width: fit-content;
  }
}

.glass {
  display: flex;
  max-height: 400px;
  max-width: 900px;
  margin: 0 auto;

  & picture {
    display: flex;
    justify-content: center;
  }

  & img {
    max-height: available;
    max-height: -moz-available;
    max-height: -webkit-fill-available;
    width: 100%;
  }
}

.list {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/img/index/logo_red.webp");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right;

  ul {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 16px 24px;
    gap: 12px;
  }

  .btn {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .main {

    &_content {
      gap: 28px;
    }
  }

  .longitude {
    margin: auto;

    &_content {
      width: 100%;
      max-width: 1240px;
    }
  }

  .examples {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    &_item {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;

      & > * {
        width: 48%;
      }

      & > h4 {
        width: 100%;
      }
    }
  }

  .promotion {
    padding: 20px 104px;
  }
}

@media (min-width: 1024px) {
  .primary_title {

    &_block {
      display: block;
      max-width: 460px;

      .btn {
        margin: 60px 0 20px;
      }
    }

    ~ p {
      display: none;
    }
  }

  .examples {
    gap: 60px;

    //&_item {
    //  width: 38vw;
    //  max-width: 800px;
    //}
  }

  section.index {
    padding: 0 0 24px 0;
    min-height: 35vh;
  }

  #services {
    ~ .btn, ~ p {
      display: none
    }
  }

  .promotion {
    background: linear-gradient(222.31deg, #F9556B 3.76%, #DA3831 82.36%);
    color: #FFFFFF;
    padding: 44px;
    text-align: left;

    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "header btn"
      "text btn";

    h2 {
      grid-area: header;
      text-align: left;
      text-transform: none;
    }

    &_img {
      display: none;
    }

    &_bg {
      display: flex;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
    }

    p {
      grid-area: text;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
    }

    .btn {
      grid-area: btn;
    }
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "slider header"
      "slider content"
      "slider content";
    margin-bottom: 16px;
    gap: 36px;
    align-items: center;

      h1 {
        grid-area: header;
        text-align: left;
      }

     .slider, .slipper, .glass {
       grid-area: slider;
       max-width: 40vw;
      }

      &_content {
        grid-area: content;
        background: linear-gradient(222.31deg, #F9556B 3.76%, #DA3831 82.36%);
        color: #FFFFFF;
        padding: 30px 24px;
        border-radius: 10px;

        h2 {
          text-align: left;
          * {
            color: #FFFFFF;
          }
        }

        .btn {
          background: #FFFFFF;
          color: #DA3831;
        }
      }
  }

  .list {
    gap: 20px;
    background: linear-gradient(222.31deg, #F9556B 3.76%, #DA3831 82.36%);
    border-radius: 10px;
    padding: 40px;

    ul {
      display: flex;
      flex-direction: column;
      padding: 16px 16px 16px 24px;
      gap: 12px;
    }

    * {
      color: #FFFFFF;
    }

    .btn {
      background: #FFFFFF;
      color: #DA3831;
    }
  }
}

@media (min-width: 1440px) {
  .primary_title {

    &_block {
      max-width: 600px;
    }
  }

  .main {

    .slider {
      max-width: unset;
    }
  }
}