@import './nullstyle';

/* all doc styles */

html {
	font-family: 'Montserrat';
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	padding-top: 90px;

	@media(max-width: 1024px) {
		padding-top: 0;
	}
}

.container {
	min-width: 320px;
	max-width: 1960px;
	margin: 0 auto;
	position: relative;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 12px 16px;
	position: relative;
}

h1 {
	font-weight: 700;
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	margin: 4px 0;
}

h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 20px;
}

.frame {
	width: 100%;
	overflow: hidden;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	position: relative;
}

.btn {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	padding: 16px;
	width: available;
	width: -moz-available;
	width: 100%;
	background: linear-gradient(222.31deg, #F9556B 3.76%, #DA3831 82.36%);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px;

	&.disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	&_back {
		border-radius: 100%;
		width: 94px !important;
		height: 94px !important;

		position: fixed;
		right: 4%;
		bottom: 8%;
		z-index: 5;
	}
}

.input {
	width: 100%;
	font-size: 18px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 8px 16px;

	&_check {
		position: absolute;
		opacity: 0;

		&+label {
			display: inline-flex;
			align-items: center;
			cursor: pointer;

			&::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				min-width: 20px;
				border: 2px solid #FFFFFF;
				border-radius: 4px;
				margin-right: 20px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 70% 70%;
			}
		}

		&:checked+label::before {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
		}
	}

	&_radio {
		position: absolute;
		z-index: -5;
		opacity: 0;

		&+label {
			display: inline-flex;
			align-items: center;
			cursor: pointer;

			&::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				min-width: 20px;
				border: 2px solid #FFFFFF;
				border-radius: 100%;
				margin-right: 20px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 70% 70%;
			}
		}

		&:checked+label::before {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
		}
	}
}

.info {
	position: relative;
	padding: 20px;
	color: #FFFFFF;
	background: linear-gradient(129.53deg, #F9556B 4.33%, #717070 72.61%);
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	border-radius: 10px;

	&_box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 16px;
	}

	&.white {
		background: #FFFFFF;
		color: #000;
	}

	&_icon {
		width: 30px;
		height: 30px;
		margin-bottom: 8px;
	}

	p {
		padding-right: 25%;
	}

	&_list {
		display: grid;
		gap: 4px;
		padding: 16px;
	}

	&_img {
		position: absolute;
		bottom: -20%;
		right: -5%;
		max-width: 20vh;
	}
}

.usage {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 12px;

	& > * {
		max-width: 45%;
	}
}

.accent {
	color: #DA3831;
}

.anchor {
	position: absolute;
	top: -90px;
}

.link {
	color: #DA3831 !important;
	text-decoration: underline !important;
	white-space: nowrap;
}

.row {
	display: flex;
	align-items: center;
	gap: 16px;
}

/* components styles */

@import './components/advantages';
@import './components/header';
@import './components/footer';
@import './components/modal';

/* blocks styles */

@import './blocks/cards';
@import './blocks/carousel';
@import './blocks/points';
@import './blocks/prices';
@import './blocks/reviews';
@import './blocks/slider';
@import './blocks/slipper';
@import './blocks/spoiler';
@import './blocks/table';
@import './blocks/videoSlider';

/* pages styles */
@import 'pages';

/* media */
@import 'media';